<!--{include file="public/head_admin.html"}-->
<body>
<div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
		    <dd><a href="#" onclick="javascript:history.back();" class="last">模板文件</a></dd>
            <dt class="on"><a href="#">新建模板文件</a></dt>
          </dl>
        </div>
        <form method='post' action="<!--{$urlArr.saveUrl}-->" id='myForm'>
        <!-- 隐藏域  -->
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="145"><font>*</font> 文件名称：</th>
                  <td><input type="text" value="" name='filename' id='filename' <!--{if $fileinfo.system eq 1}-->readonly<!--{/if}--> class="Iw290"/></td>
                </tr>
                <tr>
                  <th valign="top">文件描述：</th>
                  <td><input type="text" value='' id='describe' name='describe' class="Iw290"/></td>
                </tr>
                <tr>
                  <th valign="top"><font>*</font> 参考标签：</th>
                  <td>
                  <!--{section name="tagname" loop="$tagHelp"}-->
                  <span style='width:100px;display:block;float:left'><input type="button" hidefocus="hide" value="<!--{$tagHelp[tagname]}-->" class="btn2" onclick='showTagHelp("<!--{$tagHelp[tagname]}-->")'></span>
                  <!--{if $smarty.section.tagname.iteration%4 eq 0 and !$smarty.section.tagname.last}--><div class="height16"><!--{/if}--></div>
                  <!--{/section}-->
                  </td>
                </tr>
                <!-- 标签帮助 开始-->
                <tr id='taghelp'>
                </tr>
                <!-- 标签帮助 结束-->
                <tr>
                  <th valign="top"><font>*</font> 模板代码：</th>
                  <td><textarea class="Iw450 Ih80" style="height:220px;" name='content' id='content'></textarea></td>
                </tr>
              </table>
            </div>
             <div class="pubTabelBot">
                <input type="button" hidefocus="hide" value="确定" onclick='javascript:formSubmit();' class="btn1"><input type="button" hidefocus="hide" value="取消"  onclick="javascript:history.back();" class="btn2">
              </div>
          </div>
        </div>
        </form>
      </div>
    </div>
   <script src="<!--{$jspath}-->/pubJq.js"></script>
  
<script type="text/javascript">
$(document).ready(function() { 
	 $('#taghelp').hide(); 
	 //验证
	 $.formValidator.initConfig({autotip:true,formid: "myForm", debug:false,onError: function(msg) {}, onSuccess: function() {}});
	 $("#describe").formValidator({onshow:" ",onfocus:"请输入2～30个字符，由汉字、数字、字母、符号组成",oncorrect:"输入正确",empty:true}).inputValidator({min:2,max:30,onerror:"请输入2～30个字符，由汉字、数字、字母、符号组成"});
	 $("#content").formValidator({onshow:"请输入模板内容",onfocus:"请输入模板内容",onempty:'请输入模板内容',oncorrect:"输入正确"}).inputValidator({min:1,onerror:"请输入模板内容"});;
	 $("#filename").formValidator({onshow:"请输入2～30个字符，由数字、字母、符号组成的html文件",onfocus:"请输入2～30个字符，由数字、字母、符号组成的html文件",onempty:'请输入2～30个字符，由数字、字母、符号组成的html文件',oncorrect:"输入正确"}).inputValidator({min:2,max:30,onerror:"请输入2～30个字符，由数字、字母、符号组成的html文件"}).regexValidator({regexp:"^(\\w)+(\\.html)$"})
	 .ajaxValidator({
					type:"get",
					url : "<!--{$urlArr.checkFileNameUrl}-->?filename="+$('#filename').val(),
					success : function(data)
					{	
						if(data==1)
							return false;
						else
							return true;
					},
					buttons: $(".btn2"),
					error: function(jqXHR, textStatus, errorThrown){onerror: "可能服务器忙，请重试"},
					onerror : "该文件已被占用，请换一个",
					onwait : "正在对文件名进行合法性校验，请稍候..."
				});
});
function showTagHelp(tagname)
{
	var oldtag = $('#oldtag').val();
	if(oldtag != tagname || !oldtag)
	{
		$('#taghelp').show(); 
		$.ajax({
			  type:"POST",
			  url:"<!--{$urlArr.getTagUrl}-->",
			  data:"tagname="+tagname,
			  success:function(msg){
				 $('#taghelp').html(msg);
			  }
	  	});
	 }
	 if(oldtag == tagname)
	 {
		 $('#oldtag').val('');
		 $('#taghelp').hide();
	 }
}
</script>
</body>
</html>
