<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
		  <dd><a href="<!--{$baseurl}-->/extensions/link/index" class="last">内链关键词列表</a></dd>
            <dt class="on"><a href="#">添加内链关键词</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="145px"><font>*</font> 关键词：</th>
                  <td colspan="3"><input type="text" value="" class="Iw290" style="width:180px;"/>&nbsp;&nbsp;&nbsp;&nbsp;<b>B</b>&nbsp;&nbsp;&nbsp;<b>T</b>&nbsp;&nbsp;
                  <span class="warnBlue warnBlue_bg">请按RGB填写颜色值，多个值之间用'；'分隔。默认黑色。</span></td>
                </tr>
                <tr>
                  <th>&nbsp; 链接地址：</th>
                  <td colspan="3"><input type="text" value="http://mocms.com" class="Iw290 C999"/></td>
                </tr>
                <tr>
                  <th>&nbsp; 状态：</th>
                  <td colspan="3"><span>
                    <input type="checkbox" checked="checked">
                    <label>开启</label>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th valign="top">&nbsp; 栏目选择：<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  	<span>
                    <input type="checkbox" checked="checked">
                    <label>全选</label>
                    </span></th>
                  <td colspan="3">
                  	<span><input type="checkbox" checked="checked">&nbsp;<label>关于我们</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>加入我们</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>联系我们</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>网站地图</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>网站中心</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>公司公告</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>行业资讯</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>产品中心</label></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><input type="checkbox" checked="checked">&nbsp;<label>留言中心</label></span>
                  </td>
                </tr>
              </table>
              <div class="pubTabelBot">
                <input type="button" hidefocus="hide" value="确定" class="btn1">
                &nbsp;&nbsp;&nbsp;
                <input type="button" hidefocus="hide" value="取消" class="btn2">
              </div>
            </div>
            <div class="notice2" style="border-bottom:#d3e0e9 1px solid"><span class="notice_warnblue">备注说明：内链关键词是对网站所有信息内容页内容的全局设置，设置后内容中的相应关键词根据设置格式显示，并指向所设置的链接地址</span></div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
