<table id="upgrade">
	<tr>
		<td><span class="f789">您当前使用的版本为<!--{$Info.c_version}--> (最后新更新时间<!--{$Info.u_time}-->)</span></td>
		<td class="tac"><a href="#" style="cursor:default" class="underline f789">爱站CMS <!--{$Info.s_version}--></a> 现已发布(有可用升级包)<a href="javascript:;"  onclick="_MP('47','/admin/webset/upgrade/check','1');" class="btn orgBtn1">现在就更新</a>&nbsp;<span id="update-tips"></span></td>
		<td class="tar"><a href="http://www.izhancms.com/category/Category/index/cid/1" target="_blank">更多程序信息<s></s></a>&nbsp;&nbsp;<a href="http://www.izhancms.com/category/Category/list/cid/5" target="_blank">帮助<s></s></a></td>
	</tr>
</table>