<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>添加分类</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/validator.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/pubJq.js"></script>
<script src="<!--{$jspath}-->/level.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/formvalidator.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/formvalidatorregex.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dd><a href="<!--{$baseurl}-->/extensions/Specialassort/index">专题分类</a></dd>
			<dt class="on"><a href="#">添加分类</a></dt>         
          </dl>
        </div>
       <form method="POST" action="<!--{$baseurl}-->/extensions/Specialassort/add" id="formid" >
        <div class="TabBoxC mt10">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="150px"><font>*</font>分类名称：</th>
                  <td>
					<input type="text" name="type_name" id="name" class="Iw290" style="width:275px;"/>&nbsp;&nbsp;<span></span>
				  </td>
                </tr>
                <tr>
                  <th>&nbsp; 父级分类：</th>
                  <td><select class="Iw290" style="width:302px;" id="pid" name="pid">
                      <option value="0">顶级分类</option>
					  <!--{foreach from=$sort_tree item=l}-->
					  <option value="<!--{$l.id}-->" <!--{if $param.sortid eq $l.id}-->selected<!--{/if}-->><!--{$l.type_name}--></option>
					  <!--{/foreach}-->
                    </select></td>
                </tr>            
              </table>
            </div>
            <div class="pubTabelBot">
                <input type="submit" value="确定" class="btn1">
                <input type="button" value="取消" onclick="location.href='<!--{$baseurl}-->/extensions/Specialassort/index'" class="btn2">
              </div>
          </div>		  
        </div>
       </form>
      </div>
    </div>
</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
$.formValidator.initConfig({formid:"formid",autotip:true,generalwordwide:true});

$("#name").formValidator({onshow:"请输入2-50个字符，由数字、字母、汉字组成",onfocus:"请输入2-50个字符，由数字、字母、汉字组成",oncorrect:"输入正确"})
.inputValidator({min:2,max:50,onerror:"请输入2-50个字符，由数字、字母、汉字组成"}).regexValidator({regexp:['only'],datatype:"enum",onerror:"请输入2-50个字符，由数字、字母、汉字组成"});

$("#pid").formValidator({onshow:"请选择父级分类",onfocus:"请选择父级分类",oncorrect:"选择正确"}).inputValidator({onerror: "请选择父级分类"});

});
</script>
