
<div class="TabBoxT">
                <dl class="navTab">
                    <dt class="b"><a href="<!--{$baseurl}-->/memorial/cemetery/update/id/<!--{$id}-->">陵园信息管理</a></dt>
                    <dt class="c"><a href="<!--{$baseurl}-->/memorial/cemetery/about/id/<!--{$id}-->">关于陵园</a></dt>
                    <dt class="d"><a href="<!--{$baseurl}-->/memorial/cemetery/scenery/id/<!--{$id}-->">陵园景观</a></dt>
                    <dt class="e"><a href="<!--{$baseurl}-->/memorial/cemetery/server/id/<!--{$id}-->">陵园服务</a></dt>
                    <dt class="f"><a href="<!--{$baseurl}-->/memorial/cemetery/map/id/<!--{$id}-->">地理位置</a></dt>

                    <!-- <dt class="h"><a href="#">客户服务</a></dt> -->
                </dl>
</div>