<span style="font-size: 12px;"><span style="font-family: 微软雅黑;">管理员<span style="color: rgb(255, 0, 0);">{name}</span>:</span></span>
<div style="margin-left: 40px;">
	<span style="font-size: 12px;"><span style="font-family: 微软雅黑;">您好，您使用了管理员找回密码功能，您的账户密码已重置为：<br />
	账户名：<span style="color: rgb(255, 0, 0);">{name}</span><br />
	密&nbsp;&nbsp; 码：<span style="color: rgb(255, 0, 0);">{password}</span><br />
	<br />
	新密码由系统随机生成，建议您登陆后及时修改。<br />
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(255, 0, 0);">{sitename}</span></span></span></div>
