<p style="text-align: left;">
	<span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">管理员</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">【</span><span style="color: rgb(255, 0, 0);"><span style="font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;"><font size="2">name</font></span></span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">】</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">：</span></p>
<p style="text-align: left;">
	<span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">&nbsp;</span></p>
<p style="text-align: left;">
	<span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">&nbsp; &nbsp; &nbsp;&nbsp; </span><span style="font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">您好，您使用了管理员找回密码功能，您的账户密码已重置为：{name}<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 账户名：<span style="color: rgb(255, 0, 0);">name</span><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 密&nbsp;&nbsp; 码<span style="color: rgb(0, 0, 0);">：</span><span style="color: rgb(255, 0, 0);">&lt;password&gt;</span></span></p>
<p style="text-align: left;">
	<span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">&nbsp; &nbsp; &nbsp; &nbsp; 新密码由系统随机生成，</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">建议</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;">您登录后及时更改密码。<br />
	<br />
	<br />
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
