<div class="u140" id="u140">
	<div id="u140_rtf">
		<div class="u140" id="u140">
			<div id="u140_rtf">
				<div class="u138_container" id="u138">
					<div class="u139" id="u139" style="visibility:hidden;">
						&nbsp;</div>
				</div>
				<div class="u140" id="u140">
					<div id="u140_rtf">
						<p style="text-align:left;">
							<span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">亲爱的会员</span><span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#FF0000;">{name}</span><span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">：</span></p>
						<p style="text-align:left;">
							<span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp; &nbsp; &nbsp; 恭喜您注册成功，本站域名为www.aiyiran.com</span></p>
						<p style="text-align:left;">
							<span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp; &nbsp; &nbsp; 感谢您成为本站会员，请点击以下链接完成邮件激活（如无法打打，请复制此链接到浏览器地址打开</span><span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">）</span><span style="font-family:微软雅黑;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#FF0000;">{link}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
