<ul id="guideUl">
	<li><a href="javascript:void(0)" onclick="window.open('<!--{$hostname}-->')">站点首页</a></li>
	<li><a href="javascript:void(0)" onclick="sitemap();">网站地图</a></li>
	<li><a href="javascript:void(0)" onclick="window.open('http://www.izhancms.com/category/Category/list/cid/5')">帮助中心</a></li>
	<li><a href="javascript:void(0)" onclick="window.open('http://www.izhancms.com')">官方网站</a></li>
	<li><a href="javascript:void(0)" onclick="window.open('http://www.izhancms.com/category/Category/list/cid/3')">模板中心</a></li>
	<li><a href="javascript:void(0)" onclick="window.open('http://bbs.izhancms.com')">支持论坛</a></li>
</ul>