<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/date.js"></script>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>                       
<body>
{include 'head.html'}
{include 'category.html'}
<div class="w" style="margin-bottom:0;">
  <div class="l ecoL">
    <div class="ecoBanner bder">{mo:articlelist cid='$cid' type='son' row='1' order='hits desc' return='data'}
      {foreach $data $k $v}
      <a href='{$v["url"]}' title='{$v["title"]}'><img width="298" height="229" src="{UPLOAD_PATH}/{$v['thumb']['src']}"/></a><span><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],18)}</a></span>
      {/foreach}
      {/mo:articlelist}</div>
    <div class="u bder" style="height:155px;">
      <div class="pubMod">
        <div class="T">
          <h3>{cid2name(78)}</h3>
        </div>
        <div class="C">
          <div class="mT3">
            <ul>
              {mo:articlelist cid='78' type='all' row='5' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],24)}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m">
    <div class="main" style="padding:0;">
      <div class="mainFour">
        {mo:articlelist cid='$cid' type='son' row='1' order='publishtime desc' return='data'}
      {foreach $data $k $v}
      <h1><a href='{$v["url"]}' title='{$v["title"]}'>{$v["title"]}</a></span></h1>
      <p>{$v["description"]}</p>
      {/foreach}
      {/mo:articlelist}
      </div>
      <div class="mainTwo ecoUlOne">
        <div class="C">
          <ul>
            {mo:articlelist cid='$cid' type='son' row='12' from='1' order='publishtime desc' return='data'}
          {foreach $data $k $v}
          <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],28)}</a></li>
          {/foreach}
          {/mo:articlelist}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="r ecoR">
    <div class="z bder zz">
      <div class="pubMod pad_b10">
        <div class="T"><span class="more"><a href="{getMoreUrl(274)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(274)}</h3>
        </div>
        <div class="C">
          <div class="busiPad">
          {mo:articlelist cid='274' row='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <a href='{$v["url"]}' title='{$v["title"]}' class="fbab">{csubstr($v["title"],16)}</a>
            <div class="picTxt ppt">
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img width="91" height="68" src="{UPLOAD_PATH}/{$v['thumb']['src']}"></a></div>
              <div class="txt">{csubstr($v['description'],20)}<a href='{$v["url"]}' class="fba">[详情]</a></div>
            </div>
              {/foreach}
              {/mo:articlelist}
          </div>
          <div class="busiPad"> {mo:articlelist cid='274' row='1' from='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <a href='{$v["url"]}' title='{$v["title"]}' class="fbab">{csubstr($v["title"],16)}</a>
            <div class="picTxt ppt">
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img width="91" height="68" src="{UPLOAD_PATH}/{$v['thumb']['src']}"></a></div>
              <div class="txt">{csubstr($v['description'],20)}<a href='{$v["url"]}' class="fba">[详情]</a></div>
            </div>
              {/foreach}
              {/mo:articlelist}
            <div class="mT3">
              <ul>
               {mo:articlelist cid='274' row='6' from='2' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/foreach}
              {/mo:articlelist}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="Madvert"><script language='javascript' src='{HOST_NAME}index/index/preview/id/72'></script></div>
<div class="wrap">
  <div class="o left">
    <div class="pubMod">
      <div class="T"><span class="more"><a href="{getMoreUrl(77)}">更多 &gt;&gt;</a></span>
        <h3 class="h3_1">{cid2name(77)}</h3>
      </div>
      <div class="C">
        <div class="imgDL">
          <div class="picTxt">
          {mo:articlelist cid='77' row='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img width="233" height="270" src="{UPLOAD_PATH}/{$v['thumb']['src']}"></a></div>
              <div class="txt txt1">
              <h4>{csubstr($v["title"],10)}</h4>
              <p>{csubstr($v['description'],28)}<a href='{$v["url"]}' class="fba">[详情]</a></p></div>
              {/foreach}
              {/mo:articlelist}
          </div>
          <div class="dlList">
          {php $sonids=getCategoryIds(77)}
		  {foreach $sonids $k $v}
          {if $k < 3}
	   		{mo:articlelist cid="$v"  row='1' order='publishtime' return='data'} 
              {foreach $data $sonkey $sonvalue}
              {php $n=$k+1;}
             {if $n==3 }
             <dl class="last">
             {else}
             <dl>
             {/if}
                <dt><b class="b{$n}">{cid2name($v)}</b><a href="{$sonvalue['url']}">{csubstr($sonvalue['title'],10)}</a></dt>
                  <dd>{csubstr($sonvalue['description'],36)}</dd>
                </dl>
              {/foreach}
	 		 {/mo:articlelist}
          {/if}
          {/foreach}
          </div>
        </div>
        <div class="mainTwo">
          <ul class="leftUl3">
            {mo:articlelist cid="77"  row='14' order='publishtime' return='data'} 
              {foreach $data $k $v}
                  <li><a href="{$v['url']}">{csubstr($v['title'],14)}</a></li>
              {/foreach}
	 		 {/mo:articlelist}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="o right">
    <div class="pubMod">
      <div class="T"><span class="more"><a href="{getMoreUrl(76)}">更多 &gt;&gt;</a></span>
        <h3 class="h3_2">{cid2name(76)}</h3>
      </div>
      <div class="C">
        <div class="imgDL">
          <div class="picTxt">
          {mo:articlelist cid='76' row='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img width="233" height="270" src="{UPLOAD_PATH}/{$v['thumb']['src']}"></a></div>
              <div class="txt txt2">
              <p><a href='{$v["url"]}'>{csubstr($v["title"],10)}</a></p></div>
              {/foreach}
              {/mo:articlelist}
          </div>
          <div class="dlList">
            <dl class="dl2">
            {mo:articlelist cid='76' from='1' row='1' return='data'}
              {foreach $data $k $v}
              <dt><a href='{$v["url"]}'>{csubstr($v["title"],13)}</a></dt>
              <dd>{csubstr($v['description'],35)}<a href='{$v["url"]}' class="fba">[详情]</a></dd>
              {/foreach}
              {/mo:articlelist}
            </dl>
            <dl class="last dl3">
            {mo:articlelist cid='76' from='2' row='1' return='data'}
              {foreach $data $k $v}
              <dt><a href='{$v["url"]}'>{csubstr($v["title"],13)}</a></dt>
              {/foreach}
              {/mo:articlelist}
              <dd>
                <div class="mainTwo">
                  <ul>
                  {mo:articlelist cid='76' from='3' row='6' return='data'}
                  {foreach $data $k $v}
                  <li><a href='{$v["url"]}'>{csubstr($v["title"],15)}</a></li>
                  {/foreach}
                  {/mo:articlelist}
                  </ul>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <div class="leftUl4">
          <ul>
          	 {mo:articlelist cid='76' row='3' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'><img width="140" height="140" src="{UPLOAD_PATH}/{$v['thumb']['src']}">{csubstr($v['title'],8)}</a></li>
              {/foreach}
              {/mo:articlelist}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="friendLink bder">
    <div class="T">
      <h3>友情链接</h3>
    </div>
    <div class="C">{include 'friendlink.html'}</div>
  </div>
</div>
{include 'footer.html'}