<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/date.js"></script>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'head.html'}
{include 'category.html'}
<div class="w" style="margin-bottom:0;">
  <div class="l ecoL">
    <div class="ecoBanner bder">{mo:articlelist cid='$cid' type='son' row='1' order='hits desc' return='data'}
      {foreach $data $k $v}
      <a href='{$v["url"]}' title='{$v["title"]}'><img width="298" height="229" src="{UPLOAD_PATH}/{$v['thumb']['src']}"/></a><span><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],18)}</a></span>
      {/foreach}
      {/mo:articlelist}</div>
    <div class="u bder" style="height:141px;">
      <div class="pubMod">
        <div class="T">
          <h3>{cid2name(89)}</h3>
        </div>
        <div class="C">
          <div class="cnbusi cnbusi2">
         	 {mo:articlelist cid='89' row='2' order='hits desc' return='data'}
              {foreach $data $k $v}
              <div class="picTxt">
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="45" height="45" /></a></div>
              <div class="txt">
                <p>{csubstr($v["title"],14)}</p>
              </div>
              </div>
              {/foreach}
              {/mo:articlelist}
            <div class="clearfix"></div>
            <ul>
              {mo:articlelist cid='89' row='4' from='2' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{$v["title"]}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="v vv">
      <div class="pubMod">
        <div class="T"><span class="more"><a href="{getMoreUrl(90)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(90)}</h3>
        </div>
        <div class="C">
          <div class="ddl">
            {mo:articlelist cid='90' row='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="125" height="82"/></a></div>
              <dl>
              <dt><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],8)}</a></dt>
              <dd>{csubstr($v['description'],50)}<a href='{$v["url"]}' class="fba">[详情]</a></dd>
            </dl>
              {/foreach}
              {/mo:articlelist}
          </div>
          <div class="mT3">
            <ul>
              {mo:articlelist cid='90' row='4' from='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{$v["title"]}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="v vv">
      <div class="pubMod">
        <div class="T"><span class="more"><a href="{getMoreUrl(265)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(265)}</h3>
        </div>
        <div class="C">
          <div class="mT3">
            <ul>
              {mo:articlelist cid='265' type='all' row='6' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m">
    <div class="main" style="padding:0;">
      <div class="mainFour">
      {mo:articlelist cid='$cid' type='son' row='1' order='publishtime desc' return='data'}
      {foreach $data $k $v}
      <h1><a href='{$v["url"]}' title='{$v["title"]}'>{$v["title"]}</a></span></h1>
      <p>{$v["description"]}</p>
      {/foreach}
      {/mo:articlelist}
     </div>
      <div class="mainTwo ecoUlOne">
        <div class="C">
          <ul>
            {mo:articlelist cid='$cid' type='son' row='12' from='1' order='publishtime desc' return='data'}
          {foreach $data $k $v}
          <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],28)}</a></li>
          {/foreach}
          {/mo:articlelist}
          </ul>
        </div>
      </div>
      <div class="mainSix">
        <div class="pubMod">
          <div class="T"><span class="more"><a href="{getMoreUrl(266)}">更多 &gt;&gt;</a></span>
            <h3>{cid2name(266)}</h3>
          </div>
          <div class="C">
            <div class="mainTwo ecoUlOne">
              <div class="C">
                <ul>
                  {mo:articlelist cid='266' type='all' row='8' order='hits desc' return='data'}
                  {foreach $data $k $v}
                  <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],25)}</a></li>
                  {/foreach}
                  {/mo:articlelist}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mainSix">
        <div class="pubMod">
          <div class="T"><span class="more"><a href="{getMoreUrl(267)}">更多 &gt;&gt;</a></span>
            <h3>{cid2name(267)}</h3>
          </div>
          <div class="C">
            <div class="mainTwo ecoUlOne">
              <div class="C">
                <ul>
                  {mo:articlelist cid='267' type='all' row='8' order='hits desc' return='data'}
                  {foreach $data $k $v}
                  <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],25)}</a></li>
                  {/foreach}
                  {/mo:articlelist}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r ecoR">
    <div class="mainFive u uu">
      <div class="pubMod">
        <div class="T">
          <h3>今日排行榜</h3>
        </div>
        <div class="C">
          <div class="rank">
            <ul>
              {mo:articlelist cid='$cid' type='all' row='10' order='hits desc' return='data'}
              {foreach $data $k $v}
              {php $n=$k+1;}
              {if $k<3 }
              <li><b class="b{$n}">{$n}</b><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {else}
              <li><b>{$n}</b><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/if}
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
      <div class="pubMod">
        <div class="T"><span class="more"><a href="{getMoreUrl(268)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(268)}</h3>
        </div>
        <div class="C">
          <div class="mT3">
            <ul>
              {mo:articlelist cid='268' type='all' row='5' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
      <div class="pubMod">
        <div class="T"><span class="more"><a href="{getMoreUrl(257)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(257)}</h3>
        </div>
        <div class="C">
          <div class="picTxt ppt">
          {mo:articlelist cid='257' row='1' order='hits desc' return='data'}
              {foreach $data $k $v}
              <div class="pic"><a href='{$v["url"]}' title='{$v["title"]}'><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="91" height="68"/></a></div>
              <div class="=txt">
                  <p><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],14)}</a></p>
                  <p>{csubstr($v['description'],14)}<a href='{$v["url"]}' class="fba">[详情]</a></p>
              </div>
              {/foreach}
              {/mo:articlelist}
          </div>
          <div class="mT3">
            <ul>
              {mo:articlelist cid='257' type='all' from='1' row='3' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
      <div class="pubMod">
        <div class="T"><span class="more"><a href="{getMoreUrl(270)}">更多 &gt;&gt;</a></span>
          <h3>{cid2name(270)}</h3>
        </div>
        <div class="C">
          <div class="mT3">
            <ul>
              {mo:articlelist cid='270' type='all' row='5' order='hits desc' return='data'}
              {foreach $data $k $v}
              <li><a href='{$v["url"]}' title='{$v["title"]}'>{csubstr($v["title"],16)}</a></li>
              {/foreach}
              {/mo:articlelist}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="wrap">
  <div class="friendLink bder">
    <div class="T"><span class="more"><a href="#">更多 &gt;&gt;</a></span>
      <h3>友情链接</h3>
    </div>
    <div class="C">{include 'friendlink.html'}</div>
  </div>
</div>
{include 'footer.html'}
