<!--{include file="public/head_admin.html"}-->
<body>
  <div class="container">
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">手机站预览</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div style="height:25px;padding:15px 0px 0px 10px;margin-top:15px 0px 0px 10px;">
                <span style="color:#FF6600;font-weight:bold">温馨提示</span>：系统后台提供的手机站预览效果仅供参考，与实际的手机查看效果相比，会存在部分偏差，请以手机查看效果为准。
            </div>
            <div class="big_pic_box">
				<div class="js_phone_img">
					<iframe src="<!--{$mobilesite_url}-->" style="width:360px;height:500px;border:0;" allowtransparency></iframe>
				</div>
			</div>
			<div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</body>
</html>
