<!--{include file="public/head_admin.html"}-->
<body><script type="text/javascript" src="<!--{$jspath}-->/ckeditor/ckeditor.js"></script>
	<div class="pubBox" >
		<div class="pubtabBox">
		
			<form action='<!--{$baseurl}-->/memorial/hall/honorinfo' method='post' id='myform'>
				<div class="TabBoxC">
					<div>
						<div class="pubTabel">
							<table class="tabelLR">
								<tr>
									<th>荣誉作品名称：</th>
									<td>
										<input type="text" value="<!--{$info.hname}-->" class="Iw290" name='hname' id='hname'/>&nbsp;<span id='nameTip'></span>
									</td>
								</tr>
                                <tr>
                                  <th>描述：</th>
                                  <td><textarea class="Iw450 Ih80" id='content' name='hcontent'><!--{$info.hcontent}--></textarea></td>
                                 </tr>
                                 <tr>
                                  <th>状态：</th>
                                  <td>
                                   <select name="stuatus">
                                   <!--{foreach $pstatus $v $k}-->
                                    <option value="<!--{$k}-->" <!--{if $k eq $info['stuatus']}-->selected<!--{/if}-->><!--{$v}--></option>
                                   <!--{/foreach}-->
                                   </select>
                                  </td>
                                 </tr>
                                </table>
                                <input type="hidden" name="hid" value="<!--{$info.id}-->"/>
                                <input type="hidden" name="mid" value="<!--{$info.mid}-->"/>
							<div class="pubTabelBot"><input type="submit" name="submit" hidefocus="hide" value="确定" class="btn1">&nbsp;&nbsp;&nbsp;</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
<script>
CKEDITOR.replace('content',
    		{   
    		    width:700,
                height:250,
    			toolbar :
    			[
    				//样式       格式      字体    字体大小
    				['Styles','Format','Font','FontSize'],
    				//加粗     斜体，     下划线      穿过线      下标字        上标字
    				['Bold','Italic','Underline','Strike','Subscript','Superscript'],
    				// 数字列表          实体列表            减小缩进    增大缩进
    				['NumberedList','BulletedList','-','Outdent','Indent'],
    				//文本颜色     背景颜色
    				['TextColor','BGColor'],
    				//全屏           显示区块
    				['Maximize', 'ShowBlocks','-', 'Source']
    			]
    		}
    		);
</script>
</body>
</html>
