<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
         <dl class="navTab">
            <!--{if $types eq 0}-->
            <dt class="on"><a href="<!--{$baseurl}-->/extensions/search/index/types/0">全局</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/1">文章</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/2">商品</a></dd>
			<dd><a href="<!--{$baseurl}-->/extensions/search/index/types/3" class="last">专题</a></dd>
			<!--{elseif $types eq 1}-->
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/0">全局</a></dd>
            <dt class="on"><a href="<!--{$baseurl}-->/extensions/search/index/types/1">文章</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/2" class="last">商品</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/3" class="last">专题</a></dd>
            <!--{elseif $types eq 2}-->
			<dd><a href="<!--{$baseurl}-->/extensions/search/index/types/0">全局</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/1">文章</a></dd>
            <dt class="on"><a href="<!--{$baseurl}-->/extensions/search/index/types/2" >商品</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/3" class="last">专题</a></dd>
			<!--{elseif $types eq 3}-->
			<dd><a href="<!--{$baseurl}-->/extensions/search/index/types/0">全局</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/1">文章</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/search/index/types/2">商品</a></dd>
            <dt class="on"><a href="<!--{$baseurl}-->/extensions/search/index/types/3" class="last">专题</a></dt>
			<!--{/if}-->
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
		  <form method="get" action="<!--{$baseurl}-->/extensions/search/index"  id="search-form">
            <div class="pubTabelTot">
              <input type="text" value="<!--{$pageInfo.keyword}-->" class="Iw190 f999 text-tips" tips="请输入关键字" name="keyword"> 
              <select name='orderby'>
              <option value='1'>按搜索时间</option>
              <option value='2'>按搜索次数</option>
              </select>
              <select name='pai'>
              <option value='1'>降序</option>
              <option value='2'>升序</option>
              </select>
			  <input type="submit" hidefocus="hide" value="搜 索" class="btn5">
              <input type="hidden" name="types" id="types" value="<!--{$types}-->"/>
			  <input type="hidden" name="product" id="product" value="<!--{$search.product}-->"/>
            </div>
		  </form>             
		  <form method="get" action="<!--{$baseurl}-->/extensions/search/index" id="backup-form">
            <div class="pubTabel">
              <table class="tabelTB"  id="search-list">
                <tr>
                  <th width="6%">选择</th>
                  <th width="15%">关键词</th>
                  <th width="10%">分词</th>
                  <th width="18%">搜索次数</th>
                  <th width="11%">结果</th>
                  <th width="25%">最后搜索时间 </th>
                  <th width="15%">操作</th>
                </tr>
				<!--{if $types eq 0}-->
					<!--{foreach from=$list item=l}-->
					<tr>
					  <td>
					   <input type="checkbox" name="ids[]" value="<!--{$l.id}-->"/>
					  </td>
					  <td><!--{$l.search_names}--></td>
					  <td><!--{$l.search_name}--></td>
					  <td><!--{$l.search_count}--></td>
					  <td><!--{$l.search_result}--></td>
					  <td><!--{$l.search_times|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
					  <td>
					  <a href="<!--{$baseurl}-->/extensions/search/update/id/<!--{$l.id}-->/types/0">更新</a> | 
					  <a  style="cursor:pointer" onclick="javascript:operateOne('<!--{$baseurl}-->/extensions/search/delete/did/<!--{$l.id}-->/types/0','确定删除？')">删除</a>
				      </td>
					</tr>
				<!--{/foreach}--> 
				<!--{elseif $types eq 1}-->
					<!--{foreach from=$list item=l}-->
					<tr>
					  <td>
					   <input type="checkbox" name="ids[]" value="<!--{$l.id}-->"/>
					  </td>
					  <td><!--{$l.search_names}--></td>
					  <td><!--{$l.search_name}--></td>
					  <td><!--{$l.search_count}--></td>
					  <td><!--{$l.search_result}--></td>
					  <td><!--{$l.search_times|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
					  <td>
					  <a href="<!--{$baseurl}-->/extensions/search/update/id/<!--{$l.id}-->/types/1">更新</a> | 
					  <a  style="cursor:pointer" onclick="javascript:operateOne('<!--{$baseurl}-->/extensions/search/delete/did/<!--{$l.id}-->/types/1','确定删除？')">删除</a>
				      </td>
					</tr>
					<!--{/foreach}--> 
				<!--{elseif $types eq 2}-->
					<!--{foreach from=$list item=l}-->
					<tr>
					  <td>
					   <input type="checkbox" name="ids[]" value="<!--{$l.id}-->"/>
					  </td>
					  <td><!--{$l.search_names}--></td>
					  <td><!--{$l.search_name}--></td>
					  <td><!--{$l.search_count}--></td>
					  <td><!--{$l.search_result}--></td>
					  <td><!--{$l.search_times|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
					  <td>
					  <a href="<!--{$baseurl}-->/extensions/search/update/id/<!--{$l.id}-->/types/2">更新</a> | 
					  <a  style="cursor:pointer" onclick="javascript:operateOne('<!--{$baseurl}-->/extensions/search/delete/did/<!--{$l.id}-->/types/2','确定删除？')">删除</a>
				      </td>
					</tr>
					<!--{/foreach}--> 
				<!--{elseif $types eq 3}-->
					<!--{foreach from=$list item=l}-->
					<tr>
					  <td>
					   <input type="checkbox" name="ids[]" value="<!--{$l.id}-->"/>
					  </td>
					  <td><!--{$l.search_names}--></td>
					  <td><!--{$l.search_name}--></td>
					  <td><!--{$l.search_count}--></td>
					  <td><!--{$l.search_result}--></td>
					  <td><!--{$l.search_times|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
					  <td>
					  <a href="<!--{$baseurl}-->/extensions/search/update/id/<!--{$l.id}-->/types/3">更新</a> | 
					  <a  style="cursor:pointer" onclick="javascript:operateOne('<!--{$baseurl}-->/extensions/search/delete/did/<!--{$l.id}-->/types/3','确定删除？')">删除</a>
				      </td>
					</tr>
					<!--{/foreach}--> 
				<!--{/if}-->
              </table>
            </div>
			</form>
            <div class="pubOperate">
			<span class="btn5" style="width:80px;">
			<label>
			<input type="checkbox" class="Check-All-Toggle" container-id="search-list" style="position: relative; top: 3px; width: 15px;"/>
			全选/反选
			</label>
			</span>
			  
			<input type="button" class="btn5" value="删除" onclick="batchOperate(this)" form-id="backup-form" container-id="search-list"  form-action="<!--{$baseurl}-->/extensions/search/delete" empty-tips="请选择要进行删除的信息！" confirm-tips="确认删除？"/>
          
            </div>
           <div class="pubTabelBot">
              <div class="pageGo"><!--{$pagestr}--></div>
            </div>
            <div class="notice2"><span class="notice_warnblue">备注说明：关键词分词功能使用需配置搜索引擎，详细请参考爱站CMS官网/论坛技术指导说明。</span></div>
			</form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
<script type="text/javascript">
function click_counts(obj)
{
	
	var old_orderTypes = jQuery('#orderTypes');
	if( obj == 1 ){
		var old_orderby = jQuery('#orderby');
		if(old_orderby.val() == 'asc')
		{	
			old_orderby.val('desc');
		}
		else
		{
			old_orderby.val('asc');
		}
		old_orderTypes.val('1');
	}else{
		var old_orderby = jQuery('#orderbyTimes');
		if(old_orderby.val() == 'asc')
		{	
			old_orderby.val('desc');
		}
		else
		{
			old_orderby.val('asc');
		}
		old_orderTypes.val('2');
	}
	jQuery('#search-form').submit();
}
</script>