<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/login2.css"/>
	</head>
	<body>
		<div class="login_top">
			<div class="login_cont">
				<a href="###" class="logo fl"><img src="{IMG_PATH}/login_02.jpg"/></a>
				<span class=" fl">重置密码</span>
			</div>
		</div>
		  <div class="set_box">
		  	<div class="set_cont">
		  		<ul class="three_step">
		  			<li class="active">
		  				<span>
		  					<i>1</i>
		  					<b>安全验证</b>
		  				</span>
		  				<em></em>
		  			</li>
		  			<li class="active">
		  				<span>
		  					<i>2</i>
		  					<b>安全验证</b>
		  				</span>
		  				<em></em>
		  			</li>
		  			<li class="active">
		  				<span>
		  					<i>3</i>
		  					<b>安全验证</b>
		  				</span>
		  			</li>
		  		</ul>
		  		<div class="su_box su_box2">
		  		<p class="icon_tp"><span><img src="{IMG_PATH}/rt_03.png" /></span></p>
		  		<p class="tips_w">密码修改成功</p>
		  		<p class="an_tips"><a href="/">重新登录</a><a href="/">返回首页</a></p>
		  	</div>
		  	</div>
		  </div>
		  
		<div class="footer">
		<p>Copyright © 2016爱依然纪念网. All Rights Reserved  </p>	
		</div>
	</body>
</html>
