{include 'head.html'}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}/idangerous.swiper.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}/index.css"/>
<script type="text/javascript" src="{JS_PATH}/idangerous.swiper.min.js" ></script>
<script type="text/javascript" src="{JS_PATH}/index.js" ></script>
<script type="text/javascript" src="{JS_PATH}/public.js" ></script>


        <div class="content">
            <div class="indexBanner">
              <div class="fl conItem01">
                <div class="section01">
                        <!--banner轮播-->
                            {include 'inc/lbt.html'}
                    </div>
              </div>
              <div class="fr conItem02">

                <!-- 登录 -->
                {if $GLOBALS['username']}
                    {include 'inc/member.html'}
                {else}
                <!-- 注册 -->
                    {include 'inc/login.html'}
                {/if}
              </div>
             </div>
            <div class="main1200 clearfix">
                <div class="fl conItem01">
                    <div class="section section02">
                        <div class="headline">
                        <span class="fl">在线追思<i></i></span>
                        <!--<a href="###" class="fr">参看更多<i></i></a>-->
                        </div>
                        <div class="secLB">
                            <div class="arrow-right arrow_m"><i>&gt;</i></div>
                            <div class="arrow-left arrow_m"><i>&lt;</i></div>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {foreach $online  $key $value}
                                    <div class="swiper-slide">
                                        <div class="itemSli">
                                            <div class="itemImg">
                                                <img class="lazy" src='/template/default/member/images/default_max.png' data-original="{$value['userpic']}" width="185" height="185">
                                            </div>
                                            <p class="clearfix"><a href="/jinian/Jinian/index/mid/{$value['id']}" target="_blank" class="fl nameA">{$value['name']}</a>
                                                {if $value['catid']==1}
                                                    <a href="/category/Category/index/cid/305" target="_blank" class="fr">私人纪念馆</a>
                                                {elseif $value['catid']==2}
                                                    <a href="/category/Category/index/cid/306" target="_blank" class="fr">名人人纪念馆</a>
                                                {/if}
                                            </p>
                                        </div>
                                    </div>
                                    {/foreach}
                                </div>

                           </div>
                        </div>
                    </div>
                    <div class="section section03">
                        <div class="headline">
                        <span class="fl">{cid2name(306)}<i></i></span>
                        <a href="{getMoreUrl(306)}" class="fr" target="_blank">查看更多<i></i></a>
                        </div>
                        <div class="hotP">
                            <ul class="clearfix">
                                {mo:memo row="10" catid="2" field="" pagesize="4" return="data"}
                                    {foreach $data  $key $value}
                                        <li style="height: 306px!important;">
                                            <div class="hotPImg">
                                                <img class="lazy" src='/template/default/member/images/default_max.png' data-original="{$value['userpic']}" width="185" height="185">
                                            </div>
                                            <p class="clearfix hotP_p"><a href="/jinian/Jinian/index/mid/{$value['m_id']}" class="fl nameA" target="_blank">{$value['m_name']}</a><a href="/jinian/Jinian/index/mid/{$value['m_id']}" target="_blank" class="fr quickJS">立即祭拜</a></p>
                                            <div class="mainP">
                                                <p>享年：<span>{$value['m_year']}
                                                -
                                                {$value['d_year']}</span></p>
                                                <p class="introP">简介：<span>{csubstr($value['descript'],25)}</span></p>
                                            </div>
                                        </li>
                                    {/foreach}
                                {/mo:memo}
                            </ul>
                        </div>
                    </div>
                    <div class="section04">
                        <img src="{IMG_PATH}/banner02_yc.jpg">
                    </div>
                    <div class="section section05">
                        <div class="headline">
                            <div class="pagination pagination_three_m">
                                <span class="fl active">{cid2name(311)}<i></i><b>|</b></span>
                                <span class="fl">{cid2name(312)}<i></i><b>|</b></span>
                                <span class="fl">{cid2name(310)}<i></i></span>
                            </div>
                        <a href="{worldge(311)}" class="fr">查看更多<i></i></a>
                        </div>
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                               <div class="secBot">
                                <div class="secItem clearfix">
                                            <!-- 特殊的地方的文章显示 已排序 倒叙 -->
                                {mo:articlelist row="1" cid="311"  order="id desc" return="data"}
                                    {foreach $data  $key $value}
                                    <div class="fl secIml">
                                        <div class="secItImg">
                                            <a href="{$value['url']}" target="_blank"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="390" height="219"></a>
                                        </div>
                                        <h5>{msubstr($value["title"],0,15,'utf-8')}</h5>
                                        <small>By：<span>{$value["username"]}</span> Tme：<span>{date('Y-m-d',$value["publishtime"])}</span></small>
                                        <p>{msubstr($value["description"],0,130,'utf-8')}</p>
                                    </div>
                                {/foreach}
                                {/mo:articlelist}
                                    <div class="fl secImr">
                                        <ul>
                                        {mo:articlelist row="4" cid="311" order="id desc" from="1" return="data"}
                                            {foreach $data  $key $value}
                                                <li class="clearfix">
                                                    <a href="{$value['url']}" target="_blank">
                                                    <div class="fl secimg"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="150" height="84"></div>
                                                    <div class="fl secintro">
                                                        <h6>{msubstr($value["title"],0,15,'utf-8')}</h6>
                                                        <p>{msubstr($value["description"],0,40,'utf-8')}</p>
                                                    </div>
                                                    </a>
                                                </li>
                                            {/foreach}
                                        {/mo:articlelist}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="secBot">
                                <div class="secItem clearfix">
                                {mo:articlelist row="1" cid="312" order="id desc" return="data"}
                                    {foreach $data  $key $value}
                                    <div class="fl secIml">
                                        <div class="secItImg">
                                             <a href="{$value['url']}" target="_blank"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="390" height="219"></a>
                                        </div>
                                        <h5>{msubstr($value["title"],0,15,'utf-8')}</h5>
                                        <small>By：<span>{$value["username"]}</span> Tme：<span>{date('Y-m-d',$value["publishtime"])}</span></small>
                                        <p>{msubstr($value["description"],0,130,'utf-8')}</p>
                                    </div>
                                {/foreach}
                                {/mo:articlelist}
                                    <div class="fl secImr">
                                        <ul>
                                        {mo:articlelist row="4" cid="312" order="id desc" from="1" return="data"}
                                            {foreach $data  $key $value}
                                                <li class="clearfix">
                                                    <a href="{$value['url']}" target="_blank">
                                                    <div class="fl secimg"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="150" height="84"></div>
                                                    <div class="fl secintro">
                                                        <h6>{msubstr($value["title"],0,15,'utf-8')}</h6>
                                                        <p>{msubstr($value["description"],0,40,'utf-8')}</p>
                                                    </div>
                                                    </a>
                                                </li>
                                            {/foreach}
                                        {/mo:articlelist}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="secBot">
                                <div class="secItem clearfix">
                                {mo:articlelist row="1" cid="310" order="id desc" return="data"}
                                {foreach $data  $key $value}
                                    <div class="fl secIml">
                                        <div class="secItImg">
                                              <a href="{$value['url']}" target="_blank"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="390" height="219"></a>
                                        </div>
                                        <h5>{msubstr($value["title"],0,15,'utf-8')}</h5>
                                        <small>By：<span>{$value["username"]}</span> Tme：<span>{date('Y-m-d',$value["publishtime"])}</span></small>
                                        <p>{msubstr($value["description"],0,130,'utf-8')}</p>
                                    </div>
                                {/foreach}
                                {/mo:articlelist}
                                    <div class="fl secImr">
                                        <ul>
                                        {mo:articlelist row="4" cid="310" order="id desc" from="1" return="data"}
                                            {foreach $data  $key $value}
                                                <li class="clearfix">
                                                    <a href="{$value['url']}" target="_blank">
                                                    <div class="fl secimg"><img  class="lazy" src='/template/default/member/images/default_max.png' data-original="static/uploadfile/{$value['thumb']['src']}" width="150" height="84"></div>
                                                    <div class="fl secintro">
                                                        <h6>{msubstr($value["title"],0,15,'utf-8')}</h6>
                                                        <p>{msubstr($value["description"],0,40,'utf-8')}</p>
                                                    </div>
                                                    </a>
                                                </li>
                                            {/foreach}
                                        {/mo:articlelist}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="fl conItem02 clearfix">
                {if $uid}
                    <a href="/member/memorial/create" class="set_up"></a>
                {else}
                    <a href="/user/Login/login2" class="set_up"></a>
                {/if}
                    <div class="festa">
                      <div class="headline">
                        <span class="fl">那年今日<i></i></span>
                        <!-- <a href="###" class="fr">参看更多<i></i></a> -->
                      </div>
                      <div class="four_p">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                 <ul class="people_4">
                                {mo:memo day="1" from="0" pagesize="4"  return="data"}
                                {if is_array($data)}
                                    {foreach $data  $key $value}
                                    <li>
                                        <a href="/jinian/Jinian/index/mid/{$value['m_id']}" target="_blank">
                                            <img src="{$value['userpic']}" />
                                            <span class="mask"></span>
                                            <p>
                                                <em class="name">{$value['personname']}</em>
                                                <em>生日：{date('Y-m-d',$value["brithdate"])}</em>
                                                <em> 忌日：{date('Y-m-d',$value["dieddate"])}</em>
                                            </p>
                                        </a>
                                    </li>
                                    {/foreach}
                                    {else}
                                没找到信息，请稍后再试
                                {/if}
                                {/mo:memo}
                                 </ul>
                              </div>
                              <div class="swiper-slide">
                                 <ul class="people_4">
                                    {mo:memo day="1" from="4" pagesize="8"  return="data"}
                                {if is_array($data)}
                                        {foreach $data  $key $value}
                                        <li>
                                            <a href="/jinian/Jinian/index/mid/{$value['m_id']}" target="_blank">
                                                <img src="{$value['userpic']}" />
                                                <span class="mask"></span>
                                                <p>
                                                    <em class="name">{$value['personname']}</em>
                                                    <em>生日：{date('Y-m-d',$value["brithdate"])}</em>
                                                    <em> 忌日：{date('Y-m-d',$value["dieddate"])}</em>
                                                </p>
                                            </a>
                                        </li>
                                        {/foreach}
                                         {else}
                                没找到信息，请稍后再试
                                {/if}
                                    {/mo:memo}
                                 </ul>
                              </div>
                              <div class="swiper-slide">
                                 <ul class="people_4">
                                    {mo:memo  day="1" from="8" pagesize="12"  return="data"}
                                {if is_array($data)}
                                        {foreach $data  $key $value}
                                        <li>
                                            <a href="/jinian/Jinian/index/mid/{$value['m_id']}" target="_blank">
                                                <img src="{$value['userpic']}" />
                                                <span class="mask"></span>
                                                <p>
                                                    <em class="name">{$value['personname']}</em>
                                                    <em>生日：{date('Y-m-d',$value["brithdate"])}</em>
                                                    <em> 忌日：{date('Y-m-d',$value["dieddate"])}</em>
                                                </p>
                                            </a>
                                        </li>
                                        {/foreach}
                                         {else}
                                没找到信息，请稍后再试
                                {/if}
                                    {/mo:memo}
                                 </ul>
                              </div>
                            </div>
                          </div>
                          <div class="pagination pagination_nnjr"></div>
                      </div>
                    </div>
                    <div class="adv">
                        <a href="###"><img src="{IMG_PATH}/tj_03.jpg" width="340" height="140" /></a>
                    </div>
                    <div class="hot_w">
                        <div class="headline">
                        <span class="fl">那年今日<i></i></span>
                        <!-- <a href="###" class="fr">参看更多<i></i></a> -->
                         </div>
                        <ul class="list_hot">
                        {mo:memo  day="1" limit="5" order="click_num DESC" return="data"}
                                {if is_array($data)}
                            {foreach $data  $key $value}
                            {$key++}
                            <li class="active">
                                <a href="/jinian/Jinian/index/mid/{$value['m_id']}" target="_blank">
                                    {if $key < 4}
                                    <i>{$key}</i>
                                    {else}
                                    <i style="background:#666;">{$key}</i>
                                    {/if}
                                    <img src="{$value['userpic']}"/>
                                    <p class="from"><span>[{$value['cat_name']}]&nbsp;</span>{$value['person']} 纪念馆</p>
                                    <p  class="visits"><em>访问量：{$value['click_num']}</em></p>
                                </a>
                            </li>
                            {/foreach}
                            {else}
                                没找到信息，请稍后再试
                                {/if}
                        {/mo:memo}
                        </ul>
                        <a href="{getMoreUrl(306)}" class="see_more" target="_blank">查看更多+</a>
                    </div>
                    <div class="adv adv2">
                        <a href="###"><img src="{IMG_PATH}/ln_03.png" width="340" height="140"/></a>
                    </div>
                </div>
            </div>
            <div class="three_list">
                <div class="cont_list">
                    <div class="headline">
                        <span class="fl">{cid2name(315)}<i></i></span>
                        <a href="{worldge(315)}" class="fr">参看更多<i></i></a>
                     </div>
                    <ul class="">
                        {mo:articlelist row="10" cid="315" return="data"}
                            {foreach $data  $key $value}
                                <li>
                                    <a href="{$value['url']}" target="_blank">·【民族文化】{msubstr($value["title"],0,15,'utf-8')}</a>
                                    <span>{date('Y-m-d',$value["publishtime"])}</span>
                                </li>
                            {/foreach}
                        {/mo:articlelist}
                    </ul>
                </div>
                <div class="cont_list">
                    <div class="headline">
                        <span class="fl">最新资讯<i></i></span>
                        <a href="{worldge(327)}" class="fr" target="_blank">参看更多<i></i></a>
                     </div>
                    <ul class="">
                        {mo:articlelist row="10" cid="327"  return="data"}
                            {foreach $data  $key $value}
                                <li>
                                    <a href="{$value['url']}" target="_blank">{msubstr($value["title"],0,15,'utf-8')}</a>
                                    <span>{date('Y-m-d',$value["publishtime"])}</span>
                                </li>
                         {/foreach}
                        {/mo:articlelist}
                    </ul>
                </div>
                <div class="cont_list cont_list3">
                    <div class="headline">
                        <span class="fl">最新追思留言<i></i></span>
                        <!-- <a href="###" class="fr">参看更多<i></i></a> -->
                     </div>
                    <ul class="">
                        {mo:mese limit="10" field="id,message,createtime"  return="data" order="id desc"}
                            {foreach $data  $key $value}
                                <li>
                                    <a href="/jinian/Jinian/comment/mid/{$value['mid']}" target="_blank">{msubstr($value["content"],0,17,'utf-8')}</a>
                                    <span>{date("Y-m-d ", $value['addtime'])}</span>
                                </li>
                            {/foreach}
                        {/mo:articlelist}
                    </ul>
                </div>
            </div>
            <div class="link_exchange">
                <span>友情链接：</span>
                {mo:friendlink row="100" return="data"}
                  {foreach $data  $key $value}
                    <a href='{$value["com_url"]}' target="_blank">{$value["name"]}</a>
                  {/foreach}
                {/mo:friendlink}

            </div>
        </div>
        <!--********footer***************************************-->
{include 'head_footer.html'}
