{include 'inc/memorial_head.html'}

<!-- layer插件 -->
<link rel="stylesheet" href="/template/default/member/layer/skin/default/layer.css" type="text/css">
<script src="/template/default/member/layer/layer.js"></script>
            <div class="biography_details">
                <div class="details">
                    <div class="top_title">
                        <a href="/jinian/Jinian/funeral/mid/{$mid}">返回祭文列表页</a>
                        <h2>{$funeral_info['ename']}</h2>
                        <p><!-- 发布人：admin -->  阅读({$funeral_info['click_nums']}) │ 评论({$nums})  发布时间：{$funeral_info['createtime']}</p>
                    </div>
                    <div class="details_cont" style="margin-bottom: 30px;">
                            {$funeral_info['econtent']}
                    </div>
                    <!-- <p class="return_sx"><em class="prov fl"><span>上一篇：</span><a href="###">人民心中伟大的领袖毛主席</a></em><em class="next fr"><span>下一篇：</span><a href="###">人民心中伟大的领袖毛主席</a></em></p>  -->
                   </div>

                   <!-- 留言 -->
                    <form id="form1">
                    <div class="leave_message clearfix">
                        <h4>追思留言/Message</h4>
                        <textarea name="content" id="content"></textarea>
                        <input type="hidden" name="token_form2" value="<?php echo $_SESSION['token_form2'];?>">
                        <input type="hidden" name="mid" value="{$mid}">
                        <input type="hidden" name="aid" value="<?php echo $_GET['id'];?>"> <!-- 纪念祭文的文章id -->
                        <div class="add_face">
                            <!-- 验证码 -->
                          <!--   <input type="text" name="VerifyCode" style="border:solid red 1px;">
                            <img src="/static/js/securimage/yzm.php" alt="" id="yzm" >
                            <a id="changeVerifyCode" onclick="huan()" href="javascript:;"> 换一张</a> -->
                            <!-- 验证码 -->

                            <span class="add fl emotion"><i></i>添加表情</span>
                            {if $_SESSION['front_login_info']['id']}
                            <span class="publish fr"><em class="fl">还可以输入<i>300字符</i></em><input type="button" value="发表追思留言" class="fb" id="sub" /></span>
        					{else}
        					<span class="publish fr"><em class="fl">还可以输入<i>300字符</i></em><input type="button" value="发表追思留言" class="fb" onclick="isLogin();" /></span>
        					{/if}
                        </div>
                    </div>
                    </form>
                    <div class="list_message clearfix">
                        <ul class="clearfix">
                        {foreach $lists $k $v}
                            <li>
                                <img src="{$v['user_photo']}" />
                                <h3><span>{$v['username']}</span><em>{$v['addtime']}</em><i class="rep">回复</i></h3>
                                <p class="paces">{ubbReplace($v['content'])}</p>
                                <div class="replys" style="display:none;">
                                    <textarea  class="form-control" id="conn_{$v['id']}"></textarea>
                                    <div class="liu-icon"><a href="javascript:;" onclick="rep({$v['id']}, '{$v['username']}', {$mid})" class="btn btn-primary">评论</a><a href="javascript:;" class="btn btn-default cancelinfo">取消</a></div>
                                </div>
                                <b class="floor">{$v['f']}F</b>
                                {if $v['child']}
                                {foreach $v['child'] $s $b}
                                <div class="my_message">
                                    {if $b['user_pic']}
                                    <img src="{$b['user_pic']}" alt="">
                                    {else}
                                    <img src="/template/default/member/images/default_min.jpg" alt="">
                                    {/if}
                                    <p>{$b['username']}：{$b['content']}</p>
                                </div>
                                {/foreach}
                                {/if}
                            </li>
                        {/foreach}
                        </ul>
                        <div class="page">
                            {$showPage}
                        </div>
                    </div>


            </div>
        </div>
            <!--********footer***************************************-->
{include 'head_footer.html'}



<script type="text/javascript">
    function ityzl_SHOW_LOAD_LAYER(){
        return index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
    }
    function ityzl_CLOSE_LOAD_LAYER(index){
        layer.close(index);
    }
    //回复悼文的子留言
    function rep(id, username, mid) {
        var text = $('#conn_'+id).val();
        if(text ==""){
            layer.msg('内容不能为空', {icon: 2});return false;
        }
        $.ajax({
            type: "Post",
            url: "/jinian/Jinian/repJinianDaowen",
            data: {'content':text,'mid':mid,'top_id':id},
            dataType: "json",
            beforeSend: function () {
                $("#stop_"+id).attr('onclick','');
                i =ityzl_SHOW_LOAD_LAYER();
            },
            complete: function () {
                ityzl_CLOSE_LOAD_LAYER(i);
            },
            success: function(data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1, offset: '40%'},function(){
                        location.reload();
                    });
                }else{
                    layer.msg(data.msg);
                    $("#sub").removeAttr("disabled");//按钮可用
                }
            }
        });
    }


$(function(){
    function ityzl_SHOW_LOAD_LAYER(){
                return index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
    }
    function ityzl_CLOSE_LOAD_LAYER(index){
            layer.close(index);
    }
    $("#sub").click(function(){
        $("#sub").attr("disabled","disabled");//按钮不可用
        var content = $("textarea[name='content']").val();
        var token_form = $("input[name='token_form']").val();
        var VerifyCode = $("input[name='VerifyCode']").val();
        var mid = $("input[name='mid']").val();
        var aid = $("input[name='aid']").val();
        if(content==""){
            layer.msg("请填写内容");
            $("#sub").removeAttr("disabled");//按钮可用
            return false;
        }
        // if(VerifyCode==""){
        //     layer.msg("验证码不能为空");
        //     $("#sub").removeAttr("disabled");//按钮可用
        //     return false;
        // }
         $.ajax({
            type: "Post",
            url: "/jinian/Jinian/funeralConn",
            data: {'content':content,'token_form':token_form,'VerifyCode':VerifyCode,'mid':mid,'aid':aid},
            dataType: "json",
            beforeSend: function () {
                i =ityzl_SHOW_LOAD_LAYER();
                // $('#sub').val('发表追思留言中...');
            },
            complete: function () {
                 ityzl_CLOSE_LOAD_LAYER(i);
                   // $('#sub').val('发表追思留言');
            },
            success: function(data) {
                if (data.status == 1) {
                   layer.msg(data.msg, {icon: 1, offset: '40%'},function(){
                        location.reload();
                    });
                }else{
                   layer.msg(data.msg);
                    $("#sub").removeAttr("disabled");//按钮可用

                }
            }
        });
    });
});

    function huan() {
        var time = new Date().getTime();//当前时间
        $('#yzm').attr("src" , "/static/js/securimage/yzm.php?t=" + time);//验证码切换
    }
</script>




<!--qq表情-->
<script src="/template/default/js/jquery.qqFace.js"></script>
<script>
    $(function(){
        $('.emotion').qqFace({

            id : 'facebox',

            assign:'content',

            path:'/template/default/images/arclist/'	//表情存放的路径

        });

        $(".sub_btn").click(function(){

            var str = $("#saytext").val();

            $("#show").html(replace_em(str));

        });
        $(".paces img").css({'width':'24px', 'height':'24px', 'margin':'0', 'margin-right':'1px'});


    });

    //查看结果

    function replace_em(str){

        str = str.replace(/\</g,'&lt;');

        str = str.replace(/\>/g,'&gt;');

        str = str.replace(/\n/g,'<br/>');

        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="arclist/$1.gif" border="0" />');

        return str;

    }
</script>
<!--qq表情结束-->

<script>
    //留言框剩余字数
    $(function(){
        $('.leave_message textarea ').keyup(function(){
            //输入字符后键盘up时触发事件
            var txtLeng = $('.leave_message textarea ').val().length;      //把输入字符的长度赋给txtLeng
            //拿输入的值做判断
            if( txtLeng>300 ){
                //输入长度大于300时span显示0
                $('.publish i').text(' 0 ');
                //截取输入内容的前300个字符，赋给fontsize
                var fontsize = $('.leave_message textarea ').val().substring(0,300);
                //显示到textarea上
                $('.leave_message textarea ').val( fontsize );
            }else{
                //输入长度小于300时span显示300减去长度
                $('.publish em i').text(300-txtLeng);
            }
        });
    });
</script>