<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册成功</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/login2.css"/>
	</head>
	<body>
		<div class="login_top">
			<div class="login_cont">
				<a href="###" class="logo fl"><img src="{IMG_PATH}/login_02.jpg"/></a>
				<span class=" fl">欢迎注册</span>
			</div>
		</div>
		  <div class="success">
		  	<div class="su_box">
		  		<p class="icon_tp"><span><img src="{IMG_PATH}/rt_03.png" /></span></p>
		  		<p class="tips_w">恭喜您，成功注册成为“爱依然”平台用户</p>
		  		<p class="an_tips"><a href="/">返回首页</a><a href="/member/Index/index">个人中心</a></p>
		  	</div>
		  </div> 
		<div class="footer">
		<p>Copyright © 2016爱依然纪念网. All Rights Reserved  </p>	
		</div>
	</body>
</html>
