<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>二维码管理</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<!--  artdialog插件  -->
<style type="text/css">
 #gray{color:#ccc;text-decoration:none;}
</style>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">     
           <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="<!--{$baseurl}-->/extensions/qrcode/index/pid/<!--{$pid}-->">二维码列表</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/qrcode/add/pid/<!--{$pid}-->" class="last">添加二维码</a></dd>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <form method="post" id="backup-form" action="/os/announce/index">
            <div class="pubTabel">
              <table class="tabelTB tableTB_Xtal" id="search-list"> 
                <tr>
                  <th width="10%">选择</th>
                  <th width="20%" style="text-align:left; padding-left:1px;">二维码名称</th>
                  <th width="15%" style="text-align:center; padding-left:1px;">二维码类型</th>
                  <th width="20%" style="text-align:left; padding-left:0px;">投放位名称</th>
                  <th width="10%" style="text-align:center; padding-left:1px;">点击量</th>
                  <th width="25%" style="text-align:center;">操作</th>
                </tr>
                <!--{foreach from=$list item=l}-->
                <tr>                
                  <td>
                     <input type="checkbox" name="ids[]" value="<!--{$l.id}-->"/>
                  </td>
                  <td style="text-align:left; padding-left:1px;" title='<!--{$l.name}-->'><!--{$l.name|truncate_cn:10:'...':true}--></td>
                  <td style="text-align:center; padding-left:1px;" title='<!--{$l.type}-->'><!--{$l.type}--></td>              
                  <td style="text-align:left; padding-left:0px;" title='<!--{$pname}-->'><!--{$pname|truncate_cn:10:'...':true}--></td>
                  <td style="text-align:center; padding-left:1px;"><!--{$l.click}--></td>                                
                  <td style="text-align:center; padding-left:1px;">
                  <a href="<!--{$baseurl}-->/extensions/qrcode/preview/id/<!--{$l.id}-->" target='_blank'>图片预览</a> | 
                  <a href="<!--{$baseurl}-->/extensions/qrcode/edit/id/<!--{$l.id}-->">修改</a> |                                 
                     <a href="javascript:;" onclick="MoConfirm('<!--{$baseurl}-->/extensions/qrcode/delete/id/<!--{$l.id}-->','确认删除？')">删除</a>
                  </td>
                </tr>
                <!--{/foreach}-->
              </table>
            </div>
            </form>
            <div class="pubOperate">
              <span class="btn5" style="width:80px;">
                <label>
                    <input type="checkbox" class="Check-All-Toggle" container-id="search-list" style="position: relative; top: 3px; width: 15px;"/> 全选/反选
                </label>
              </span>          
              <input type="button" class="btn5" value="删除" onclick="batchOperate(this)" form-id="backup-form" container-id="search-list"  form-action="<!--{$baseurl}-->/extensions/qrcode/delete" empty-tips="请选择要进行删除的信息！" confirm-tips="确认删除？"/>
            </div>
            <div class="pubTabelBot">
              <div class="pageGo"><!--{$pagestr}--></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>


