<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleX.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>

<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:;">商品品牌</a></dt>
            <dd><a href="<!--{$baseurl}-->/modules/goodsbrand/add" class="last">添加品牌</a></dd>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
			<form method="post" action="javascript:;" id="batch-form" enctype="multipart/form-data">
              <table class="tabelTB tableTB_Xtal mt10" id="search-list">
                <tr style="border-bottom:1px solid #CCD9E4;"><!--  表头  -->
                  <th width="10%">选择</th>
                  <th width="40%">品牌名称</th>
                  <th width="14%">商品数量</th>
                  <th width="16%">操作</th>
                </tr>
				<!--{foreach from=$plist.list item=l}-->
				<tr class="level2">
					<td><input type="checkbox" name="brandid[]" value="<!--{$l.brandid}-->" /></td>
					<td style="text-align:center"><!--{$l.brandname}--></td>
					<td style="text-align:center"><!--{$l.goods_numbers}--></td>
					<td style="text-align:center"><a href="<!--{$baseurl}-->/modules/goodsbrand/edit/brandid/<!--{$l.brandid}-->">修改</a> | 
					<a href="javascript:;" onclick="deleteBrand('<!--{$baseurl}-->/modules/goodsbrand/del/brandid/<!--{$l.brandid}-->/bname/<!--{$l.brandname}-->',<!--{$l.goods_numbers}-->)">删除</a></td>
				</tr>
				<!--{/foreach}-->
              </table>
			</form>
            </div>
            <div class="pubTabelBot pubTabelBot_X" style="text-align:left;"><span class="btn5" style="width:80px;">
              <label><input type="checkbox" class="Check-All-Toggle" container-id="search-list" style="position: relative; top: 3px; width: 15px;"/>
              全选/反选</label>
              </span>
              <input type="button" class="btn5" value="删除" onclick="bacchDelete(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/goodsbrand/del" empty-tips="请选择要删除的记录！" confirm-tips="品牌下存在商品时，如删除品牌原有商品品牌为空，确定删除？"/>
            </div>
			<div class="pubTabelBot">
			<div class="pageGo"><!--{$plist.pagestr}--></div>
			</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>

<script type="text/javascript">
function deleteBrand (url,num)
{
	var tip = (num == '0') ? '你确定删除吗？' : '此品牌下存在商品，如删除品牌原有商品品牌为空，确定删除？';
	var throughBox = art.dialog.through;
	throughBox({content: tip,icon:'question',lock:true,fixed:true},function()
	{
		window.location.href=url;
		if(request_state)
			this.content('正在请求数据，请稍后...');
		else
			this.close();
		return false;
	},
	function()
	{
		//art.dialog.tips('你取消了操作');
	});
}

//属性批量删除
function bacchDelete (obj)
{
	var _obj = $(obj);
	var checked = $('#'+_obj.attr('container-id')+' input:checkbox:checked');  //选中的复选框数量
	if (!checked.length)
	{
		art.dialog.alert('请选择要删除的记录！','warning');
		return false;
	}
	var ids = new Array();
	$.each(checked,function(i,n)
	{
		ids.push($(n).val());
	});
	$.post('<!--{$baseurl}-->/modules/goodsbrand/ajaxcheck',{'ids':ids.join(',')},function(d)
	{
		if (d > 0)
			var confirm_tips = '此品牌下存在商品，如删除品牌原有商品品牌为空，确定删除？';
		else 
			var confirm_tips = '确定删除？';

		var throughBox = art.dialog.through;
		throughBox({content: confirm_tips,lock:true,fixed:true,icon:'question'},function()
		{
			$('#'+_obj.attr('form-id')).attr('action',_obj.attr('form-action')).submit();
			return true;
		},
		function()
		{
			//art.dialog.tips('你取消了操作');
		});
	});
}
</script>
