<!--{include file="public/head_admin.html"}-->
<script type="text/javascript" src="<!--{$jspath}-->/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/iniEditor.js"></script>


<script src="<!--{$jspath}-->/mo_upload.js"></script>
<script type="text/javascript">
$(function()
{
    /*$("#formid").submit(function(){
		  var topicContent=CKEDITOR.instances.content.getData();
		  topicContent = topicContent.replace(/^\\s+/g,"");
		  topicContent = topicContent.replace(/\\s+$/g,"");
		  topicContent = topicContent.replace(/<.*?>/g,"");
		  if (topicContent=="")
		  {
			 art.dialog.alert("内容不能为空");return false;;
		  }
		  else if (topicContent.length<0&0)
		  {
			 return false;
		  }
		  else{
			return true;
		}
	});*/
	//初始化配置
	$.formValidator.initConfig({formid:"formid",autotip:true,generalwordwide:true});
	$("#goodsname").formValidator(
	{
		onshow:"请输入1至100个字符",
		onfocus:"请输入1至100个字符",
		oncorrect:"输入正确"
	}).inputValidator(
	{
		min:1,
		max:100,
		onerror:"请输入1至100个字符"
	}).defaultPassed();

	$("#categoryid").formValidator(
	{
		onshow:"请选择栏目",
		onfocus:"请选择栏目",
		oncorrect:"选择正确"
	}).inputValidator(
	{
		min:1,
		onerror:"请选择栏目"
	}).defaultPassed();

	$("#sortid").formValidator(
	{
		onshow:"请选择分类",
		onfocus:"请选择分类",
		oncorrect:"选择正确"
	}).inputValidator(
	{
		min:0,
		onerror:"请选择分类"
	}).defaultPassed();
	
	$("#content").formValidator(
			{
				onshow:"请输入内容",
				onfocus:"请输入内容",
				oncorrect:"输入正确",
				onempty:'输入内容为空',
				empty:false
			}).inputValidator(
			{
				min:1,
				onerror:"请输入内容"
			});

	/*$("#content").formValidator(
	{
		onshow:"请输入内容",
		onfocus:"请输入内容",
		oncorrect:"输入正确"
	}).inputValidator(
	{
		min:1,
		onerror:"请输入内容"
	}).functionValidator(
	{
		 fun:function(val)
		 {
			var topicContent=CKEDITOR.instances.content.getData();
			topicContent = topicContent.replace(/^\\s+/g,"");
			topicContent = topicContent.replace(/\\s+$/g,"");
			topicContent = topicContent.replace(/<.*?>/g,"");
			if (topicContent=="")
			{
				return "内容不能为空";
			}
			else
			{
				$('#contentTip').addClass('onCorrect');
				return true;
			}
		 }
	});*/

	$("#marketprice").formValidator(
	{
		onshow:"请输入市场价",
		onfocus:"请输入市场价",
		oncorrect:"输入正确",
		onempty:'输入内容为空',
		empty:true
	}).inputValidator(
	{
		min:0,
		onerror:"请输入市场价"
	}).regexValidator({regexp:['price'],datatype:"enum",onerror:"输入有误"});

	$("#shopprice").formValidator(
	{
		onshow:"请输入优惠价",
		onfocus:"请输入优惠价",
		oncorrect:"输入正确",
		onempty:'输入内容为空',
		empty:true
	}).inputValidator(
	{
		min:0,
		onerror:"请输入优惠价"
	}).regexValidator({regexp:['price'],datatype:"enum",onerror:"输入有误"});

	$("#isUpload").formValidator(
	{
		tipid:'albumID',
		onshow:"请上传图片",
		onfocus:"请上传图片",
		oncorrect:"上传正确"
	}).inputValidator(
	{
		min:1,
		onerror:"请上传图片"
	}).defaultPassed();
	
	$("#title").formValidator(
    {
        tipid:'title_tips',
        empty:true,
        onshow:" ",
        onfocus:"请输入0-62个字符"
    }).inputValidator(
    {
        min:0,
        max:62,
        onerror:"请输入0-62个字符",
        onerrormax:"最多输入62个字符"
    });
    $("#keywords").formValidator(
    {
        tipid:'keywords_tips',
        empty:true,
        onshow:' ',
        onfocus:'请输入0-200个字符,多个关键词之间用","隔开'
    }).inputValidator(
    {
        min:0,
        max:200,
        onerror:"请输入0-200个字符",
        onerrormax:"最多输入200个字符"
    });
    $("#brief").formValidator(
    {
        tipid:'brief_tips',
        empty:true,
        onshow:" ",
        onfocus:"请输入0-300个字符"
    }).inputValidator(
    {
        min:0,
        max:62,
        onerror:"请输入0-300个字符",
        onerrormax:"最多输入300个字符"
    });
});
</script>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
	  <form method="post" action="<!--{$baseurl}-->/modules/goods/doedit" id="formid" enctype="multipart/form-data">
		<input type="hidden" name="id" id="goods_edit" value="<!--{$info.goodsid}-->" />
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:;">基本项</a></dt>
            <dt><a href="javascript:;">关联商品</a></dt>
            <dt><a href="javascript:;">商品属性</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div><!--  选项卡一  -->
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="145px"><font>*</font> 商品名称：</th>
                  <td colspan="3"><input type="text" value="<!--{$info.goodsname}-->" name="goodsname" id="goodsname" class="Iw290"/></td>
                </tr>
                <tr>
                  <th>&nbsp; 副标题：</th>
                  <td colspan="3"><input type="text" value="<!--{$info.subname}-->" name="subname" class="Iw290"/></td>
                </tr>
                <tr>
                  <th>&nbsp; 特殊属性：</th>
                  <td colspan="3"><span>
                    <input type="checkbox" name="isbest" value="1" <!--{if $info.isbest eq 1}-->checked<!--{/if}-->/>
                    <label>精品</label>
                    </span>&nbsp;&nbsp;&nbsp;<span>
                    <input type="checkbox" name="isnew" value="1" <!--{if $info.isnew eq 1}-->checked<!--{/if}-->/>
                    <label>新品</label>
                    </span>&nbsp;&nbsp;&nbsp;<span>
                    <input type="checkbox" name="ishot" value="1" <!--{if $info.ishot eq 1}-->checked<!--{/if}-->/>
                    <label>热销</label>
                    </span>&nbsp;&nbsp;&nbsp;<span>
                    <input type="checkbox" name="isspecial" value="1" <!--{if $info.isspecial eq 1}-->checked<!--{/if}-->/>
                    <label>特卖</label>
                    </span></td>
                </tr>
                <tr>
                  <th><font>*</font> 商品栏目：</th>
                  <td colspan="3"><select class="Iw290" style="width:302px;" name="categoryid" id="categoryid">
                      <option value="">请选择栏目</option>
					  <!--{foreach from=$category item=l}-->
					  <option value="<!--{$l.id}-->" <!--{if $l.model neq 2}-->disabled='true' style="color:#747474"<!--{else}-->style="color:#1C1C1C"<!--{/if}--> <!--{if $info.categoryid eq $l.id}-->selected<!--{/if}-->><!--{$l.catname}--></option>
					  <!--{/foreach}-->
                    </select>
                    </td>
                </tr>
                <tr>
                  <th><font>*</font> 商品分类：</th>
                  <td colspan="3">
				    <select class="Iw290" style="width:302px;" name="sortid" id="sortid">
					<!--{foreach from=$goods_sort item=l}-->
					<option value="<!--{$l.sortid}-->" <!--{if $info.sortid eq $l.sortid}-->selected<!--{/if}-->><!--{$l.sortname}--></option>
					<!--{/foreach}-->
                    </select>
                    &nbsp;
                    <input type="button" class="btn5" value="添加分类" hidefocus="hide" onclick="javascript:location.href='<!--{$baseurl}-->/modules/goodssort/add'"></td>
                </tr>
                <tr>
                  <th> 商品品牌：</th>
                  <td colspan="3"><select class="Iw290" style="width:302px;" name="brandid">
                      <option value="">请选择商品品牌</option>
					  <!--{foreach from=$goods_brand item=l}-->
					  <option value="<!--{$l.brandid}-->" <!--{if $info.brandid eq $l.brandid}-->selected<!--{/if}-->><!--{$l.brandname}--></option>
					  <!--{/foreach}-->
                    </select>
                    &nbsp;
                    <input type="button" class="btn5" value="添加品牌" hidefocus="hide" onclick="javascript:location.href='<!--{$baseurl}-->/modules/goodsbrand/add'"></td>
                </tr>
                
                <tr>
                    <th>&nbsp; 商品页标题：</th>
                    <td colspan="3"><input type="text" value="<!--{$info.title}-->" class="Iw290" name="title" id="title"/>
                    &nbsp;&nbsp;<span id="title_tips"></span><br/><span>注：页面标题为内容页页面title，为空时根据系统默认设置实现</span>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp; 关键词：</th>
                    <td colspan="3"><input type="text" value="<!--{$info.keywords}-->" class="Iw290" name="keywords" id="keywords"/>
                            &nbsp;&nbsp;<span id="keywords_tips"></span><br/><span>注：关键词为内容页页面keywords，为空时根据系统默认设置实现</span></td>
                </tr>
                <tr>
                    <th valign="top">&nbsp; 内容描述：</th>
                    <td colspan="3"><textarea class="Iw450 Ih80" name="brief" id="brief"><!--{$info.brief}--></textarea>
                    &nbsp;&nbsp;<span id="brief_tips"></span><br/><span>注：内容描述为内容页页面description，为空时根据系统默认设置实现</span></td>
                </tr>
                <tr>
                  <th valign="top"><font>*</font>  内容：</th>
                  <td colspan="3">
					<textarea id='content' name='content'><!--{$info.content}--></textarea>
				  </td>
                </tr>
                <tr>
                  <th width="12%">&nbsp; 市场价：</th>
                  <td width="40%"><input type="text" value="<!--{if intval($info.marketprice)}--><!--{$info.marketprice}--><!--{/if}-->" class="Iw150" name="marketprice" id="marketprice"></td>
                  <td width="10%">优惠价：</td>
                  <td width="38%"><input type="text" value="<!--{if intval($info.shopprice)}--><!--{$info.shopprice}--><!--{/if}-->" class="Iw150" name="shopprice" id="shopprice"/></td>
                </tr>
                <tr>
                  <th>&nbsp; 计量单位：</th>
                  <td><input type="text" value="<!--{$info.unit}-->" class="Iw150" name="unit" id="unit"></td>
                  <td>上架时间：</td>
                  <td>
					<span class="time">
                    <input type="text" value="<!--{$info.publishtime}-->" readonly class="Iw150" onfocus="WdatePicker_start()" id='startTime' name='publishtime'>
                    </span>
					<script>function WdatePicker_start(){var pos = $("#startTime").offset();var mytop=pos.top+28;WdatePicker({position:{top:mytop,left:pos.left},dateFmt:'yyyy-MM-dd HH:mm:ss'});}</script>
					</td>
                </tr>
                <tr>
					<th valign="top">&nbsp; 商品图片：</th>
					<td colspan="3">
						<!--{foreach from=$album item=l}-->
						<div id="old-photo-<!--{$l.albumid}-->-form" class="old-photo-<!--{$l.albumid}--> mo_div_accessory_upload" >
							<input  type="hidden" name="old_photo[]" value="<!--{$l.albumid}-->" />	
						</div>
						<div id="old-photo-<!--{$l.albumid}-->" style="margin-bottom:10px" class="old-photo-<!--{$l.albumid}--> mo_div_accessory_upload">				
							<input type="text"  value="<!--{$l.self_name}-->"  onfocus="this.blur()" style='background-color:#eee;color:#aaa' readonly  class="Iw290"/>
							&nbsp;&nbsp;&nbsp;图片ALT注释&nbsp;&nbsp;<input type="text" value="<!--{$l.alt}-->" name="alt[<!--{$l.albumid}-->]" maxlength="100"  class="Iw150"/>
							&nbsp;&nbsp;<input type="button" class="btn5" value="删除" onclick="deleteUpload('old-photo-<!--{$l.albumid}-->','mo_div_accessory_upload')"/>
							&nbsp;&nbsp;<input type="button" class="btn5" value="浏览" onclick="uploadAccessory({'limit':'1000','_switch':'goodsedit','self_id':'uploadButton','cur_id':'old-photo-<!--{$l.albumid}-->','edit_id':'<!--{$l.albumid}-->','goods_id':'<!--{$info.goodsid}-->'})"/>
						</div>
						<!--{/foreach}-->
						<input type="button" hidefocus="hide" value="添加" class="btn5" onclick="uploadAccessory({'limit':'<!--{$setting.limit}-->','_switch':'goodsadd','self_id':'uploadButton','dis_place':'multi-upload','goods_id':'<!--{$info.goodsid}-->'})" id="uploadButton" limit="<!--{$setting.limit}-->" />
					</td>
                </tr>

				<tr>
					<th>&nbsp;  发布选项：</th>
					<td colspan="3">
						<span>
						<input type="radio" name="publishopt" value="1" <!--{if $info.publishopt eq 1}-->checked<!--{/if}-->/>
						<label>生成HTML</label>
						</span>&nbsp;&nbsp;<span>
						<input type="radio" name="publishopt" value="2" <!--{if $info.publishopt eq 2}-->checked<!--{/if}-->/>
						<label>仅动态浏览</label>
						</span><br /><br />
						注：如需做前台权限控制，请勿选择"生成HTML",否则权限无效!
					</td>
				</tr>
				<tr>
					<th>&nbsp;  阅读权限：</th>
					<td colspan="3">
						<table>
							<!--{foreach from=$member_group item=ml}-->
								<tr>
									<!--{foreach from=$ml item=l}-->
										<td>
											<!--{if $l}-->
												<label style="cursor:pointer"><input type="checkbox" name="alowpower[]" value="<!--{$l.id}-->" <!--{if in_array($l.id,$info.alowpower)}-->checked<!--{/if}-->/> <!--{$l.groupname}--></label>
											<!--{/if}-->
										</td>
									<!--{/foreach}-->
								</tr>
							<!--{/foreach}-->
						</table>	
						<br />默认都不选，所有会员组均有阅读权限；若选择，则只允许选中的会员组有阅读权限。
					</td>
				</tr>

                <tr>
                  <th>&nbsp; 评论选项：</th>
                  <td>
					<span>
                    <input type="radio" name="iscomment" value="1" <!--{if $info.iscomment eq 1}-->checked<!--{/if}-->/>
                    <label>允许评论</label>
                    </span>&nbsp;&nbsp;<span>
                    <input type="radio"  name="iscomment" value="2" <!--{if $info.iscomment eq 2}-->checked<!--{/if}-->/>
                    <label>禁止评论</label>
                    </span>
					</td>
                  <td>选择模板：</td>
                  <td><select class="Iw290" style="width:162px;" name="goodstpl">
					  <!--{foreach from=$content_tpl item=l}-->
					  <option value="<!--{$l}-->" <!--{if $info.goodstpl eq $l}-->selected<!--{/if}-->><!--{$l}--></option>
					  <!--{/foreach}-->
                    </select></td>
                </tr>
              </table>
            </div>
          </div>
          <div style="display:none;"><!--  选项卡二  -->
            <div class="pubTabel">
              <div class="topboxX">
                <input type="text" value="" id="ajax-keywords" class="Iw290 text-tips" tips="输入商品关键字"/>
                &nbsp;
                <select class="Iw290" style="width:150px;" id="ajax-sort">
                  <option value="">所有分类</option>
                <!--{foreach from=$goods_sort item=l}-->
				<option value="<!--{$l.sortid}-->"><!--{$l.sortname}--></option>
				<!--{/foreach}-->
                </select>
                &nbsp;
                <select class="Iw290" style="width:150px;" id="ajax-brand">
                  <option value="">所有品牌</option>
                   <!--{foreach from=$goods_brand item=l}-->
					  <option value="<!--{$l.brandid}-->"><!--{$l.brandname}--></option>
					  <!--{/foreach}-->
                </select>
                &nbsp;
                <input type="button" class="btn5" value="搜 索" id="searchGoodsList" hidefocus="hide">
              </div>
              <div class="boxP">
                <div class="linebkX">
                  <select multiple="multiple" style="width:296px;height:210px;" id="goodslist"></select>
                </div>
                <div class="linebkX cenFun"> <span>
                  <input type="radio" class="width12" name="relation" value="1" <!--{if $relation eq 1}-->checked<!--{/if}-->/>
                  </span>
                  <label>单向关联</label>
                  <span>
                  <input type="radio"  class="width12" name="relation" value="2" <!--{if $relation eq 2}-->checked<!--{/if}-->/>
                  </span>
                  <label>双向关联</label>
                  <input type="button" hidefocus="hide" value="全部选中>>" class="btn5" id="selectAll">
                  <input type="button" hidefocus="hide" value="<<全部删除" class="btn5" id="deleteAll">
                  <input type="button" hidefocus="hide" value="选 中 >" class="btn5" id="select">
                  <input type="button" hidefocus="hide" value="< 删 除" class="btn5" id="delete">
                </div>
                <div class="cenFunT">
                  <select multiple="multiple" style="width:296px;height:210px;" id="selectlist" name="relationid[]">
					<!--{foreach from=$goods_link item=l}-->
					<option value="<!--{$l.goodsid}-->"><!--{$l.goodsname}--></option>
					<!--{/foreach}-->
				  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="display:none;"><!--  选项卡三  -->
            <div class="pubTabel">
              <table class="tabelLR" id="tabX">
                <tr>
                  <th width="145px">&nbsp; 商品属性：</th>
                  <td>
                    <select class="Iw290" style="width:302px;" id="goodsType" name="typeid">
					<option value="">请选择</option>
					<!--{foreach from=$goods_type item=l}-->
					<option value="<!--{$l.typeid}-->" <!--{if $l.typeid eq $info.typeid}-->selected<!--{/if}-->><!--{$l.typename}--></option>
					<!--{/foreach}-->
                    </select>
                    <span class="warnBlue">请选择商品的所属类型，进而完善此商品的属性</span></td>
                </tr>
              </table>
			  <div id="goodsAttr"></div>
            </div>
          </div>
		  
        </div>
		<div class="pubTabelBot">
		<input type="submit" hidefocus="hide" value="确定" onclick="javascript:$('#selectlist option').attr('selected',true)" class="btn1">
		<input type="button" hidefocus="hide" value="取消"  class="btn2" onclick="javascript:location.href='<!--{$baseurl}-->/modules/goods/index'">
		</div>
		</form>
      </div>
    </div>
<script src="<!--{$jspath}-->/pubJq.js"></script>
<script type="text/javascript">
$(function()
{
	//属性表单
	var _html = new Array();
	$('#goodsType').bind('change',function(){
		var obj = $(this);
		var type_id = obj.val();
		if (type_id == '')
		{
			$('#goodsAttr').empty();
			return false;
		}
		if(_html[type_id] != undefined)
		{
			$('#goodsAttr').html(_html[type_id]);//直接使用js缓存表单
			return;
		}
		
		$.post('<!--{$baseurl}-->/modules/goods/getEditAttr',{'typeid':type_id,'goodsid':'<!--{$info.goodsid}-->'},function(d)
		{
			$('#goodsAttr').html(d);
			$.each($('#attr-group-'+type_id).find('textarea[isEditor="true"]'),function(i,n){
				init($(n).attr('id'), 'fail');//初始化编辑器	
			});
			_html[type_id] = $('#goodsAttr').html();//存储JS缓存
		});
	});
	$('#goodsType').change();


	//关联商品搜索
	$('#searchGoodsList').bind('click',function(){
		var tips = $('#ajax-keywords').attr('tips');
		var keywords = $('#ajax-keywords').val();
		keywords = (keywords==tips) ? '' : keywords;
		var sort = $('#ajax-sort').val();
		var brand = $('#ajax-brand').val();
		var selectlist_arr = new Array();
		var selectlist = $('#selectlist option');
		$.each(selectlist,function(i,n){selectlist_arr.push(n.value)});
		$.post('<!--{$baseurl}-->/modules/goods/ajaxlist',{'keywords':keywords,'sort':sort,'brand':brand},function(d){
			var str = Array();
			if(d.length)
			{
				$.each(d,function(i,n){
					if($.inArray(n.goodsid,selectlist_arr) == -1)
						str.push('<option value="'+n.goodsid+'">'+n.goodsname+'</option>');
				});
			}
			$('#goodslist').html(str.join(''));
		},'json');
	});

	//选中删除
	var gl = $('#goodslist');
	var sl = $('#selectlist');
	$('#selectAll').bind('click',function(){
		if(gl.html() == '') return;
		sl.append(gl.html());
		gl.empty();
	});

	$('#deleteAll').bind('click',function(){
	if(sl.html() == '') return;
		gl.append(sl.html());
		sl.empty();
	});

	$('#select').bind('click',function(){
		var op = gl.find('option:selected');
		if(op.length)
		{
			var str = new Array();
			$.each(op,function(i,n){
				str.push('<option value="'+$(n).val()+'">'+$(n).text()+'</option>');
			});
			sl.append(str.join(''));
			op.remove();
		}
	});

	$('#delete').bind('click',function(){
		var op = sl.find('option:selected');
		if(op.length)
		{
			var str = new Array();
			$.each(op,function(i,n){
				str.push('<option value="'+$(n).val()+'">'+$(n).text()+'</option>');
			});
			gl.append(str.join(''));
			op.remove();
		}
	});
});

document.ready = init('content', 'fail');

/*
*  -------------------------------------------------
*   自定义上传方法
*  -------------------------------------------------
*/
function uploadAccessory (obj)
{	
	var option=
	{
		upload_id:'accessory_upload',
		title:'商品图片修改',
		return_id:'accessory',
		callFunName:'accessoryUpload',
		setting:'<!--{$setting.setting}-->',
		param:obj
	};
	MainOneUpload(option);//调用统一上传方法
}
</script>
</body>
</html>