<!--{include file="public/head_admin.html"}-->
<script type="text/javascript">
$(function()
{
	//初始化配置
	$.formValidator.initConfig({formid:"formid",autotip:true,generalwordwide:true});
	//栏目名验证
	$("#typename").formValidator(
	{
		onshow:"请输入1至20个字符",
		onfocus:"请输入1至20个字符",
		oncorrect:"输入正确"
	}).inputValidator(
	{
		min:1,
		max:20,
		onerror:"请输入1至20个字符"
	}).defaultPassed();
});
</script>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
		<form method="post" action="<!--{$baseurl}-->/modules/goodstype/edit" id="formid" enctype="multipart/form-data">
		<input type="hidden" name="typeid" value="<!--{$info.typeid}-->" />
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="145px"><font>*</font> <font>属性名称：</font></th>
                  <td><input type="text" value="<!--{$info.typename}-->" name="typename" id="typename" class="Iw290"/></td>
                </tr>
              </table>
              <div class="pubTabelBot">
                <input type="submit"  hidefocus="hide" value="确定" class="btn1">
                &nbsp;&nbsp;&nbsp;
                <input type="button" hidefocus="hide" value="取消"  onclick="javascript:history.go(-1);" class="btn2">
              </div>
            </div>
          </div>
        </div>
		</form>
      </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>
<script src="<!--{$jspath}-->/pubJq.js"></script>