<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>吃喝玩乐详细页</title>
<link href="basc.css" rel="stylesheet" type="text/css"/>
<link href="styleG.css" rel="stylesheet" type="text/css"/>
<link href="styleX.css" rel="stylesheet" type="text/css"/>
<link href="styleL.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="t">
  <div class="state">
    <div class="other">|<a href="#" class="sina">用新浪微博登录</a>|<a href="#" class="qq">用QQ账号登录</a></div>
    <span>铭万开源平台，欢迎拍砖！</span>
    <form>
      <label>用户名:</label>
      <input type="text" class="userID"/>
      &nbsp;
      <label>密码:</label>
      <input type="password" class="pwd"/>
      <input type="button" value="登录" class="grayBtn1"/>
      &nbsp; <a href="#" class="underline">忘记密码</a>&nbsp;&nbsp;<a href="#" class="underline">注册</a>
    </form>
  </div>
</div>
<div class="n">
  <div class="logo_nav">
    <div class="logo"><img src="images/logo.png" /></div>
    <div class="nav">
      <ul>
        <li><a href="#" class="focus">首&nbsp;&nbsp;&nbsp;页</a></li>
        <li><a href="#">吃喝玩乐</a></li>
        <li><a href="#">闲物交换</a></li>
        <li><a href="#">生活妙招</a></li>
        <li><a href="#">政策法规</a></li>
        <li><a href="#">北京新闻</a></li>
        <li><a href="#">网站留言</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner"><img src="images/banner4.png" width="990" height="220" /></div>
<div class="searchBar">
  <form>
    <select class="select1">
      <option>不限类别</option>
      <option>爱先不先</option>
      <option>爱的</option>
    </select>
    <input type="text" class="text1" value="请输入关键字"/>
    <input type="button" value="搜 索" class="button1"/>
  </form>
</div>
<div class="wrap">
  <div class="sideBar">
    <div class="bg_grL mb10"> <span class="h_dotL">北京新闻</span>
      <ul class="js_list">
        <li> <strong class="level_1L"><span>地方法规</span></strong>
          <ul class="level2L">
            <li> <a href="#"><span class="level_moL level_moR">北京购车</span></a>
              <ul>
                <li><a href="#">购车</a></li>
                <li><a href="#">购车</a></li>
                <li><a href="#">购车</a></li>
              </ul>
            </li>
            <li><a href="#">北京购车</a></li>
            <li><a href="#">北京购车</a></li>
          </ul>
        </li>
        <li> <strong class="level_1L"><span>地方法规</span></strong>
          <ul class="level2L">
            <li> <a href="#"><span class="level_moL level_moR">北京购车</span></a>
              <ul>
                <li><a href="#">购车</a></li>
                <li><a href="#">购车</a></li>
                <li><a href="#">购车</a></li>
              </ul>
            </li>
            <li><a href="#">北京购车</a></li>
            <li><a href="#">北京购车</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="bg_grayL"> <a href="#" class="moreL">更多&gt;&gt;</a> <span class="h_grayL">相关美食</span>
      <ul class="arrow_ulL">
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
		<li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li class="last"><a href="#">多几个崔永元 多几个正能量</a></li>
      </ul>
    </div>
    <div class="advertL"><a href="#"><img src="images/advert3.png" width="245" height="102" /></a></div>
    <div class="bg_grayL"> <a href="#" class="moreL">更多&gt;&gt;</a> <span class="h_grayL">相关美食</span>
      <ul class="arrow_ulL">
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li class="last"><a href="#">多几个崔永元 多几个正能量</a></li>
      </ul>
    </div>
    <div class="advertL"><a href="#"><img src="images/advert3.png" width="245" height="102" /></a></div>
  </div>
  <div class="container">
    <div class="Greyborder">
      <div class="box_detail">
        <h1>奶酪--流入百姓家的宫廷美味</h1>
        <div class="bg_line"></div>
        <p class="publish_time">发表日期：2012.08.26</p>
        <div class="detail_con">
          <div class="img_wrapper"><img src="images/detail_pic01.jpg" alt="" title="" /></div>
          <p class="sj">在清人《都门杂咏》中有一首竹板词，绘声绘色地这样描述道："闲向街头啖一瓯，琼浆满饮润枯喉。觉来下咽如滑脂:，寒沁心脾爽似秋。"这段小诗将那凝霜冻玉.般的奶酪，恰到好处地介绍了出来。作为北京风味小吃的奶酪，在历史上，原本属于蒙族的食品，即使后来奶酪进了北京，也只是仅限于元、明、清三朝的宫廷小吃，直到后来才流传到民间。</p>
          <p class="sj">当年，在东安市场内有个丰盛公奶酪铺，店主姓何，满族正黄旗人。从几辈上论，这正宗的旗人.一向是靠吃皇粮度日，可到了辛亥革命，像他这样的"铁杆老米树"不灵了。但何子照是个有心人，硬是靠自食其力在乡下村里办了,个奶牛场，又向一位曾在清宫御膳房的大师傅讨教了制作奶酪的秘籍。于是，便在东安市场内租店开业，专售奶酪。那时候，大街上没有冷饮店，更没有冰淇淋，，冰棍什么的，这样，奶酪在京城便是一枝独放。每到夏季，那,些王府中的公子、小姐，清室的遗老遗少大多成了"丰盛公"的主顾。</p>
          <p class="sj">在清人《都门杂咏》中有一首竹板词，绘声绘色地这样描述道："闲向街头啖一瓯，琼浆满饮润枯喉。觉来下。咽如滑.脂，寒沁心脾爽似秋。"这段小诗将那凝霜冻玉般的奶酪，恰到好处地介绍了出来。作为北京风味小吃的奶酪，在历史上，原本属于蒙族.的食品，即使后来奶酪进了北京，也只是仅限于元、明、清三朝的宫廷小吃，直到后来才流传到民间。在历史上，原本。属于蒙族的.食品，即使后来奶酪进了北京，也只是仅限于元、明、清三朝的宫廷小吃，直到后来才流传在历史上，原本属于。蒙族的食品，即使后.来奶酪进了北京，也只是仅限于元、明、清三朝的宫廷小吃，直在历史上，原本属于蒙族的.食品，即使后来奶酪进了北京，也只讲到这里，也许会有人问，像那切糕、油条什么的，倒是天天见，隔三差五短不了吃，.而这奶酪到.底是怎么做出来的？要讲做奶酪，是.得需花费点工夫。首先是把鲜牛奶煮开，晾凉，加入白糖，经过细箩过.滤，再对入适量的江米.酒，搅匀后盛在碗里，分层码.进木桶后，桶底加火烘烤，名曰"烤酪"，等到凝固后撤火，再晾凉、冰镇。这样，奶酪便做成了。您看，吃奶酪吃.的是不是工夫钱！</p>
          <ul class="detail_list">
            <li><span>服务质量：</span><strong>好</strong></li>
            <li><span>菜品质量：</span><strong>好</strong></li>
            <li><span>用餐环境：</span><strong>优雅</strong></li>
            <li><span>人均消费：</span><strong>150元/人</strong></li>
            <li><span>电&nbsp;&nbsp;&nbsp;&nbsp;话：</span><strong>1585651475</strong></li>
            <li><span>地&nbsp;&nbsp;&nbsp;&nbsp;址：</span><strong>北京市朝阳区北四环8号。 老北京火锅</strong></li>
          </ul>
          <div class="chwl_com">
            <div class="comment_tit"><h3>发表评论</h3></div>
            <dl class="comment_list">
              <dt><a href="#"><img src="images/pic_46.jpg" class="imgline" /></a></dt>
              <dd><span class="time">2012.03.18</span><span class="f6">米西米：</span></dd>
              <dd>甜可口，细腻滑嫩，吃了还想吃！为了可以再次吃到她，我打算周末用掉睡觉的时间满足我的味觉!</dd>
            </dl>
            <dl class="comment_list">
              <dt><a href="#"><img src="images/pic46.jpg" /></a></dt>
              <dd><span class="time">2012.03.18</span><span class="f6">游客：</span></dd>
              <dd>甜可口，细腻滑嫩，吃了还想吃！为了可以再次吃到她，我打算周末用掉睡觉的时间满足我的味觉!</dd>
            </dl>
            <dl class="comment_list">
              <dt><a href="#"><img src="images/pic_46.jpg" class="imgline" /></a></dt>
              <dd><span class="time">2012.03.18</span><span class="f6">米西米：</span></dd>
              <dd>甜可口，细腻滑嫩，吃了还想吃！为了可以再次吃到她，我打算周末用掉睡觉的时间满足我的味觉!</dd>
            </dl>
            <dl class="comment_list">
              <dt><a href="#"><img src="images/pic46.jpg" /></a></dt>
              <dd><span class="time">2012.03.18</span><span class="f6">游客：</span></dd>
              <dd>甜可口，细腻滑嫩，吃了还想吃！为了可以再次吃到她，我打算周末用掉睡觉的时间满足我的味觉!</dd>
            </dl>
            <dl class="comment_list">
              <dt><a href="#"><img src="images/pic_46.jpg" class="imgline" /></a></dt>
              <dd><span class="time">2012.03.18</span><span class="f6">米西米：</span></dd>
              <dd>甜可口，细腻滑嫩，吃了还想吃！为了可以再次吃到她，我打算周末用掉睡觉的时间满足我的味觉!</dd>
            </dl>
            <div class="pages">
              <div class="page_detail"> <span>67条</span>&nbsp; <span>10条/页</span>&nbsp; <span class="cur_page">共<em>7</em>页</span> </div>
              <div class="page_jump"> 跳转至
                <input type="text" value="2">
                页 </div>
              <div class="page_go"> <a href="#">首页</a> <a href="#" class="decr">上一页</a><a href="#">1</a><a href="#" class="focus">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#" class="decr">下一页</a> <a href="#">末页</a> </div>
            </div>
            <div class="publish_txt02"> 
                <div class="publish_login mb10"><span class="right f6">评论<strong class="fgreen2">23</strong>条</span><label>用户名</label><input type="text" class="login_input" />&nbsp;&nbsp;&nbsp;<label>密码</label><input type="password" class="login_input" />&nbsp;&nbsp;<input type="button" value="登 录" class="login_btn" />&nbsp;<input type="button" value="注 册" class="login_btn" /></div>
                <textarea class="mb10"></textarea>
                <div>
                  <input type="button" value="发表评论" class="login_input02">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="aboutCrop">
  <div class="friendLink">
    <dl>
      <dt>友情链接：</dt>
      <dd><a href="#">北京中共</a><a href="#">新浪娱乐</a><a href="#">哥就是个传说</a><a href="#">铭万外企</a><a href="#">上海涉外事务所</a><a href="#">主流媒体都傻逼</a><a href="#">真话我想说但不让我说</a><a href="#">这个社会已经病态了</a><a href="#">我在这里啊我在这里啊</a><a href="#">我要涨工资啊</a><a href="#">我只是来学习滴只是来学习滴</a><a href="#">道明寺</a><a href="#">没有你的日子里</a><a href="#">盛开啊上开啊</a><a href="#">吃葡萄不</a><a href="#">哇哈哈哇哈哈</a><a href="#">我的大学在河北</a></dd>
    </dl>
    <div class="clearfix"></div>
  </div>
  <div class="adderss">
    <p>铭万全国统一客户服务热线：400-700-1818 客户服务邮箱：service@mainone.cn </p>
    <p class="copyright">铭万版权所有&copy;2004-2011 京ICP证050659号互联网药品信息服务资格证书 证书编号：（京）-经营性-2010-0049 </p>
  </div>
</div>
<script type="text/javascript" src="js/jquery-1.7.2.js"></script> 
<script type="text/javascript" src="js/list.js"></script>
</body>
</html>
