<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleL.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
<script type="text/javascript">
	$(function(){
		$('#add').cycle({ 
				fx:'scrollLeft',
				pager:'#btn'
		});
	})
</script>
</head>
<body>
{include 'head.html'}
{include 'banner.html'}
{php $cateTree = getIdListByPid($cid);} 
<div class="wrap">
  <div class="w">
    <div class="l w245">
      {include 'category3.html'}
      <div class="advertL">
        <div id="add"><a href="#"><img src="{IMG_PATH}/advert1.png" width="245" height="102"></a><a href="#"><img  src="{IMG_PATH}/advert2.png" width="245" height="101"></a></div>
        <div id="btn"></div>
      </div>
      <div class="bg_grayL"> <span class="h_grayL">点击排行</span>
        <ul class="arrow_ulL2">
        {mo:articlelist row="12" cid="$cid" type='son' order="hits desc" return="data"}
        	{foreach $data $k $v}
			{if $lastIndex}
          <li><span class="li_num">{$v['hits']}次</span><span class="num_b">{$n}</span><a href="{$v['url']}">{$v['title']}</a></li>
			{else}
          <li class="last"><span class="li_num">{$v['hits']}次</span><span class="num_g">{$n}</span><a href="{$v['url']}">{$v['title']}</a></li>
       		{/if}
       {/foreach}
		{/mo:articlelist}
        </ul>
      </div>
    </div>
    <div class="m w498">
      <div class="Greyborder">
        <div class="title"> <a href="{getMoreUrl($cateTree[1]['id'])}" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">{cid2name($cateTree[1]['id'])}</span><span class="tit_en">Eat and drink</span></div>
        </div>
        <div class="box_con">
         {php $catid1 = $cateTree[1]['id']}
         {mo:articlelist cid='$catid1'  row='2' order='publishtime' return='data'}
		  {foreach $data $k $v}
          <div class="bg_line"></div>
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="{$v['url']}" title=""><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" alt="{if $v['thumb']['alt'] != ''} {$v['thumb']['alt']} {else} {$v['thumb']['savename']} {/if}" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="{$v['url']}" title="{$v['title']}">{$v['title']}</a></dt>
              <dd class="f6" style="line-height:20px;">{csubstr($v['subtitle'],65)}<a href="{$v['url']}" class="greena">
                <全文>
                </a></dd>
            </dl>
          </div>
		  {/foreach}
		  {/mo:articlelist}
        </div>
      </div>
      <div class="advertM"><a href="#"><img src="{IMG_PATH}/advert4.png" width="498" height="89"/></a></div>
      <div class="Greyborder">
        <div class="title"> <a href="{getMoreUrl($cateTree[0]['id'])}" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">{cid2name($cateTree[0]['id'])}</span><span class="tit_en">Play</span></div>
        </div>
        <div class="box_con">
        {php $catid0 = $cateTree[0]['id']}
		{mo:articlelist row='1' cid='$catid0' type='son' return='data'}
		  {foreach $data $k $v}
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="{$v['url']}" title=""><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" alt="{if $v['thumb']['alt'] != ''} {$v['thumb']['alt']} {else} {$v['thumb']['savename']} {/if}" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="{$v['url']}" title="{$v['title']}">{$v['title']}</a></dt>
              <dd class="f6" style="line-height:20px;">{csubstr($v['description'],65)}<a href="{$v['url']}" class="greena">
                <详情>
                </a>
              </dd>
            </dl>
          </div>
		  {/foreach}
		  {/mo:articlelist}
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24 l bg_lineS">
			{mo:articlelist row='10' cid='$catid0' type='son' return='data'}
			{foreach $data $k $v}
            <dd style='width:225px;'><a href="{$v['url']}" class="bg_dot" >{csubstr($v['title'],17)}</a></dd>
		     {/foreach}
		     {/mo:articlelist}
          </dl>
		  <dl class="bc_txt bc_txt24 l">
			{mo:articlelist row='10' from='8' cid='11' type='son' return='data'}
			{foreach $data $k $v}
            <dd><a href="{$v['url']}" class="bg_dot">{csubstr($v['title'],17)}</a></dd>
		     {/foreach}
		     {/mo:articlelist}
          </dl>
        </div>
      </div>
    </div>
    <div class="r w237">
      <div class="Greyborder Greyborder_bg1">
       {php $position = getPositionByCatid($cateTree[1]['id']);}
        <div class="r_tit"> <a href="{getMoreUrl($position[0]['pos_id'])}" class="right t_more">更多>></a> <span class="r_t_name icobg_02">{$position[0]['name']}</span> </div>
        <div class="box_con">
          <ul class="arrow_ulL" style="margin:0;">
        {php $posid0 = $position[0]['pos_id']}
        {mo:position id='$posid0' return='data'}
         {foreach $data $k $value}
         <li><span class="time">{date('m-d',$value['alter_time'])}</span><a href="{$value['info']['url']}" title="{$value['headline']}">{csubstr($value['headline'],'9','...')}</a></li>
         {/foreach}
        {/mo:position}
          </ul>
        </div>
      </div>
      <div class="advertR"><a href="#"><img src="{IMG_PATH}/advert3.png" width="239" height="110" /></a></div>
      <div class="Greyborder Greyborder_bg1" style="padding-bottom:4px;">
        {php $cate0_son = getIdListByPid($cateTree[0]['id']);}
        <div class="r_tit"> <a href="{getMoreUrl($cate0_son[0]['id'])}" class="right t_more">更多>></a> <span class="r_t_name icobg_01">{cid2name($cate0_son[0]['id'])}</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
          {php $cat0_sonid0 = $cate0_son[0]['id']}
            {mo:articlelist row='4' cid='$cat0_sonid0' return='data'}
			{foreach $data $k $v}
            <dd><span class="time">{date('m-d',$v['publishtime'])}</span><a href="{$v['url']}">{csubstr($v['title'],14)}</a></dd>
			{/foreach}
		    {/mo:articlelist}
          </dl>
        </div>
        <div class="bg_linesolid"></div>
        <div class="r_tit"> <a href="{getMoreUrl($cate0_son[1]['id'])}" class="right t_more">更多>></a> <span class="r_t_name icobg_01">{cid2name($cate0_son[1]['id'])}</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
            {php $cat0_sonid1 = $cate0_son[1]['id']}
            {mo:articlelist row='4' cid='$cat0_sonid1' return='data'}
			{foreach $data $k $v}
            <dd><span class="time">{date('m-d',$v['publishtime'])}</span><a href="{$v['url']}">{csubstr($v['title'],14)}</a></dd>
			{/foreach}
		    {/mo:articlelist}
          </dl>
        </div>
        <div class="bg_linesolid"></div>
        <div class="r_tit"> <a href="{getMoreUrl($cate0_son[2]['id'])}" class="right t_more">更多>></a> <span class="r_t_name icobg_01">{cid2name($cate0_son[2]['id'])}</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
            {php $cat0_sonid2 = $cate0_son[2]['id']}
            {mo:articlelist row='4' cid='$cat0_sonid2' return='data'}
			{foreach $data $k $v}
            <dd><span class="time">{date('m-d',$v['publishtime'])}</span><a href="{$v['url']}">{csubstr($v['title'],14)}</a></dd>
			{/foreach}
		    {/mo:articlelist}
          </dl>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{include 'footer.html'}
