<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleL.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'head.html'}
{include 'banner.html'} 
<div class="wrap">
  <div class="w">
    <div class="l w245">
      {include 'category3.html'}
      <div class="advertL"><a href="{HOST_NAME}category/Category/list/cid/$cid"><img src="{IMG_PATH}/advert3.png" width="245" height="102" /></a></div>
      <div class="bg_grayL"> <span class="moreL"><a href="{getMoreUrl($cid)}" class="moreL">更多>></a></span> <span class="h_grayL">推荐帮助</span>
        <ul class="arrow_ulL">
        {mo:articlelist row="10" cid="$cid" type="all" return="data"}
        	{foreach $data $k $v}
			{if $lastIndex}
            <li><a href="{$v['url']}">{csubstr($v['title'],'18','..')}</a></li>
			{else}
          <li class="last"><a href="{$v['url']}">{csubstr($v['title'],'18','..')}</a></li>
       		{/if}
       {/foreach}
		{/mo:articlelist}
        </ul>
      </div>
    </div>
    <div class="right w744">
      {php $sonids=getCateTree($cid)}
	  {foreach $sonids $k $v}
      <div class="Greyborder mb10">
        <div class="title Greyborder_bg1"> <a href="{getMoreUrl($v['id'])}" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">{$v['catname']}</span></div>
        </div>
        <div class="box_con">
          <ul class="policy">
		  {php $vcid=$v['id'];}
		  {mo:articlelist cid='$vcid' order='publishtime' return='data'}
		  {foreach $data $sonkey $sonvalue}
            <li><span class="time">{date('Y-m-d',$sonvalue['publishtime'])}</span><a href="{$sonvalue['url']}">{$sonvalue['title']}</a></li>
          {/foreach}
		  {/mo:articlelist}
          </ul>
        </div>
      </div>
	  {/foreach}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{include 'footer.html'}
