/* CSS Document */
.buildSit{background:#fff url(../images/bg_buildSit.png) left bottom repeat-x; margin-bottom:15px; padding:10px 15px;position:relative;}
.buildSit s{ font-size:14px;width:79px; height:35px; line-height:30px; color:#fff;text-align:center; background-position:-220px 0; position:absolute;top:12px;left:-5px;}
.subBuild{/*width:900px;margin:10px auto;*/ width:782px; margin:35px auto 10px;}
.BtnGOn,.BtnGOff{width:19px; height:19px; display:block; background:url(../images/BtnGOn.png) no-repeat; position:absolute;right:12px;}
.BtnGOff{background:url(../images/BtnGOff.png) no-repeat;}
.pubModG{ border:#bad0df 1px solid; background-color:#fff; margin-bottom:18px;}
.width48{ width:48%;}
.titG{ height:40px; line-height:40px; background-position:0 -59px; padding:0 10px;}
.titG h6{ font-size:14px; color:#0f6fa0;}
.contG{ border-top:#bad0df 1px solid; padding:10px;}
.dlG dl{ float:left;width:22%; line-height:24px; margin-right:10px;}
.dlG dl dt{ font-weight:bold; border-bottom:#d9d9d9 1px solid; padding-bottom:6px; margin-bottom:6px;}
.ulG{}
.ulG li{ height:32px; line-height:32px; overflow:hidden; border-bottom:#bfbfbf 1px dashed;}