<!--{include file="public/head_admin.html"}-->
<script src="<!--{$jspath}-->/mo_upload.js"></script>
<script>
$(function(){
    $.formValidator.initConfig({formid:"myform",autotip:false,generalwordwide:true});
    
    $("#name").formValidator({empty:false,onshow:"请输入2-50字符",onfocus:"请输入2-50字符",oncorrect:"输入正确"})
    .inputValidator({min:2,max:50,onerror:"请输入2-50字符"});
</script>
<body>
    <div class="pubBox" >
        <div class="pubtabBox">
            <div class="TabBoxT">
                <dl class="navTab">     
                    <dd><a href="<!--{$baseurl}-->/memorial/acer/photo">相册列表</a></dd>
                    <dt class="on"><a href="<!--{$baseurl}-->/memorial/acer/photoaupdate" class="last">编辑照片</a></dt>
                </dl>
            </div>

            <form action='<!--{$baseurl}-->/memorial/acer/photoupdate' method='post' id='myform'>
                <div class="TabBoxC">
                    <div>
                        <div class="pubTabel">
                            <table class="tabelLR">
                                <tr>
                                    <th width="170px"><font>*</font> 相册名称：</th>
                                    <td>
                                        <input type="text" value="<!--{$findData.name}-->" class="Iw290" name='name' id='name'/>&nbsp;<span id='nameTip'></span>
                                    </td>
                                </tr>
                                <tr>
                                   <th><font>*</font>相册上传：</th>
                                    <td>
                                        <div id="img-adta-0" style="display:none"></div>
                                        <img class="mt5" src="/static/uploadfile<!--{$findData['photo']}-->" id="img0" onclick="uploadAccessory({'upload_id':'0','limit':'2','_switch':'ad_img','ady_upload':'1','img_data_id':'img-adta-0','img_id':'img0','hid_id':'hid0'})" width="110" height="86" style="cursor:pointer">
                                    </td>
                                </tr>

                                 <tr>
                                    <th width="170px"><font>*</font> 相册分类：</th>
                                    <td>
                                        <select name="pid">
                                        <!--{foreach item=item from = $cat}-->
                                            <option value="<!--{$item.id}-->" <!--{if $findData.pid eq $item.id}-->selected<!--{/if}-->><!--{$item.name}--></option>
                                        <!--{/foreach}-->
                                        </select>
                                    </td>
                                </tr>

                                <input type="hidden" name="id" value="<!--{$findData.id}-->">
                            </table>
                            <div class="pubTabelBot"><input type="submit" hidefocus="hide" value="确定" class="btn1">&nbsp;&nbsp;&nbsp;<input type="button" hidefocus="hide" value="取消" class="btn2" onclick="javascript:window.location.href = '<!--{$baseurl}-->/modules/link/index'"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
 <script>
 /*
*  -------------------------------------------------
*   自定义上传方法
*  -------------------------------------------------
*/
function uploadAccessory (obj)
{   

    var option={
        upload_id:'logo',
        title:'相册封面',
        return_id:'accessory',  
        callFunName:'accessoryUpload',
        setting:'<!--{$picsetting}-->',
        param:obj
    };
    MainOneUpload(option);
}

</script>
 </script>
</body>
</html>
