<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>内容列表</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleX.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
<script>
 function id_cid(obj)
 {
	 
 	var _obj = $(obj);
 	var mychecked = _obj.attr('checked');
 	var this_state = mychecked == undefined ? false : true;  
 	_obj.siblings(".cid").attr('checked',this_state);
 	_obj.siblings(".mid").attr('checked',this_state);
 }
 </script>
</head>
<body>
<div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">文章列表</a></dt>
			<dd><a href="<!--{$urlArr.addUrl}-->/categoryid/<!--{$search.categoryid}-->" class="last">添加文章</a></dd>
			<dd class="add"><a href="<!--{$baseurl}-->/content/issue/content">发布内容页</a></dd>
          </dl>
        </div>
        <form method='get' action="<!--{$urlArr.indexUrl}-->" id='myForm'>
        <div class="TabBoxC">
          <div>
            <div class="pubTabelTot">
              <input type="text" name='keywords' <!--{if $search.keywords}--> value="<!--{$search.keywords}-->" <!--{else}-->value="请输入关键字"<!--{/if}-->  class="Iw215 text-tips" tips="请输入关键字" >
              <select class="Iw290" style="width:110px;"  name='categoryid'>
                <option value="">请选择栏目</option>
                <!--{foreach item=item key=key from=$categoryList}-->
                <option value="<!--{$item.id}-->" <!--{if $search.categoryid eq $item.id}-->selected<!--{/if}--><!--{if !$item.flag }-->disabled<!--{/if}-->><!--{$item.catname}--></option>
				<!--{/foreach}-->
              </select>
              <select class="Iw290" style="width:140px;" id='order'  name='order'>
			    <option value="publishtime" <!--{if $search.order eq 'publishtime'}-->selected<!--{/if}-->>按发布时间</option>
                <option value="id"  <!--{if $search.order eq 'id'}-->selected<!--{/if}-->>按信息ID</option>
				<option value="updatetime" <!--{if $search.order eq 'updatetime'}-->selected<!--{/if}-->>按更新时间</option>
                <option value="hits" <!--{if $search.order eq 'hits'}-->selected<!--{/if}-->>按点击量</option>
                <option value="sortnum" <!--{if $search.order eq 'sortnum'}-->selected<!--{/if}-->>按排序值</option>
                </select>
                <select class="Iw290" style="width:110px;" id='desc' name='desc'>
                <option value="1" <!--{if $search.desc eq 1}-->selected<!--{/if}-->>降序</option>
                <option value="2" <!--{if $search.desc eq 2}-->selected<!--{/if}-->>升序</option>
                </select>
              <input type="button" hidefocus="hide" value="搜 索" class="btn5" onclick='formSubmit();'>
            </div>
            <div class="pubTabel">
              <table class="tabelTB"  id="search-list">
                <tr >
                  <th width="6%">选择</th>
                  <th width="6%">ID</th>
                  <th width="22%">内容标题</th>
                  <th width="12%">所属栏目</th>
                  <th width="8%">排序</th>
                  <th width="8%">点击量</th>
                  <th width="10%">发布人</th>
                  <th width="10%">更新时间</th>
                  <th width="14%">操作</th>
                </tr>
				<!--{foreach item=item key=key from=$list}-->
                <tr>
                  <td><input type="checkbox" value='<!--{$item.id}-->' onclick="javascript:id_cid(this)" name='id[]'/><input type="checkbox" style="display:none" value='<!--{$item.cid}-->' class='cid' name='cid[]'/><input type="checkbox" style="display:none"  onclick="javascript:id_cid(this)" value='<!--{$item.model}-->' class='mid' name='mid[]'/></td>
                  <td><!--{$item.id}--></td>
                  <td title="<!--{$item.title}-->"><!--{$item.title|truncate_cn:15:"...":true}--></td>
				  <td title="<!--{$item.catname}-->"><!--{$item.catname|truncate_cn:8:"...":true}--></td>
                  <td><input type="text" style="text-align:center;" class="Iw45" name="orderby[<!--{$item.id}-->]" value="<!--{$item.sortnum}-->"></td>
                  <td><!--{$item.hits}--></td>
                  <td><!--{$item.publishuser}--></td>
                  <td><!--{$item.updatetime|date_format:'%Y-%m-%d'}--></td>
                  <td><a target="__blank" href="/content/Content/index/id/<!--{$item.id}-->/isadmin/1">预览</a> | 
                  <a href="<!--{$urlArr.updateUrl}-->/id/<!--{$item.id}-->/cid/<!--{$item.cid}-->/keywords/<!--{$search.keywords}-->/categoryid/<!--{$search.categoryid}-->/order/<!--{$search.order}-->/desc/<!--{$search.desc}-->">修改</a> | 
                  <a  style="cursor:pointer" onclick="javascript:operateOne('<!--{$urlArr.delUrl}-->/id/<!--{$item.id}-->/cid/<!--{$item.cid}-->/keywords/<!--{$search.keywords}-->/categoryid/<!--{$search.categoryid}-->/order/<!--{$search.order}-->/desc/<!--{$search.desc}-->/mid/<!--{$item.model}-->','确定删除？')">删除</a></td>
                </tr>
                <!--{foreachelse}-->
             	<tr><td colspan=8>暂无内容！</td></tr>
                <!--{/foreach}-->
              </table>
            </div>
            <div class="pubOperate"><span class="btn5"><label>
             <input type="checkbox" class="Check-All-Toggle" container-id="search-list" style="position: relative; top: 3px; width: 15px;"/> 全选/反选
              </label></span> 
              <input type="button" class="btn5" value="移动到 &gt;"  onclick="moveArticle(this)" container-id="search-list" form-id="myForm" form-action="<!--{$urlArr.moveUrl}-->/keywords/<!--{$search.keywords}-->/categoryid/<!--{$search.categoryid}-->/order/<!--{$search.order}-->/desc/<!--{$search.desc}-->"   empty-tips="请选择要移动的内容！"/>
			  <input type="button" class="btn5" value="删除" onclick="batchOperate(this)" container-id="search-list" form-id="myForm" form-action="<!--{$urlArr.delUrl}-->/keywords/<!--{$search.keywords}-->/categoryid/<!--{$search.categoryid}-->/order/<!--{$search.order}-->/desc/<!--{$search.desc}-->"   empty-tips="请选择要删除的内容！" confirm-tips="确定删除?"/>
               <input type="button" is-selected="false" empty-tips="" form-action="<!--{$urlArr.updateorderUrl}-->/keywords/<!--{$search.keywords}-->/categoryid/<!--{$search.categoryid}-->/order/<!--{$search.order}-->/desc/<!--{$search.desc}-->" container-id="search-list" form-id="myForm" onclick="batchOperate(this)" value="更新排序" class="btn5">
            </div>
            <div class="pubTabelBot">
              <div class="pageGo"> <!--{$pagestr}--></div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    
 
    <script>
function moveArticle (obj)
{
	
	var hasper = <!--{$hasper}-->;
	if(!hasper)
    {
	  alert("对不起,你没有操作权限");
    }
	else
	{
		var _obj = $(obj);
		var options = {
		"form_id":_obj.attr('form-id'),
		"container_id":_obj.attr('container-id'),
		"form_action":_obj.attr('form-action'),
		"empty_tips":_obj.attr('empty-tips')
		};
		var checked_number = $('#'+options.container_id+' input:checkbox:checked').length;  //选中的复选框数量
		if (!checked_number && options.container_id)
		{
			art.dialog.alert(options.empty_tips,'warning');
			return false;
		}
		else 
		{
			art.dialog.open('<!--{$urlArr.moveHtmlUrl}-->',{
				title:'移动文章',
				id:'moveCategory',
				width:'500px',
				height:'100px',
				lock:true,
				ok:function(){     	
					var iframe = this.iframe.contentWindow;
					var moveCategoryId = iframe.document.getElementById('moveCategoryId').value;
					if(moveCategoryId)
					{
						var url = options.form_action+'/moveCategoryId/'+moveCategoryId;
						$('#'+options.form_id).attr('action',url);
						$('#'+options.form_id).submit();
					}
					window.top.art.dialog({id:'moveCategory'}).close();
				},
				cancel:function(){
				window.top.art.dialog({id:'moveCategory'}).close();
				}
			});
		}
	}
}
</script>
</body>

</html>
