<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>专题列表</title>
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/other.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/up_style.css" rel="stylesheet" type="text/css" />
</head>
<body class="edit">
{include 'head.html'}
<div class="wrap">
  <div class="w">
    <div class="l w245">

    <div class="bg_grayL"><span class="h_grayL">热门专题</span>
      <ul class="arrow_ulL">
        {foreach $hot $kk $vv}
        <li><a href="/special/Special/index/id/{$vv['id']}" target="_blank">{$vv['name']}</a></li>
        {/foreach}
      </ul>
    </div>

    </div>
    <div class="right w744">
	 <div class="Greyborder mb10" style="padding-bottom:8px;">
		 <div class="title"> 
			<div class="t_name"><span class="tit_green">{$special_name['name']}&nbsp;-&nbsp;{$assort_name['assort_name']}</span></div>
		  </div>
        <div class="box_con">
          <div class="gList_two gyyDl">
			{foreach $list $k $v}
			<ul>
			  <li class="right">{date('Y.m.d',$v['publishtime'])}</li>
			  {if $v['publishopt'] == 1}
			  <li class="tt">【{$v['category_name']}】<a href="{$v['static_url']}" target="_blank">{$v['title']}</a></li>
			  {else}
			  <li class="tt">【{$v['category_name']}】<a href="/content/Content/index/id/{$v['id']}" target="_blank">{$v['title']}</a></li>
			  {/if}
			</ul>
			{/foreach}
		  </div>

		<div class="page">{$pagestr}</div>

        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

{include 'footer.html'}
