<div class="footer">
            <div class="footer_cont">
                <p class="f_nav">
                    <a href="###">纪念馆</a>  
                    |
                    <a href="###">生命文化 </a> 
                    |
                    <a href="###">民族文化</a> 
                    |
                    <a href="###">丧葬用品  </a> 
                    |
                    <a href="###">公墓陵园 </a>  
                    |
                    <a href="###">关于我们 </a>  
                    |
                    <a href="###">联系我们 </a>   
                    |
                    <a href="###">合作单位 </a> 
                    |
                    <a href="###">帮助中心</a> 
                </p>
                <p class="contact">
                    <span class="icon_yx"><i></i>邮箱：wangshangjinian@163.com</span>
                    <span class="icon_dh"><i></i>电话：010-98641311</span>
                    <span class="icon_sj"><i></i>手机:17031665464</span>
                </p>
                <p class="Copyright">Copyright © 2016纪念网. All Rights Reserved  </p>
            </div>
        </div>          
    </body>
</html>
