<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>日志管理</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/My97DatePicker/WdatePicker.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
  <div class="pubBox">
    <form action="<!--{$baseurl}-->/webset/ManageLog/index" method="get" id="myForm" name="myForm" >
      <div class="pubtabBox">
        <div class="pubTabelTot">
           <input type="text" value="<!--{$keyword}-->" tips="请输入关键字" class="Iw150 text-tips" name='keyword' />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 操作时间：
           <span class="time"><input type="text" class="Iw150" value="<!--{$starttime}-->" onfocus="WdatePicker()" id='starttime' name='starttime' readonly></span> 至
           <span class="time"><input type="text" class="Iw150" value="<!--{$endtime}-->" onfocus="WdatePicker()" id='endtime' name='endtime' readonly></span>
           <input type="submit" value="搜 索" class="btn5">
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <div class="pubTabel">
              <table class="tabelTB" id="search-list">
                <tr>
                  <th width="16%">用户名</th>
                  <th width="24%">操作内容</th>
                  <th width="16%">操作时间</th>
                  <th width="10%">IP</th>
                  <th>备注</th>
                </tr>
                <!--{foreach from=$log item=list}-->
                <tr>
                  <td><!--{$list.admin_name}--></td>
                  <td><!--{$list.module_name}--></td>
                  <td><!--{$list.log_time|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
                  <td><!--{$list.ip_address}--></td>
                  <td title="<!--{$list.log_info}-->"><!--{$list.log_info|truncate_cn:20:"...":true}--></td>
                </tr>     
                <!--{/foreach}-->
              </table>
            </div>
            <div class="pubOperate">
            <input type="button" class="btn5" value="清空日志" onclick="javascript:if (confirm('确定清空日志'))location.href='<!--{$baseurl}-->/webset/ManageLog/empty'"/>
            </div>
            <div class="pubTabelBot">
                <div class="pageGo"><!--{$pageStr}--></div>
            </div>           
           </div>
          </div>
        </div>
      </div>
     </form>
    </div>
</body>
</html>