{include 'cemetery/head_cemetery.html'}

		<!--********************************************-->
		<div class="box_cont_w clearfix">
			<div class="w_1200 clearfix">
				<div class="left_menu clearfix">
					<h3>陵园服务</h3>
					<ul class="clearfix">
						<li class="active"><a href="/content/Content/server/id/{$content['id']}">-陵园服务</a></li>
					</ul>
				</div>
				<div class="right_cont">
					<!-- <h2 class="ly_tiele">{$content['title']}</h2> -->
					<div class="into_cont clearfix">
						{$summary}
					</div>
				</div>	
			</div>
		</div>
		
		<!--********footer***************************************-->
{include 'head_footer.html'}
