<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>留言板分类</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">表单分类</a></dt>
            <dd><a href="<!--{$baseurl}-->/modules/message/addtype" class='last'>添加分类</a></dd>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
            <form action="" method='get' id="batch-form">
              <input type='hidden' name='page' value="<!--{$page}-->">
              <table class="tabelTB" id="search-list">
                <tr>
                  <th width="10%">选择</th>
                  <th width="10%">ID</th>
                  <th width="24%">分类名称</th>
                  <th width="20%">内容数量</th>
                  <th width="12%">状态</th>
                  <th width="24%">操作</th>
                </tr>
                <!--{foreach item=item from = $list}-->
                <tr>
                  <td><input type="checkbox" name='id[]' value="<!--{$item.id}-->"/></td>
                  <td><!--{$item.id}--></td>
                  <td><!--{$item.name}--></td>
                  <td><!--{$item.count}--></td>
                  <td reg="<!--{$item.state}-->" class='states'><!--{if $item.state eq 2}-->开启<!--{else}-->关闭<!--{/if}--></td>                 
                  <td>
                     <a href="<!--{$baseurl}-->/modules/message/field/id/<!--{$item.id}-->/flag/1">字段管理</a> | 
                     <a href="<!--{$baseurl}-->/modules/message/editorType/id/<!--{$item.id}-->/page/<!--{$page}-->">修改</a> | 
                     <a 
                     <!--{if $item.state eq 2}--> 
                        style='color:#ccc;text-decoration:none;'
                     <!--{else}-->
                        href="<!--{$baseurl}-->/modules/message/opera/id/<!--{$item.id}-->/page/<!--{$page}-->/state/2/name/<!--{$item.name}-->"
                     <!--{/if}-->
                       >开启</a> | 
                     <a 
                     <!--{if $item.state eq 1}-->
                      style='color:#ccc;text-decoration:none;'
                      <!--{else}-->
                      href="<!--{$baseurl}-->/modules/message/opera/id/<!--{$item.id}-->/page/<!--{$page}-->/state/1/name/<!--{$item.name}-->"
                     <!--{/if}-->
                     >关闭</a> | 
                     <a href="#" onclick="MoConfirm('<!--{$baseurl}-->/modules/message/delete/id/<!--{$item.id}-->/p/<!--{$page}-->/name/<!--{$item.name}-->','确认删除？')">删除</a>
                 </td>
                </tr>
                <!--{/foreach}-->
              </table>
            </div>
            <div class="pubOperate"><span class="btn5" style="width:80px;"><label><input type="checkbox" class="Check-All-Toggle" container-id="search-list"  /> 全选/反选</label></span>
              <input type="button" class="btn5" value="开启"  onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/message/opera/state/2" empty-tips="请选择要开启的分类" confirm-tips="确定要开启选中分类吗？"/>
              <input type="button" class="btn5" value="关闭"  onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/message/opera/state/1" empty-tips="请选择要关闭的分类" confirm-tips="确定要关闭选中分类吗？"/>
              <input type="button" class="btn5" value="删除"  class="Check-All-Toggle" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/message/delete" empty-tips="请选择要删除的记录！" confirm-tips="确认删除？"/>
            </div>
            <div class="pubTabelBot">
             <div class="pageGo"><!--{$pageStr}--></div>
            </div> 
            </form>
          </div>  
        </div>
      </div>
    </div>   
</body>
</html>
