<!--{include file="public/head_admin.html"}-->
<script src="<!--{$jspath}-->/mo_upload.js"></script>
<body>
  <form method="POST" id="thisform" action="<!--{$baseurl}-->/webset/backlogo/updateLogo" enctype="multipart/form-data" >
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:void(0)">授权后台LOGO设置</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">

                  <!--{if $empower eq '2'}--><div style="margin:10px 0px 10px 20px;">温馨提示：未授权无法修改（<a href="http://www.izhancms.com/category/Category/index/cid/4" target="_blank"><font style="color:red">点击购买授权</font></a>）</div><!--{/if}-->

                <tr>
                  <th>后台LOGO：</th>
                  <td>
				  <span id="single-upload"><img src="<!--{$imgpath}-->/logo.png" width="190px;" height="36px;" style="margin-top:-5px;margin-left:-250px; position: absolute"/></span>&nbsp;
                    <input class="btn5" type="button"<!--{if $empower eq '2'}-->disabled <!--{/if}--> value="更换" name="accessory" style="position: relative;top: 3px;" onclick="uploadAccessory({'limit':'<!--{$setting.limit}-->','_switch':'brand','self_id':'uploadButton','ady_upload':1,'dis_place':'single-upload'});" handle="single-upload" id="uploadButton"/></td>
                </tr>

              </table>
              <div class="pubTabelBot">
                <input type="submit" value="确定" <!--{if $empower eq '2'}-->class="btn2" disabled <!--{else}--> class="btn1" <!--{/if}-->>
                <input type="button" value="取消" class="btn2" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </form>
    <div class="clearfix"></div>
</body>
</html>
<script type="text/javascript">
function uploadAccessory (obj)
{	
	var option=
	{
		upload_id:'accessory_upload',
		title:'上传LOGO',
		return_id:'accessory',
		callFunName:'accessoryUpload',
		setting:'<!--{$setting.setting}-->',
		param:obj
	};
	MainOneUpload(option);
}
</script>