<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleX.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:;">更新应用列表缓存</a></dt>

          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
            <form method="post" action="javascript:;" id="cache-form" enctype="multipart/form-data">
              <table class="tabelTBL mt10" id="search-list">
                <tr>

                </tr>
              </table>
            </form>
            </div>
            <div class="pubTabelBot pubTabelBot_X" style="text-align:left;">
              
            
              
              <input type="button" class="btn5" value="更新缓存"  onclick="operateOne('<!--{$baseurl}-->/cache/cache/update','确认更新缓存？')"/>
              
            </div>
            <div class="pubTabelBot">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>