{include 'entophead.html'}
<div class="nav">
  <div class="search">
  <script>
        function searchSubmit()
        {
            var val = $('#keywords').val();
            if(val=="Please input your keywords"||val=='')
            {
                alert("Please input your keywords");
                return false;
            }
            else
           {
                $("#hiddens").val(1);
                $("#searchForm").submit();
            }
        }
    </script>
	<form action='{HOST_NAME}search/Search/search' method='post' id='searchForm' target="_blank">
		<span style="display:none">
		
        <select class="select1"  name='mid'>
        	<option value=''>--请选择--</option>
            <option value='1' selected="selected">文章搜索</option>
            <option value='2'>商品搜索</option>
            <option value='a'>专题搜索</option>
        </select>
		<input type='radio' value='1' name='search_type'/>  搜索标题&nbsp;&nbsp;
        <input type='radio' value='2' name='search_type' checked = checked />  智能搜索&nbsp;&nbsp;
		</span>
		<input type='hidden' value='294' name='cid' />
        <input type="text" name='keywords' class="input226_30 keys" id='keywords' placeholder="Please input your keywords" {if isset($keywords)&&$keywords}value="{$keywords}"{else}value=""{/if} /><input type="button" class="sBtn1" value="" onclick='javascript:searchSubmit()'/>
        <input type='hidden' value='0' id='hiddens' name='hiddens'>
        <input type="hidden" name="dosearch" value="yes" />
     </form>
    </div>
  <ul>
		<li><a href="{getMoreUrl(294)}" {if !$cid}class="focus"{/if}>HOME</a></li>
		{mo:category row="5" cid="294" order="ordernum desc" type="son" return="data"}
     
		  {foreach $data  $key $value} 
			{if $value['id']==$cid or $value['id']==$pid}
			<li><a href="{getMoreUrl($value['id'])}" class="focus">{$value['catname']}</a></li>
			{else}
			<li><a href="{getMoreUrl($value['id'])}">{$value['catname']}</a></li>    
			{/if}	 
			 
		  {/foreach}

		{/mo:category}  

        <li><a href="/message/Message/index/id/284" {if isset($ismessage)}class='focus'{/if}>MESSAGE</a></li>
  </ul>
</div>
<script>
$(document).ready(function(){
	
	$("input.keys").focus(function(){
	  if($("input.keys").val().replace(/^\s+|\s+$/g,'') == 'Please input your keywords'){
		  $("input.keys").val('');
		  $("input.keys").css("color","#222");
	  }
	});
	
	$("input.keys").blur(function(){
		if ($("input.keys").val().replace(/^\s+|\s+$/g,'') == '') {
			$("input.keys").val('Please input your keywords');
			$("input.keys").css("color","#999");
		}
	});

});
</script>
