<div class="logoBar">
  <div class="state"><a href="{HOST_NAME}" class="home">Chinese</a><a href="javascript:HomepageFavorite.Homepage()" _fcksavedurl="javascript:HomepageFavorite.Homepage()" class="home">Set home</a><a href="javascript:HomepageFavorite.Favorite(window.location.href, document.title)" _fcksavedurl="javascript:HomepageFavorite.Favorite(window.location.href, document.title)" class="join">Add to Favorites</a></div>
  <div class="logo"><a href="{getMoreUrl(294)}" title="HOME"><img src="{logo()}" /></a></div>
</div>

<div class="t" style="display:none">
  <div class="state">
    <div class="other">|<a href="#" class="sina">SIGN LOGIN</a>|<a href="#" class="qq">QQ LOGIN</a></div>
    <span>Mainone,Welcome!</span>
	{if $GLOBALS['username']}
	HI:{$GLOBALS['username']}
	{else}
    <form action='/user/User/login/type/1' method='post' id='loginForm'>
      <label>Username:</label>
      <input type="text" class="userID" id='username' value='{$GLOBALS["cookieUsername"]}' name='username'/>
      <label>Password</label>
      <input type="password" class="pwd" id='password' name='password'/>
	   <input type="hidden" class="pwd"  name='dosubmit' value="1"/>
      <input type="button" onclick="javascript:checkLogin();" value="LOGIN" class="grayBtn1"/>
        <a href="#" class="underline">Forget PWD</a>  <a target='__blank' href="/user/User/regist/groupid/24" class="underline">Registe</a>
    </form>
	{/if}
  </div>
</div>
<script>
function checkLogin()
{
	if(!$('#username').val())
	{
		alert('Please enter your username');
	}
	else if(!$('#password').val())
	{
		alert('Please enter the password');
		
	}
	else
	{
		$('#loginForm').submit();
	}
}
</script>
<script>
var HomepageFavorite = {
//设为首页
Homepage: function () {
if (document.all) {
document.body.style.behavior = 'url(#default#homepage)';
document.body.setHomePage(window.location.href);

}
else if (window.sidebar) {
if (window.netscape) {
try {
netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
}
catch (e) {
alert("The operation is the browser refused, if you want to enable this feature, please enter about:config into the address bar, then the signed.applets.codebase_principal_support value for the true");
history.go(-1);
}
}
var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
prefs.setCharPref('browser.startup.homepage', window.location.href);
}
}
,

//加入收藏
Favorite: function Favorite(sURL, sTitle) {
try {
window.external.addFavorite(sURL, sTitle);
}
catch (e) {
try {
window.sidebar.addPanel(sTitle, sURL, "");
}
catch (e) {
alert("Add to Favorites failed, please add them manually.");
}
}
}
}
</script>