<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'enhead.html'}
{include 'banner.html'}
<div class="wrap">
  <div class="sideBar">
  <div class="pubModL">
      <div class="T">
        <h3>{cid2name(295)}</h3>
      </div>
      <div class="C">
        <div class="subNav">
          <ul>      
          {mo:articlelist cid='295' type='all' row='2'  return='data'}
			{foreach $data $k $v}
            {if $lastIndex}
                {if $v['id']===$id}
                <li class="last"><a href="{$v['url']}" class="focus">{$v['title']}</a></li>
                {else}
                <li class="last"><a href="{$v['url']}">{$v['title']}</a></li>
                {/if}
            {else}
                {if $v['id']===$id}
                <li><a href="{$v['url']}" class="focus">{$v['title']}</a></li>
                {else}
                <li><a href="{$v['url']}">{$v['title']}</a></li>
                {/if}
            {/if}
            {/foreach}            
          </ul>
        </div>
      </div>
    </div>
    <div class="kefu inkefu">
      <p class="p1">24 hour service hotline</p>
      <p class="p2">400-800-0606</p>
    </div>
  </div>
  <div class="container">
    <div class="thumb">Location：<a href="{getMoreUrl(294)}">Home</a> &gt; About Us</div>
    <div class="detail">
    {mo:article id='505' return='content'}
      <div class="T">
        <h2>{$content['title']}</h2>
        <span>Publish Date：{date('Y-m-d',$content['publishtime'])} </span></div>
      <div class="C">
        <div class="detailTxt">
          <p>{$content['content']}</p>
          {if isset($content['thumb']['src'])&&$content['thumb']['src']}
          <div class="detailPic"><img src="{UPLOAD_PATH}/{$content['thumb']['src']}" width="470" height="285" /><span>网易首相5.0版本</span></div>
          {/if}
        </div>{/mo:article}
        <div class="updown" style="display:none">
          <p>上一条：{$preContent}</p>
          <p>下一条：{$nextContent}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{include 'enfooter.html'}