<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'head.html'}
{include 'banner.html'}
<div class="wrap">
<div class="thumb">当前位置：<a href="{HOST_NAME}">首页</a> &gt; 联系我们</div>
<div class="contact" style="padding-bottom:190px; overflow:hidden;">
{mo:article id='311' return='content'}
 <div class="contactL">
{$content['content']}
</div>
<div class="contactR right">
{if $content['thumb']=='' }<img src="{IMG_PATH}/defimg.png">{else}<img src="{UPLOAD_PATH}/{$content['thumb']['src']}" width="500" />{/if}
</div>{/mo:article}
</div>
</div>
{include 'footer.html'}