<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'enhead.html'}
{include 'banner.html'}
<div class="wrap">
<div class="thumb">Localtion：<a href="{getMoreUrl(294)}">Home</a> &gt; {cid2name($cid)}</div>
  <div class="caseList">
    <div class="allList">
      <div>
        <ul class="ulOneList">
		{mo:articlelist cid='$cid' type='all' order='mid desc' return='data'}
			{foreach $data $k $v}
			<li><div class="listImgX"><a title="{$v['title']}" style="text-decoration:none;"><img {if $v['thumb']['src']=='' }src="{IMG_PATH}/defimg.png"{else}src="{UPLOAD_PATH}/{$v['thumb']['src']}"{/if} width="226" height="160" alt="{if $v['thumb']['alt']!=''}{$v['thumb']['alt']}{else}{$v['title']}{/if}"/></a></div></li>
			{/foreach}
		{/mo:articlelist}
        </ul>
      </div>
    </div>
  </div>
</div>
{include 'enfooter.html'}