{if $modelid =='284' }
{include 'enmessage.html'}
{else}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>访客留言</title>
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
<script>
$(document).ready(function(){
	
	$("textarea.Iw450").focus(function(){
	  if($("textarea.Iw450").val().replace(/^\s+|\s+$/g,'') == '请在此输入内容，我们会在第一时间给你答复！谢谢！'){
		  $("textarea.Iw450").val('');
		  $("textarea.Iw450").css("color","#222");
	  }
	});
	$("textarea.Iw450").blur(function(){
		if ($("textarea.Iw450").val().replace(/^\s+|\s+$/g,'') == '') {
			$("textarea.Iw450").val('请在此输入内容，我们会在第一时间给你答复！谢谢！');
			$("textarea.Iw450").css("color","#999");
		}
	});

});
function hide(a){
	var type = a;
	if (type == 1){
		$('.message').hide();
		$('.lmessage').show();
	}
	if (type == 0){
		$('.lmessage').hide();
		$('.message').show();
	}
}
</script>
</head>
<body>
{include 'head.html'}
<div class="wrap">
<div class="thumb">当前位置：<a href="{HOST_NAME}">首页</a> &gt; 访客留言</div>
<div class="tabbox message" style="padding-bottom:190px;">
<div class="submit_btn" style="position:absolute;margin-left:800px;" onclick="hide(1)">留言列表</div>
<form action='/message/Message/add' id="messageForm" method='post'>
<input type='hidden' name='modelid' value="{$modelid}"/>
  <table width="100%" class="mesg" cellpadding="0" cellspacing="0">
    {foreach $form $key $v}
	    {$v}
	  {/foreach}
      {if $hasYzm}
      <tr>
        <th>* 验证码：</th>
        <td class="valign"><input type="text" name='code' id='code' class="input131_24" />
          <img src="{HOST_NAME}/static/js/securimage/yzm.php" id='yzm' width="100" height="40" class="yzm captcha"/><a href="#"  onclick='yzm.src="/static/js/securimage/yzm.php?"' class="msgLink captcha">看不清楚，刷新一下！</a></td>
      </tr>
	  {/if}
    <tr>
      <td colspan="4" align="center"><input type="button" class="submit_btn" onclick="submitCheck();" value="提交信息" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" class="submit_btn" value="留言重置" /></td>
    </tr>
  </table>
  </form>
</div>
<div class="tabbox lmessage" style="padding-bottom:190px;display:none;">
<div class="submit_btn" style="position:absolute;margin-left:800px;" onclick="hide(0)">我要留言</div>
{mo:message modelid='$modelid' pagesize='10' pagenum='5' return='data'}
	   {foreach $data $key $value}
        <dl class="mlist">
          <dt>留言主题：{$value['title']}</dt>
          <dd>留言者：{$value['username']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
          <dd>留言内容：{$value['mess_infor']}</dd>
          {if $value['replayinfor']}<dd style="color:#000080;">管理员回复：{$value['replayinfor']}</dd>{/if}
        </dl>
	   {/foreach}
	{/mo:message}
	<div class="page"><a href="{$pageArr['firstPageUrl']}" title="1">首页</a>{foreach $pageArr['pageUrl'] $k $v}<a href="{$v}" title="$k" class="focus">{$k}</a>{/foreach}<a href="{$pageArr['prewPageUrl']}" title="上一页">上一页</a><a href="{$pageArr['nextPageUrl']}" title="1">下一页</a><a href="{$pageArr['lastPageUrl']}" title="1">末页</a><span>共 <b>{$pageArr['pageNums']}</b> 页 <b>{$pageArr['count']}</b> 条</span></div>
</div>
</div>
<script>
 $.formValidator.initConfig({autotip:true,formid: "messageForm", debug:false,onError: function(msg) {}, onSuccess: function() {}});
{$formvalidator}
$(document).ready(function() {  
	$('.captcha').click(function(){
		$('.captcha').attr('src','/static/js/securimage/yzm.php?' + Math.random());
		return false;
	});
});
function submitCheck()      
{
	if($('#code').val()=='')
	{
		alert("验证码为空，请填写正确的验证码！");
	}
	else
	{
		$('#messageForm').submit();
	}
}
</script>
{include 'footer.html'}
{/if}