<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$title}--></title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<!-- layer插件 -->
<link rel="stylesheet" href="<!--{$jspath}-->/layer/skin/default/layer.css" type="text/css">
<script src="<!--{$jspath}-->/layer/layer.js"></script>

</head>

<body>
  <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
             <dt class="on"><a href="<!--{$baseurl}-->/memorial/funeray/lists" class="last">商品列表</a></dt>
                <dd><a href="<!--{$baseurl}-->/memorial/funeray/add" class="last">添加商品</a></dd>
          </dl>
        </div>
        <form action="<!--{$baseurl}-->/memorial/hall/index" method='get' id="batch-form">
      
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <div class="pubTabel">
              <table class="tabelTB" id="search-list">
                <tr>
                  <th>选择</th>
                  <th>商品名称</th>
                  <th>分类名称</th>
                  <th>商品log</th>
                  <th>商品价格</th>
                  <th>商品期限</th>
                  <th>操作</th>
                </tr>
                <!--{foreach item=item from = $list}-->
                <tr>
                  <td>
                    <input type="checkbox" name="id[]" value='<!--{$item.id}-->' />
                  </td>
                  <td><!--{$item.gname}--></td>
                  <td><!--{$item.cat_name}--></td>
                  <td><img src="<!--{$item.pic}-->" width="50"></td>
                  <td><!--{$item.price}--> 元</td>
                  <td><!--{$item.gtime}--> 天</td>
                  <td>
                    <a href="<!--{$baseurl}-->/memorial/funeray/goodsupdate/id/<!--{$item.id}-->">编辑</a> |
                    <a href="javascript:;"  onclick="MoConfirm('<!--{$baseurl}-->/memorial/funeray/goodsdel/id/<!--{$item.id}-->/page/<!--{$page}-->','确认删除？')">删除</a>
                  </td>
                </tr>
                <!--{/foreach}-->
              </table>
            </div>

           <!--  <div class="pubOperate"><span class="btn5">
              <label>
              <input type="checkbox" class="Check-All-Toggle" container-id="search-list"/>
                                        全选/反选</label>
              </span> 
             
              <input type="button" class="btn5" value="删除" class="Check-All-Toggle" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/memorial/acer/photodel/id/<!--{$item.id}-->/page/<!--{$page}-->" empty-tips="请选择要删除的数据" confirm-tips="确认删除？"/>
            </div> -->
            <div class="pubTabelBot">
             <div class="pageGo"><!--{$pageStr}--></div>
            </div> 
             </form>          
           </div>
          </div>

    <script>
    function messageInfo(id){
        window.top.art.dialog({title:'预览', content:'<iframe src="/admin/memorial/acer/photoinfo/id/'+id+'" width="630px" height="500px" scrolling="yes" frameborder="0"></iframe>', width:'630px', height:'500px',id:'createActivit'});
    }
    </script>
    </body>
    </html>

