<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">账户变动信息</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel mt10">
                <dl class="navTab" style='padding-left:1px;border:0px;'>
                    <dt class="on" style='display:block;padding:0 10px;'>基本信息</dt>
                </dl>

             	<table class="tabelLR" style="border:1px solid #ddd;border-bottom:dashed 1px #ddd">
                  <tr>
                    <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%;">用户名</th>
                    <td style="text-indent:1em;text-align:left;width:30%;border:1px solid #ddd">
                        <!--{if $info.username}-->
                        <!--{$info.username}-->
                        <!--{else}-->
                        <!--{$info.email}-->
                        <!--{/if}-->
                    </td>

                    <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%">充值备注</th>
                    <td style="text-indent:1em;text-align:left;width:30%;border-bottom:1px solid #ddd">
                        <!--{if $info.pay_type eq 1}-->在线充值<!--{/if}-->
                        <!--{if $info.pay_type eq 2}-->系统奖励<!--{/if}-->
                        <!--{if $info.pay_type eq 3}-->系统扣除<!--{/if}-->
                    </td>
                  </tr>
                  <tr>
                    <th style="text-align:center;text-indent:0px;background:#eee;width:20%;border-right:1px solid #ddd">账户元宝数量</th>
                    <td style="text-indent:1em;text-align:left;width:30%;border-right:1px solid #ddd">
                        <!--{$info.ss}-->
                    </td>
                      <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%;border-top:0px;">本次账户变动元宝数量</th>
                      <td style="text-indent:1em;text-align:left;width:30%;border-bottom:1px solid #ddd;border-top:0px;">
                         + <!--{$info.point}-->
                      </td>

                  </tr>
                </table>

                <table class="tabelLR" style="border:1px solid #ddd;border-bottom:dashed 1px #ddd;border-top:0px;">
                  <tr>
                    <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%;border-top:0px;">支付方式</th>
                    <td style="text-indent:1em;text-align:left;width:30%;border:1px solid #ddd;border-top:0px;">
                        <!--{if $info.pay_type eq 1}-->在线充值<!--{/if}-->
                        <!--{if $info.pay_type eq 2}-->系统奖励<!--{/if}-->
                        <!--{if $info.pay_type eq 3}-->系统扣除<!--{/if}-->
                    </td>

                    <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%;border-top:0px;">账户变动状态</th>
                    <td style="text-indent:1em;text-align:left;width:30%;border-bottom:1px solid #ddd;border-top:0px;">
                        <!--{if $info.pay_type eq 1}-->在线充值成功<!--{/if}-->
                        <!--{if $info.pay_type eq 2}-->系统奖励成功<!--{/if}-->
                        <!--{if $info.pay_type eq 3}-->系统扣除成功<!--{/if}-->
                    </td>
                  </tr>
                </table>

                <table class="tabelLR" style="border:1px solid #ddd;border-bottom:dashed 1px #ddd;border-top:0px;">
                    <tr>
                        <th style="text-align:center;text-indent:0px;background:#eee;border:1px solid #ddd;width:20%;border-top:0px;">产品名称</th>
                        <td style="text-indent:1em;text-align:left;width:30%;border:1px solid #ddd;border-top:0px;">
                            元宝
                        </td>

                        <th style="text-align:center;text-indent:0px;background:#eee;width:20%;border-right:1px solid #ddd">变动时间</th>
                        <td style="text-indent:1em;text-align:left;width:30%;border-right:1px solid #ddd">
                            <!--{if $info.addtime != 0}-->
                            <!--{$info.addtime|date_format:'%Y-%m-%d %H:%M:%S'}-->
                            <!--{/if}-->
                        </td>
                    </tr>
                </table>



            </div>
          </div>
        </div>
        </div>

    </div>
<div class="clearfix"></div>

    <script type="text/javascript">
        $('.submit_btn').click(function () {
            var url = $(this).attr('submit-url');
            $('#operation-form').attr('action', url);
            $('#operation-form').submit();
        });
    </script>
</body>
</html>