<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>系统用户权限--系统角色管理</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/pubJq.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<style type="text/css">
 #gray{color:#ccc;text-decoration:none;}
</style>
</head>
<body>    
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">角色列表</a></dt>
            <dd><a href="<!--{$baseurl}-->/webset/role/add" class="last">添加角色</a></dd>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <form action="<!--{$baseurl}-->/webset/role/index" method='get' id='myForm' name='myForm'>
            <input type="hidden" id="page" name="page" value="<!--{$page}-->" />
            <div class="pubTabelTot">
              <input type="text" value="<!--{$searchInfo.keyword}-->" class="Iw290 text-tips" tips="请输入关键字"" style="width:150px;" id="keyword" name="keyword">
              <select class="Iw290" style="width:110px;" id="status" name="status">
                <option value="">请选择状态</option>
                <option value="1" <!--{if $searchInfo.status eq 1}-->selected<!--{/if}-->>开启</option>
                <option value="2" <!--{if $searchInfo.status eq 2}-->selected<!--{/if}-->>关闭</option>
              </select>
              <input type="button" hidefocus="hide" value="搜 索" class="btn5" onclick="formSubmit();" />
            </div>
            <div class="pubTabel">
              <table class="tabelTB" id="search-list">
                <tr>
                  <th width="10%">选择</th>
                  <th width="10%">ID</th>
                  <th width="25%">角色名称</th>
                  <th width="20%">状态</th>
                  <th width="35%">操作</th>
                </tr>
                <!--{foreach from=$roleList item=role}-->
                <tr>
                  <td><!--{if $role.id neq 1}--><input type="checkbox"  name="roleid[]" value="<!--{$role.id}-->"  /><!--{/if}--></td>
                  <td><!--{$role.id}--></td>
                  <td title="<!--{$role.rolename}-->"><!--{$role.rolename|truncate_cn:"15":"...":'utf8'}--></td>
                  <td><!--{$status[$role.status]}--></td> 
                  <!--{if $role.id eq 1}-->            
                  <td><a id="gray">修改角色</a> | <a id="gray">删除</a> | <a id="gray">开启</a> | <a id="gray">关闭</a></td>
                  <!--{else}-->
                  <td><a href="<!--{$baseurl}-->/webset/role/edit/id/<!--{$role.id}-->/p/<!--{$page}-->/st/<!--{$searchInfo.status}-->/kw/<!--{$searchInfo.keyword}-->">修改角色</a> | 
                  <!--{if $role.status eq 1}--><a id="gray">删除</a><!--{else}--><a href="#" onclick="MoConfirm('<!--{$baseurl}-->/webset/role/delete/roleid/<!--{$role.id}-->','确认删除？');">删除</a><!--{/if}--> | 
                  <!--{if $role.status eq 1}--><a id="gray">开启</a><!--{else}--><a href="<!--{$baseurl}-->/webset/role/isable/state/1/roleid/<!--{$role.id}-->/page/<!--{$page}-->/status/<!--{$searchInfo.status}-->/keyword/<!--{$searchInfo.keyword}-->">开启</a><!--{/if}--> | 
                  <!--{if $role.status eq 2}--><a id="gray">关闭</a><!--{else}--><a href="<!--{$baseurl}-->/webset/role/isable/state/2/roleid/<!--{$role.id}-->/page/<!--{$page}-->/status/<!--{$searchInfo.status}-->/keyword/<!--{$searchInfo.keyword}-->">关闭</a><!--{/if}--></td>
                  <!--{/if}-->
                </tr>
                <!--{/foreach}-->
                </table>                 
            </div>
            <div class="pubOperate"><span class="btn5" style="width:80px;"><label><input type="checkbox" class="Check-All-Toggle" container-id="search-list"  /> 全选/反选</label></span>
              <input type="button" class="btn5" value="开启"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/webset/role/isable/state/1" empty-tips="请选择要开启角色！" confirm-tips="确认开启？"/>
              <input type="button" class="btn5" value="关闭"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/webset/role/isable/state/2" empty-tips="请选择要关闭角色！" confirm-tips="确认关闭？"/>
              <input type="button" class="btn5" value="删除"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/webset/role/delete" empty-tips="请选择要删除角色！" confirm-tips="确认删除？"/>
            </div>
            <div class="pubTabelBot">
            <div class="pageGo"><!--{$pageStr}--></div>
            </div>
            </form>
          </div>
          <div style="height:100px; display:none"></div>
          <div style="height:100px; display:none"></div>
        </div>
      </div>
    </div>
</body>
</html>
