<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title></title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"  title="basc"/>
<link href="<!--{$csspath}-->/bascB.css" rel="alternate stylesheet" type="text/css" title="bascB"/>
<link href="<!--{$csspath}-->/bascG.css" rel="alternate stylesheet" type="text/css" title="bascG"/>
<link href="<!--{$csspath}-->/bascR.css" rel="alternate stylesheet" type="text/css" title="bascR"/>

<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleX.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/validator.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/pubJq.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/admin.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/styleswitch.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script type="text/javascript" src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="<!--{$jspath}-->/formvalidator.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/formvalidatorregex.js"></script>
<style type="text/css">
 #gray{color:#ccc;text-decoration:none;}
</style>
</head>
