<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>CMS首页</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css" title="basc"/>
<link href="<!--{$csspath}-->/bascB.css" rel="alternate stylesheet" type="text/css" title="bascB"/>
<link href="<!--{$csspath}-->/bascG.css" rel="alternate stylesheet" type="text/css" title="bascG"/>
<link href="<!--{$csspath}-->/bascR.css" rel="alternate stylesheet" type="text/css" title="bascR"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<!--{include file='public/baseurl.html'}-->
<script src="<!--{$jspath}-->/pubJq.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/styleswitch.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript">
/*常用操作跳转*/
function _SC(menuid,targetUrl,topmenu)
{
    var bigmenu='';
    if(topmenu=='' || topmenu==undefined){
        bigmenu=1;
    }else{
        bigmenu=topmenu;
    }
        
    window.location.href = "<!--{$baseurl}-->/admin/index/init?menuid="+bigmenu+"&submenu="+menuid+"&rightUrl="+targetUrl; 
}
//导航菜单
function _MM(menuid) {
    window.location.href = "<!--{$baseurl}-->/admin/index/init?menuid="+menuid;   
}

//左侧菜单 我要建站 信息统计的链接跳转
function _MP(menuid,targetUrl,topmenu) {
	var bigmenu='';
	if(topmenu=='' || topmenu==undefined){
		bigmenu=1;
	}else{
		bigmenu=topmenu;
	}
	window.location.href = "<!--{$baseurl}-->/admin/index/init?menuid="+bigmenu+"&submenu="+menuid+"&rightUrl="+targetUrl; 
}

function nopermission()
{
    alert("对不起，您没有该权限！");
}
</script>
</head>
<body>
<div class="logo_Nav">
  <div class="mainone">
    <a href="<!--{$hostname}-->" target="_blank"><div class="logo"></div></a>
    <div class="guide"><a href="#" class="guideA"></a>
      <!--{include file='public/top_left_nav.html'}-->
    </div>
  </div>
  <div class="state">
    <div class="headPic">
      <p>Hi! <!--{$pageInfo.username}--> <!--{$pageInfo.rolename}--></p>
      <p>[<a href="<!--{$baseurl}-->/admin/login/loginout">退出</a>]&nbsp;[<a href="#" onclick="editPassword();">修改密码</a>]</p>
    </div>
  </div>
  <div class="mainNav">
    <ul><!--{$topMenuStr}--></ul>
  </div>
  <div class="clearfix"></div>
</div>

<!--  版本更新  -->
<div class="handle" id="upgrade-tips" style="display:none"></div>
<div class="wrap">
  <div class="thumb">
    <div class="skin"><a class="skin1 styleswitch" href="#" rel="basc"></a><a class="skin2 styleswitch" href="#" rel="bascB"></a><a class="skin3 styleswitch" href="#" rel="bascG"></a><a class="skin4 styleswitch" href="#" rel="bascR"></a></div>
    <s></s>当前位置：<span>后台首页</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>版权授权：<!--{if $empower eq '2'}-->未授权（<a href="http://www.izhancms.com/category/Category/index/cid/4" target="_blank"><font color="red">点击购买</font></a>）<!--{else}-->已授权<!--{/if}-->&nbsp;<img src="<!--{$imgpath}-->/alarm.png" width="16" height="16" alt="播报" style="position: relative;top: 4px;"/><marquee align="left" behavior="scroll" direction="left" scrollamount="4" height="20" width="750" onMouseOut="this.start()" hspace="15" onMouseOver="this.stop()"><!--{foreach from=$json item=l}-->&nbsp;&nbsp;<a href="<!--{$l.announce_address}-->" target="_blank"><!--{$l.announce_name}-->——<!--{$l.announce_disc}--></a>&nbsp;&nbsp;<!--{/foreach}--></marquee></strong></div>
  <div class="sideNav">
    <dl class="act">
      <dt><a href="#">常用操作</a></dt>
      <dd>
      <!--{foreach from=$pageInfo.shortcut item=row}-->
      <a href="javascript:_SC('<!--{$row.parentid}-->','<!--{$row.linkURL}-->','<!--{$row.moduleid}-->')"><!--{$row.name}--></a></a>
      <!--{/foreach}-->
      </dd> 
      <dd><a href="#" class="last" onclick="shortcut();"><b>+</b> 增加</a></dd>
    </dl>
  </div>
  <div class="openClose"><span class="closeBtn"></span> </div>
  <div class="container">
    <!--{if $pageInfo.remind neq 1}-->
    <div class="remind"><strong>重要提醒：</strong>系统邮箱服务器未完成配置，无法发送邮件及找回密码，为保证账户安全，请<a href="#" onclick="<!--{if in_array('37',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('37','<!--{$baseurl}-->/webset/mailset/index','218');<!--{else}-->nopermission();<!--{/if}-->" >立即配置</a></div>
    <!--{/if}-->
    <br>
      <strong>祭祀项目 - 管理中心</strong>

      <div class="js_content">
        <div class="js_div">
          <div class="js_div2" style="border-right: none;"><img src=""></div>
          <div class="js_div2"><p>今日会员新增数量</p><span>20</span></div>
        </div>

         <div class="js_div">
          <div class="js_div2" style="border-right: none;"><img src=""></div>
          <div class="js_div2"><p>今日纪念馆新增数量</p><span>20</span></div>
        </div>

         <div class="js_div" style="margin-right: 0px;">
          <div class="js_div2" style="border-right: none;"><img src=""></div>
          <div class="js_div2"><p>今日充值总额</p><span>20</span></div>
        </div>
      </div>
    <div class="right" style="width: 100%">
              <div class="pubModG left" style="width:100%;">
          <div class="titG">
            <h6>待审核事项</h6>
          </div>
          <div class="contG">
            <div class="dlG">
              <dl style="width:240px;border-right: solid #ccc 1px;margin-right: 70px;">
                <dd>作品及荣誉&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1241','<!--{$baseurl}-->/memorial/audit/honor/status/3/','409')"><cite><!--{$honor}--></cite></a></dd>
                <dd>纪念祭文&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1243','<!--{$baseurl}-->/memorial/audit/eulogy/status/3/','409')"><cite><!--{$eulogy}--></cite></a></dd>
                <dd>背景音乐&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1245','<!--{$baseurl}-->/memorial/moreset/song/status/0/','409')"><cite><!--{$bgm}--></cite></a></dd>
                <dd>留言&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1247','<!--{$baseurl}-->/memorial/audit/message/status/0/','409')"><cite><!--{$msg}--></cite></a></dd>
              </dl>
              <dl style="width:240px;border-right: solid #ccc 1px;margin-right: 70px;">
                <dd>纪念馆&nbsp;&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('411','<!--{$baseurl}-->/memorial/hall/jinian/status/3/','409')"><cite><!--{$memorial}--></cite></a></dd>
                <dd>传记&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1242','<!--{$baseurl}-->/memorial/audit/biography/status/0/','409')"><cite><!--{$bio}--></cite></a></dd>
                <dd>相册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;待审核 <a href="javascript:;" onclick="_MP('1244','<!--{$baseurl}-->/memorial/acer/photo/status/0/','409')"><cite><!--{$photo_num}--></cite></a></dd>
              </dl>
              
              <div class="clearfix"></div>
            </div>
          </div>
        </div> 
    </div>

    <div class="left" style="width:49%">
        <div class="pubModG left" style="width:100%;">
          <div class="titG">
            <h6>信息统计</h6>
          </div>
          <div class="contG">
            <div class="dlG">
              <dl>
                <dt>会员</dt>
                <dd>管理员 <a href="#" onclick="<!--{if in_array('40',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('40','<!--{$baseurl}-->/webset/adminuser/index');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.admin}--></cite></a> 人</dd>
                <dd>注册会员 <a href="#" onclick="<!--{if in_array('67',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('67','<!--{$baseurl}-->/members/member/index','4');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.members}--></cite></a> 人</dd>
                <dd>有效会员 <a href="#" onclick="<!--{if in_array('67',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('67','<!--{$baseurl}-->/members/member/index/status/1','4');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.activeMember}--></cite></a> 人</dd>
              </dl>
              <dl>
                <dt>信息</dt>
                <dd>信息总数 <cite><a href="#" onclick="<!--{if in_array('51',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('51','<!--{$baseurl}-->/content/content/index','2');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.content}--></cite></a></cite> 条</dd>
                <dd>文章总数 <cite><a href="#" onclick="<!--{if in_array('57',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('57','<!--{$baseurl}-->/content/content/index/modelid/1','3');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.article}--></cite></a></cite> 条</dd>
                <dd>商品总数 <cite><a href="#" onclick="<!--{if in_array('58',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('58','<!--{$baseurl}-->/modules/goods/index','3');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.goods}--></cite></a></cite> 个</dd>
              </dl>
              <dl style="width:25%">
                <dt>评论</dt>
                <dd>评论总数 <cite><a href="#" onclick="<!--{if in_array('52',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('52','<!--{$baseurl}-->/content/comment/index','2');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.comment}--></cite></a></cite> 条</dd>
                <dd>自定义表单信息总数 <cite><a href="#" onclick="<!--{if in_array('62',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('62','<!--{$baseurl}-->/modules/message/index','3');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.message}--></cite></a></cite> 条</dd>
              </dl>
              <dl>
                <dt>其他</dt>
                <dd>广告位 <cite><a href="#" onclick="<!--{if in_array('65',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('65','<!--{$baseurl}-->/modules/AdManage/adPosition','3');<!--{else}-->nopermission();<!--{/if}-->"><cite><!--{$counts.adposition}--></cite></a></cite> 个</dd>
              </dl>
              <div class="clearfix"></div>
            </div>
          </div>
        </div> 
        <div class="pubModG left" id="picplayer" style="position:relative;overflow:hidden;width:100%;height:100px; <!--{if $positon_left eq '1'}--> display:none;<!--{/if}-->"></div>
         <div class="pubModG left" style="width:100%;">
          <div class="titG">
            <h6>官方信息</h6>
          </div>
          <div class="contG">
            <div class="ulG">
              <ul>
                <li>爱站官网：<a href="http://corp.b2b.cn" target="_blank">http://www.izhancms.com</a></li>
                <li>必途官网：<a href="http://corp.b2b.cn" target="_blank">http://corp.b2b.cn</a></li>
                <li>必途搜索：<a href="http://www.b2b.cn" target="_blank">http://www.b2b.cn</a></li>
                <li>必途智网：<a href="http://jianzhan.b2b.cn" target="_blank">http://jianzhan.b2b.cn</a></li>
                <li class="last">金榜题名：<a href="http://a.b2b.cn" target="_blank">http://a.b2b.cn</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>

    <div class="right" style="width:49%">
         <div class="pubModG right" style="width:100%;">
              <div class="titG">
                <h6>程序信息</h6>
              </div>
              <div class="contG">
                <div class="ulG">
                  <ul id="program-info">
                    <li>当前版本程序：<!--{$sysInfo.version}--> (
                        <!--{if $sysInfo.version >= $sysInfo.new_version}-->已是最新版本<!--{else}-->最新版本&nbsp;<!--{$sysInfo.new_version}-->&nbsp;
                            <a href="#" onclick="<!--{if in_array('246',$pageInfo.mypermissionid) || $pageInfo.roleid eq 1}-->_MP('246','<!--{$baseurl}-->/webset/upgrade/check');<!--{else}-->nopermission();<!--{/if}-->">
                                <font color="red">立即下载</font>
                            </a>
                        <!--{/if}-->)
                    </li>
                    <li>操作系统：<!--{$sysInfo.os}--> </li>
                    <li>服务器软件：<!--{$sysInfo.web_server}--></li>
                    <li>PHP语言版本：<!--{$sysInfo.phpv}--></li>
                    <li>数据库版本：<!--{$sysInfo.mysqlv}--></li>
                    <li class="last">程序编码：UTF8</li>
                  </ul>
                </div>
              </div>
            </div>
           

            <div class="pubModG right" id="picplayee" style="position:relative;overflow:hidden;width:100%;height:100px; <!--{if $positon_right eq '1'}--> display:none;<!--{/if}-->"></div>

           
            <div class="pubModG right" style="width:100%;">
              <div class="titG"> 
                <h6>研发团队</h6>
              </div>
              <div class="contG">
                <div class="ulG">
                  <ul>
                    <li class="last">研发团队：铭万研发中心&nbsp;&nbsp;&nbsp;&nbsp;鸣谢：广大 爱站CMS 用户、赞助商！</li>
                  </ul>
                </div>
              </div>
            </div>
    </div>

    <div class="clearfix"></div>
    <div class="foot"><!--{include file='public/copyright.html'}--></div>
  </div>    
  <div class="clearfix"></div>
  
</div>
</body>
</html>

<script type="text/javascript">
//publish_lock function checkUpdate ()
//publish_lock {
//publish_lock 	/*检测跟新升级*/
//publish_lock 	$.post('<!--{$baseurl}-->/webset/upgrade/tips',function(d){
//publish_lock 		if(d != '')
//publish_lock 			$('#upgrade-tips').html(d).slideDown("slow");
//publish_lock 	});
//publish_lock 	/*$.post('<!--{$baseurl}-->/webset/upgrade/programinfo',function(d){
//publish_lock 		if(d != '')
//publish_lock 			$('#program-info').before(d);
//publish_lock 	});*/
//publish_lock }
//publish_lock setTimeout('checkUpdate();',5000);
</script>

<script type="text/javascript">   //左侧广告位
var p = $('#picplayer');
var arr = [<!--{foreach from=$lad item=l}-->{url:'<!--{$l.imgpath}-->',link:'<!--{$l.link}-->',time:5000,adid:'<!--{$l.id}-->'},<!--{/foreach}-->];
initPicPlayer(arr,p.css('width').split('px')[0],p.css('height').split('px')[0]); 

function initPicPlayer(pics,w,h)
{ 
    var selectedItem; //选中的图片 
    var selectedBtn;  //选中的按钮 
    var playID; //自动播放的id 
    var selectedIndex; //选中图片的索引 
    var p = $('#picplayer'); //容器 
    p.text(''); 
    p.append('<div id="piccontent"></div>'); 
    var c = $('#piccontent'); 
    for(var i=0;i<pics.length;i++) 
    { 
        //添加图片到容器中 
        c.append('<a href="javascript:void(0);" url="'+pics[i].link+'" ad-id="'+pics[i].adid+'" site_name="<!--{$android[0]}-->" host_name="<!--{$android[1]}-->" ip="<!--{$ip}-->" ><img id="picitem'+i+'" style="display: none;z-index:'+i+'" src="'+pics[i].url+'" /></a>'); 
    }
    //按钮容器，绝对定位在右下角 
    p.append('<div id="picbtnHolder" style="position:absolute;top:'+(h-25)+'px;width:'+w+'px;height:20px;z-index:10000;"></div>'); 
    var btnHolder = $('#picbtnHolder'); 
    btnHolder.append('<div id="picbtns" style="float:right; padding-right:1px;"></div>'); 
    var btns = $('#picbtns'); 
    for(var i=0;i<pics.length;i++) 
    { 
        //增加图片对应的按钮 
        btns.append('<span id="picbtn'+i+'" style="cursor:pointer; border:solid 1px #ccc;background-color:#eee; display:inline-block;"> '+(i+1)+' </span> '); 
        $('#picbtn'+i).data('index',i); 
        $('#picbtn'+i).click( 
            function(event) 
            { 
                if(selectedItem.attr('src') == $('#picitem'+$(this).data('index')).attr('src')) 
                { 
                    return; 
                } 
                setSelectedItem($(this).data('index')); 
            } 
        ); 
    } 
    btns.append(' '); 

    setSelectedItem(0); 
    //显示指定的图片index 
    function setSelectedItem(index) 
    { 
        selectedIndex = index; 
        clearInterval(playID); 
        if(selectedItem)selectedItem.fadeOut('fast'); 
        selectedItem = $('#picitem'+index); 
        selectedItem.fadeIn('slow'); 
        if(selectedBtn) 
        { 
            selectedBtn.css('backgroundColor','#eee');
            selectedBtn.css('color','#000'); 
        } 
        selectedBtn = $('#picbtn'+index); 
        selectedBtn.css('backgroundColor','#000'); 
        selectedBtn.css('color','#fff'); 
        //自动播放 
        playID = setInterval(function() 
        { 
            var index = selectedIndex+1; 
            if(index > pics.length-1)index=0;
            setSelectedItem(index); 
        },pics[index].time); 
    } 
    
    //图片绑定事件
    jQuery('#piccontent a').live('click',function()
    {
        var _this = jQuery(this); 
        var target_url = _this.attr('url');
        var ad_id = _this.attr('ad-id');  //广告ID
        var site =  _this.attr('site_name');   //网站名称
        var domain = _this.attr('host_name');  //域名
        var ip = _this.attr('ip');  //IP
        var http_url = 'http://www.izhancms.com/official/os/adserving/hitnum?id='+ad_id+"&sitename="+site+"&hostname="+domain+"&siteip="+ip+'&izhan='+Math.random();
        var img_str = '<img src="'+http_url+'" style="display:none" />';
        jQuery('body').append(img_str);
        if (target_url) {
            window.open(target_url);
        }
    });
}
</script>

<!----------右侧广告---------->
<script type="text/javascript">
var pp = $('#picplayee');
var array = [<!--{foreach from=$rad item=l}-->{url:'<!--{$l.imgpath}-->',link:'<!--{$l.link}-->',time:5000,adid:'<!--{$l.id}-->'},<!--{/foreach}-->];
initPicPlayee(array,pp.css('width').split('px')[0],pp.css('height').split('px')[0]); 

function initPicPlayee(picss,w,h)
{ 
    var selectedItemm;
    var selectedBtnn;
    var playIDD;
    var selectedIndexx;
    var pp = $('#picplayee');
    pp.text(''); 
    pp.append('<div id="piccontentt"></div>'); 
    var c = $('#piccontentt'); 
    for(var i=0;i<picss.length;i++) 
    { 
        c.append('<a href="javascript:void(0);" url="'+picss[i].link+'" ad-id="'+picss[i].adid+'" site_name="<!--{$android[0]}-->" host_name="<!--{$android[1]}-->" ip="<!--{$ip}-->" ><img id="picitemm'+i+'" style="display: none;z-index:'+i+'" src="'+picss[i].url+'" /></a>'); 
    } 
    pp.append('<div id="picbtnHoldee" style="position:absolute;top:'+(h-25)+'px;width:'+w+'px;height:20px;z-index:10000;"></div>'); 
    var btnHolderr = $('#picbtnHoldee'); 
    btnHolderr.append('<div id="picbtnss" style="float:right; padding-right:1px;"></div>'); 
    var btnss = $('#picbtnss'); 
    for(var i=0;i<picss.length;i++) 
    { 
        btnss.append('<span id="picbtnn'+i+'" style="cursor:pointer; border:solid 1px #ccc;background-color:#eee; display:inline-block;"> '+(i+1)+' </span> '); 
        $('#picbtnn'+i).data('index',i); 
        $('#picbtnn'+i).click( 
            function(event) 
            { 
                if(selectedItemm.attr('src') == $('#picitemm'+$(this).data('index')).attr('src')) 
                { 
                    return; 
                } 
                setSelectedItemm($(this).data('index')); 
            } 
        ); 
    } 
    btnss.append(' '); 

    setSelectedItemm(0); 
    function setSelectedItemm(indexx) 
    { 
        selectedIndexx = indexx; 
        clearInterval(playIDD); 
        if(selectedItemm)selectedItemm.fadeOut('fast'); 
        selectedItemm = $('#picitemm'+indexx); 
        selectedItemm.fadeIn('slow'); 
        if(selectedBtnn) 
        { 
            selectedBtnn.css('backgroundColor','#eee'); 
            selectedBtnn.css('color','#000'); 
        } 
        selectedBtnn = $('#picbtnn'+indexx); 
        selectedBtnn.css('backgroundColor','#000'); 
        selectedBtnn.css('color','#fff'); 
        playIDD = setInterval(function() 
        { 
            var indexx = selectedIndexx+1; 
            if(indexx > picss.length-1)indexx=0; 
            setSelectedItemm(indexx); 
        },picss[indexx].time); 
    }

    jQuery('#piccontentt a').live('click',function()
    {
        var _this = jQuery(this); 
        var target_url = _this.attr('url');
        var ad_id = _this.attr('ad-id');
        var site =  _this.attr('site_name');
        var domain = _this.attr('host_name');
        var ip = _this.attr('ip');
        var http_url = 'http://www.izhancms.com/official/os/adserving/hitnum?id='+ad_id+"&sitename="+site+"&hostname="+domain+"&siteip="+ip+'&izhan='+Math.random();
        var img_str = '<img src="'+http_url+'" style="display:none" />';
        jQuery('body').append(img_str);
        if (target_url) {
            window.open(target_url);
        }
    });
}
</script>