<!--{include file="public/head_admin.html"}-->
<script type="text/javascript" src="<!--{$jspath}-->/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/iniEditor.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$.formValidator.initConfig({formid:"myform",autotip:false,generalwordwide:true});
	
	//发送邮件用户名称验证
	$("#name").formValidator({empty:false,onshow:"请输入2-50个字符",onfocus:"请输入2-50个字符",oncorrect:"输入正确"})
	.inputValidator({min:2,max:50,onerror:"请输入2-50个字符"});
	//模型必选验证
	$("#text").formValidator({empty:true,onshow:"请输入10-500个字符",onfocus:"请输入10-500个字符",oncorrect:"输入正确",onempty:'输入内容为空'})
	.inputValidator({min:10,max:500,onerror: "请输入10-500个字符"});

	$("#cancel").click(function(){

	  window.location.href = "<!--{$baseurl}-->/members/form/index";
	})
})
</script>
<body>
<div class="pubBox" style='height:750px;'>
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dd><a href="<!--{$baseurl}-->/members/form/index" class="last">表单列表</a></dd>
            <dt class="on"><a href="<!--{$baseurl}-->/members/form/addForm" class='last'>编辑表单</a></dt>
          </dl>
        </div>
        <form action='<!--{$baseurl}-->/members/form/editForm' method='post' id='myform'>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <table class="tabelLR">
                <tr>
                  <th width="170px"><font>*</font>&nbsp;注册表单：</th>
                  <td>
                  <input type='hidden' value="<!--{$id}-->" name='id'>
                  <input type="text" value="<!--{$infor.name}-->" class="Iw290" name='name' id='name'/>
                    <span id='nameTip'></span></td>
                </tr>
                <tr>
                  <th><font>*</font>&nbsp;状态：</th>
                  <td>
                    <input type='radio' name='state' value="2" <!--{if $infor.iseffect neq 1}-->checked<!--{/if}-->>开启
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type='radio' name='state' value='1' <!--{if $infor.iseffect eq 1}-->checked<!--{/if}-->>关闭
                  </td>
                </tr>
                <tr>
                  <th><div style='height:155px;'>&nbsp;表单描述：<div></th>
                  <td>
                   <textarea class="Iw450 Ih80" style="height:128px;" name='text' id='text'><!--{$infor.forminfor}--></textarea>
                   <span id='textTip' ></span>
                  </td>
                </tr>
              </table>
              <div class="pubTabelBot">
                <input type="submit" hidefocus="hide" value="确定" class="btn1" id='sub'>
                &nbsp;&nbsp;&nbsp;
                <input type="button" hidefocus="hide" value="取消" class="btn2" id='cancel'>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
</div>
    <script type="text/javascript">
      document.ready = init('tplcontent', 'fail');
      
      if($('#hidcon').val() == ""){
    	  $("#tplcontent").val('');
      }
   </script>
</body>
</html>
