<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title></title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript"  src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script type="text/javascript"  src="<!--{$jspath}-->/pubJq.js"></script>
<script type="text/javascript"  src="<!--{$jspath}-->/admin.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script type="text/javascript" src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<style type="text/css">
 #gray{color:#ccc;text-decoration:none;}
</style>
<script type="text/javascript">
$(document).ready(function() {    
	selectmenu("<!--{$baseurl}-->/admin/ajax/level","groupid","levelid","<!--{$searchInfo.levelid}-->");
      $('#groupid').change(function(){
          var number=$("#groupid :selected").val();
          $.ajax({
                  type:"POST",
                  url:"<!--{$baseurl}-->/admin/ajax/level",
                  data:"id="+number,
                  success:function(msg){
                      $("#levelid").html(msg);    
                  }
                  });
      }); 
      
  });
</script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt <!--{if $pageInfo.state==0}-->class="on"<!--{/if}-->><a href="<!--{$baseurl}-->/members/member/index/state/0/page/<!--{$pageInfo.page}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/0/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">全部会员</a></dt>
            <dt <!--{if $pageInfo.state==3}-->class="on"<!--{/if}-->><a href="<!--{$baseurl}-->/members/member/index/state/3/page/<!--{$pageInfo.page}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/3/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">待开通</a></dt>
            <dt <!--{if $pageInfo.state==2}-->class="on"<!--{/if}-->><a href="<!--{$baseurl}-->/members/member/index/state/2/page/<!--{$pageInfo.page}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/2/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">已关闭</a></dt>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <form action="<!--{$baseurl}-->/members/member/index" method="get" id='myForm' name="myForm">
            <input type="hidden" id="state" name="state" value="<!--{$pageInfo.state}-->" />
            <input type="hidden" id="page" name="page" value="<!--{$pageInfo.page}-->" />
            <div class="pubTabelTot">
              <input type="text" value="<!--{$searchInfo.keyword}-->" class="Iw290 text-tips" tips="请输入关键字" style="width:150px;" id="keyword"  name="keyword">
              
              <select class="Iw290" style="width:130px;" id="groupid"  name="groupid">
                   <option value="">请选择会员组</option>
                   <!--{foreach from=$pageInfo.allGroup key=id item=name}-->
                   <option value="<!--{$id}-->" <!--{if $searchInfo.groupid==$id}-->selected<!--{/if}-->><!--{$name}--></option>
                   <!--{/foreach}-->
               </select>
               <select class="Iw290" style="width:130px;" id="levelid" name="levelid">
                   <option value="">请选择会员级别</option>
               </select>
              
              <!--{if $pageInfo.state==0}-->
              <select class="Iw290" style="width:130px;" id="status" name="status">
                <option value="">请选择会员状态</option>
                <!--{foreach from=$pageInfo.arrStatus key=id item=name}-->
                <option value="<!--{$id}-->"  <!--{if $searchInfo.status==$id}-->selected<!--{/if}--> ><!--{$name}--></option>
                <!--{/foreach}-->
              </select>
              <!--{/if}-->              
              &nbsp;&nbsp;注册时间：<span class="time"><input type="text" value="<!--{$searchInfo.starttime}-->" class="Iw90" onfocus="WdatePicker()" id="starttime" name="starttime"></span>&nbsp;至&nbsp;<span class="time"><input type="text" value="<!--{$searchInfo.endtime}-->" class="Iw90" onfocus="WdatePicker()" id="endtime" name="endtime"></span>
              <input type="submit" hidefocus="hide" value="搜 索" class="btn5">
            </div>
            <div class="pubTabel">
              <table class="tabelTB" id='search-list'>
                <tr>
                  <th width="6%">选择</th>
                  <th width="15%">用户名</th>
                  <th width="15%">会员级别</th>
                  <th width="12%">会员组</th>
                  <th width="10%">注册时间</th>
                  <th width="12%">状态</th>
                  <th width="15%">最近一次登录时间</th>
                  <th width="15%">操作</th>
                </tr>
                <!--{foreach from=$memberList item=item}-->
                <tr>
                  <td><input type="checkbox"  name="memberid[]" value="<!--{$item.id}-->" /></td>
                  <td title="<!--{$item.username}-->"><!--{if $item.username}--><!--{$item.username|truncate_cn:"12":"...":'utf8'}--><!--{else}--><!--{$item.email}--><!--{/if}--></td>
                  <td title="<!--{$pageInfo.allLevel[$item.groupid][$item.levelid]}-->"><!--{$pageInfo.allLevel[$item.groupid][$item.levelid]|truncate_cn:"8":"...":'utf8'}--></td>
                  <td title="<!--{$pageInfo.allGroup[$item.groupid]}-->"><!--{$pageInfo.allGroup[$item.groupid]|truncate_cn:"8":"...":'utf8'}--></td>
                  <td><!--{$item.createtime|date_format:'%Y-%m-%d'}--></td>
                  <td><!--{$pageInfo.arrStatus[$item.status]}--></td>
                  <td><!--{$item.lastlogintime|date_format:'%Y-%m-%d %H:%M:%S'}--></td>
                  <td><a href="<!--{$baseurl}-->/members/member/edit/id/<!--{$item.id}-->/page/<!--{$pageInfo.page}-->/state/<!--{$pageInfo.state}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/<!--{$searchInfo.status}-->/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">修改</a> | 
                  <a href="#" onclick="MoConfirm('<!--{$baseurl}-->/members/member/delete/memberid/<!--{$item.id}-->/page/<!--{$pageInfo.page}-->/state/<!--{$pageInfo.state}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/<!--{$searchInfo.status}-->/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->','确定删除？');">删除</a> | 
                  <!--{if $item.status eq 1}--><a href="#" id="gray">开通</a><!--{else}--><a href="<!--{$baseurl}-->/members/member/isable/flag/1/memberid/<!--{$item.id}-->/page/<!--{$pageInfo.page}-->/state/<!--{$pageInfo.state}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/<!--{$searchInfo.status}-->/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">开通</a><!--{/if}--> | 
                  <!--{if $item.status eq 2}--><a href="#" id="gray">关闭</a><!--{else}--><a href="<!--{$baseurl}-->/members/member/isable/flag/2/memberid/<!--{$item.id}-->/page/<!--{$pageInfo.page}-->/state/<!--{$pageInfo.state}-->/keyword/<!--{$searchInfo.keyword}-->/groupid/<!--{$searchInfo.groupid}-->/levelid/<!--{$searchInfo.levelid}-->/status/<!--{$searchInfo.status}-->/starttime/<!--{$searchInfo.starttime}-->/endtime/<!--{$searchInfo.endtime}-->">关闭</a><!--{/if}--></td>
                </tr>
                <!--{/foreach}-->
              </table>
            </div>
            <div class="pubOperate"><span class="btn5" style="width:80px;"><label><input type="checkbox" class="Check-All-Toggle" container-id="search-list" /> 全选/反选</label></span>
              <input type="button" class="btn5" value="开通"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/members/member/isable/flag/1" empty-tips="请选择要开通的会员！" confirm-tips="确定开通？"/>
              <!--{if $pageInfo.state neq 2}-->
              <input type="button" class="btn5" value="关闭"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/members/member/isable/flag/2" empty-tips="请选择要关闭的会员！" confirm-tips="确定关闭？"/>
              <!--{/if}-->
              <input type="button" class="btn5" value="删除"  onclick="batchOperate(this)" form-id="myForm" container-id="search-list"  form-action="<!--{$baseurl}-->/members/member/delete" empty-tips="请选择要删除的会员！" confirm-tips="确定删除？"/>
            </div>
            <div class="pubTabelBot">
              <div class="pageGo"><!--{$pageInfo.pageStr}--></div>
            </div>
            <div style='width:100%;text-align:center;'>温馨提示：待开通会员包括已注册未通过邮件激活的会员和已注册管理员未审核的会员</div>
          </div>
          
          <div style="height:100px; display:none"></div>
          <div style="height:100px; display:none"></div>
        </div>
      </div>
    </div>   
</body>
</html>