<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>吃喝玩乐</title>
<link href="basc.css" rel="stylesheet" type="text/css"/>
<link href="styleG.css" rel="stylesheet" type="text/css"/>
<link href="styleX.css" rel="stylesheet" type="text/css"/>
<link href="styleL.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/advert.js"></script>
<script type="text/javascript">
	$(function(){
		$('#add').cycle({ 
				fx:'scrollLeft',
				pager:'#btn'
		});
	})
</script>
</head>
<body>
<div class="t">
  <div class="state">
    <div class="other">|<a href="#" class="sina">用新浪微博登录</a>|<a href="#" class="qq">用QQ账号登录</a></div>
    <span>铭万开源平台，欢迎拍砖！</span>
    <form>
      <label>用户名:</label>
      <input type="text" class="userID"/>
      &nbsp;
      <label>密码:</label>
      <input type="password" class="pwd"/>
      <input type="button" value="登录" class="grayBtn1"/>
      &nbsp; <a href="#" class="underline">忘记密码</a>&nbsp;&nbsp;<a href="#" class="underline">注册</a>
    </form>
  </div>
</div>
<div class="n">
  <div class="logo_nav">
    <div class="logo"><img src="images/logo.png" /></div>
    <div class="nav">
      <ul>
        <li><a href="#" class="focus">首&nbsp;&nbsp;&nbsp;页</a></li>
        <li><a href="#">吃喝玩乐</a></li>
        <li><a href="#">闲物交换</a></li>
        <li><a href="#">生活妙招</a></li>
        <li><a href="#">政策法规</a></li>
        <li><a href="#">北京新闻</a></li>
        <li><a href="#">网站留言</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner"><img src="images/banner4.png" width="990" height="220" /></div>
<div class="searchBar">
  <form>
    <select class="select1">
      <option>不限类别</option>
      <option>爱先不先</option>
      <option>爱的</option>
    </select>
    <input type="text" class="text1" value="请输入关键字"/>
    <input type="button" value="搜 索" class="button1"/>
  </form>
</div>
<div class="wrap">
  <div class="w">
    <div class="l w245">
      <div class="bg_grL mb10"> <span class="h_dotL">北京新闻</span>
        <ul class="js_list">
          <li> <strong class="level_1L"><span>地方法规</span></strong>
            <ul class="level2L">
              <li> <a href="#"><span class="level_moL level_moR">北京购车</span></a>
                <ul>
                  <li><a href="#">购车</a></li>
                  <li><a href="#">购车</a></li>
                  <li><a href="#">购车</a></li>
                </ul>
              </li>
              <li><a href="#">北京购车</a></li>
              <li><a href="#">北京购车</a></li>
            </ul>
          </li>
          <li> <strong class="level_1L"><span>地方法规</span></strong>
            <ul class="level2L">
              <li> <a href="#"><span class="level_moL level_moR">北京购车</span></a>
                <ul>
                  <li><a href="#">购车</a></li>
                  <li><a href="#">购车</a></li>
                  <li><a href="#">购车</a></li>
                </ul>
              </li>
              <li><a href="#">北京购车</a></li>
              <li><a href="#">北京购车</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="advertL">
        <div id="add"><a href="#"><img src="images/advert1.png" width="245" height="102"></a><a href="#"><img  src="images/advert2.png" width="245" height="101"></a></div>
        <div id="btn"></div>
      </div>
      <div class="bg_grayL"> <a href="#" class="moreL">更多&gt;&gt;</a> <span class="h_grayL">点击排行</span>
        <ul class="arrow_ulL2">
          <li><span class="li_num">1234次</span><span class="num_g">1</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_g">2</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_g">3</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">4</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">5</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">6</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">7</span><a href="#">多几个崔永元 多几个正能量</a></li>
		  <li><span class="li_num">1234次</span><span class="num_b">8</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">9</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><span class="li_num">1234次</span><span class="num_b">10</span><a href="#">多几个崔永元 多几个正能量</a></li>
		  <li><span class="li_num">1234次</span><span class="num_b">11</span><a href="#">多几个崔永元 多几个正能量</a></li>
          <li class="last"><span class="li_num">1234次</span><span class="num_b">12</span><a href="#">多几个崔永元 多几个正能量</a></li>
        </ul>
      </div>
    </div>
    <div class="m w498">
      <div class="Greyborder">
        <div class="title"> <a href="#" class="t_more right">更多&gt;&gt;</a>
          <div class="t_name"><span class="tit_green">吃喝</span><span class="tit_en">Eat and drink</span></div>
        </div>
        <div class="box_con">
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="images/mod_pic06.jpg" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="#" title="">胡同里都是中餐厅，美味意大利餐厅</a></dt>
              <dd class="f6" style="line-height:20px;">在过去胡同里的餐厅大多以中餐為主，像是北京菜、私宮廷菜云南菜、貴州菜...，这二年開始，像是意大利餐厅中東餐厅，墨西哥餐厅，西班牙餐厅<a href="#" class="greena">
                <全文>
                </a></dd>
            </dl>
          </div>
          <div class="bg_line"></div>
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="images/mod_pic06.jpg" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="#" title="">胡同里都是中餐厅，美味意大利餐厅</a></dt>
              <dd class="f6" style="line-height:20px;">在过去胡同里的餐厅大多以中餐為主，像是北京菜、私宮廷菜云南菜、貴州菜...，这二年開始，像是意大利餐厅中東餐厅，墨西哥餐厅，西班牙餐厅<a href="#" class="greena">
                <全文>
                </a></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="advertM"><a href="#"><img src="images/advert4.png" width="498" height="89"/></a></div>
      <div class="Greyborder">
        <div class="title"> <a href="#" class="t_more right">更多&gt;&gt;</a>
          <div class="t_name"><span class="tit_green">玩乐</span><span class="tit_en">Play</span></div>
        </div>
        <div class="box_con">
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="images/mod_pic06.jpg" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="#" title="">大雨之后—桃源仙谷两日游</a></dt>
              <dd class="f6" style="line-height:20px;">看看大瀑布，很壮观啊！人都得从边上一溜小跑的过去要不就会被腾起的水气打湿。还看到了小彩虹，不过水势太大镜头都溅上水花不敢拍了<a href="#" class="greena">
                <详情>
                </a></dd>
            </dl>
          </div>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24 l bg_lineS">
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
          </dl>
          <dl class="bc_txt bc_txt24 l">
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="r w237">
      <div class="Greyborder Greyborder_bg1">
        <div class="r_tit"> <a href="#" class="right t_more">更多&gt;&gt;</a> <span class="r_t_name icobg_02">推荐美食</span> </div>
        <div class="box_con">
          <ul class="arrow_ulL" style="margin:0;">
            <li><span class="time">07-20</span><a href="#">大食客酱骨头炖菜馆…</a></li>
            <li><span class="time">07-20</span><a href="#">戈拿旺巴西烤肉(朝外…</a></li>
            <li><span class="time">07-20</span><a href="#">叫板！比萨(双井店)</a></li>
            <li><span class="time">07-20</span><a href="#">九头鹰酒家(立水桥店…</a></li>
            <li><span class="time">07-20</span><a href="#">乐蛙蛙大钟寺店</a></li>
            <li><span class="time">07-20</span><a href="#">汉拿山（潘家园店）</a></li>
            <li class="last"><span class="time">07-20</span><a href="#">女子个人200米混合泳叶诗文再...</a></li>
          </ul>
        </div>
      </div>
      <div class="advertR"><a href="#"><img src="images/advert3.png" width="239" height="110" /></a></div>
      <div class="Greyborder Greyborder_bg1" style="padding-bottom:4px;">
        <div class="r_tit"> <a href="#" class="right t_more">更多&gt;&gt;</a> <span class="r_t_name icobg_01">北京市区</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">哈林50分，火箭擒湖人</a></dd>
          </dl>
        </div>
        <div class="bg_linesolid"></div>
        <div class="r_tit"> <a href="#" class="right t_more">更多&gt;&gt;</a> <span class="r_t_name icobg_01">北京郊县</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">哈林50分，火箭擒湖人</a></dd>
          </dl>
        </div>
        <div class="bg_linesolid"></div>
        <div class="r_tit"> <a href="#" class="right t_more">更多&gt;&gt;</a> <span class="r_t_name icobg_01">北京周边</span> </div>
        <div class="box_con">
          <dl class="bc_txt">
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">到绥中的"东戴河"看大海</a></dd>
            <dd><span class="time">07-20</span><a href="#">哈林50分，火箭擒湖人</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="aboutCrop">
  <div class="friendLink">
    <dl>
      <dt>友情链接：</dt>
      <dd><a href="#">北京中共</a><a href="#">新浪娱乐</a><a href="#">哥就是个传说</a><a href="#">铭万外企</a><a href="#">上海涉外事务所</a><a href="#">主流媒体都傻逼</a><a href="#">真话我想说但不让我说</a><a href="#">这个社会已经病态了</a><a href="#">我在这里啊我在这里啊</a><a href="#">我要涨工资啊</a><a href="#">我只是来学习滴只是来学习滴</a><a href="#">道明寺</a><a href="#">没有你的日子里</a><a href="#">盛开啊上开啊</a><a href="#">吃葡萄不</a><a href="#">哇哈哈哇哈哈</a><a href="#">我的大学在河北</a></dd>
    </dl>
    <div class="clearfix"></div>
  </div>
  <div class="adderss">
    <p>铭万全国统一客户服务热线：400-700-1818 客户服务邮箱：service@mainone.cn </p>
    <p class="copyright">铭万版权所有&copy;2004-2011 京ICP证050659号互联网药品信息服务资格证书 证书编号：（京）-经营性-2010-0049 </p>
  </div>
</div>
<script type="text/javascript" src="js/list.js"></script>
</body>
</html>
