<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleL.css" rel="stylesheet" type="text/css"/>

</head>
<body>
{include 'head.html'}
{include 'banner.html'} 
<div class="wrap">
  <div class="w">
    <div class="l w245">
		{include 'category.html'}

		<div class="bg_grayL">
			<a href="#" class="moreL">更多>></a>
			<span class="h_grayL">热门文章</span>
			<ul class="arrow_ulL">
			{mo:articlelist row="12" cid="$cid" type='son' order="hits desc" return="data"}
        	{foreach $data $k $v}
			{if $lastIndex}
				<li class="last"><a href="{$v['url']}">[{$v['catname']}] {$v['title']}</a></li>
			{else}
				<li><a href="{$v['url']}">[{$v['catname']}] {$v['title']}</a></li>
			{/if}
            {/foreach}
		   {/mo:articlelist}
			</ul>
		</div>
	</div>
    <div class="right w744">
      <div class="m w498">
      <div class="Greyborder mb10" style="padding-bottom:8px;">
        <div class="title">
          <a href="{getMoreUrl(70)}" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">健康</span><span class="tit_en">Health</span></div>
        </div>
        <div class="box_con">
          <div class="bc bc_h95">
            {mo:articlelist cid='70'  row='1' order='publishtime' return='data'}
		  {foreach $data $k $v}
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="{$v['url']}" title="{$v['title']}">{$v['title']}</a></dt>
              <dd class="f6" style="line-height:20px;">{csubstr($v['description'],65)}<a href="{$v['url']}" class="greena">
                <全文>
                </a></dd>
            </dl>
          </div>
		  {/foreach}
		  {/mo:articlelist}
          </div>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24 l">
            {mo:articlelist row='4' cid='70'  return='data'}
			{foreach $data $k $v}
            <dd><a href="{$v['url']}" class="bg_dot">{$v['title']}</a></dd>
			{/foreach}
		    {/mo:articlelist}
          </dl>
          <dl class="bc_txt bc_txt24 right">
           {mo:articlelist row='4' from='4' cid='70' return='data'}
			{foreach $data $k $v}
            <dd><a href="{$v['url']}" class="bg_dot">{$v['title']}</a></dd>
			{/foreach}
		    {/mo:articlelist}
          </dl>
        </div>
      </div>
    </div>
      <div class="r w237">
      <div class="Greyborder Greyborder_bg1 mb10">
        <div class="r_tit">
          <span class="r_t_name icobg_01">最近更新</span>
        </div>
        <div class="box_con">
          <ul class="arrow_ulL" style="margin:0;">
            {mo:articlelist row="7" cid="$cid" type='son' order="publishtime" return="data"}
        	{foreach $data $k $v}
			{if !$lastIndex}
            <li><a href="{$v['url']}">{$v['title']}</a></li>
			{else}
            <li class="last"><a href="{$v['url']}">{$v['title']}</a></li>
			{/if}
            {/foreach}
		   {/mo:articlelist}
          </ul>
        </div>
      </div>
    </div>
      <div class="clearfix"></div>
      <div class="Greyborder mb10">
        <div class="box_con">
          <ul class="list_s">

            <li class="line">
              <div class="bc_pic bc_picb" style="margin-right:8px;">
			  {mo:articlelist row="1" cid="$cid" type='son' order="publishtime" return="data"}
        		{foreach $data $k $v}
			  <a href="{$v['url']}" title=""><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="88" height="88"></a>
			   {/foreach}
				{/mo:articlelist} 
			  </div>
               
			  <dl class="bc_txt bc_txt24">
                {mo:articlelist row="4" cid="$cid" type='son' order="publishtime" return="data"}
        		{foreach $data $k $v}
                <dd><a href="{$v['url']}" class="bg_dot">{$v['title']}</a></dd>
				{/foreach}
				{/mo:articlelist}
              </dl>
            </li>
            <li>
              <div class="bc_pic bc_picb" style="margin:0 8px;">
			  {mo:articlelist row="1" from='4' cid="$cid" type='son' order="publishtime" return="data"}
			  {foreach $data $k $v}
			  <a href="{$v['url']}" title=""><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" width="88" height="88"></a>
			   {/foreach}
				{/mo:articlelist} 
				</div>
              <dl class="bc_txt bc_txt24">
                 {mo:articlelist row="4" from='4' cid="$cid" type='son' order="publishtime" return="data"}
        		{foreach $data $k $v}
                <dd><a href="{$v['url']}" class="bg_dot">{$v['title']}</a></dd>
				{/foreach}
				{/mo:articlelist}
              </dl>
            </li>
          </ul>
        </div>
      </div>
      <div class="m w498">
      <div class="Greyborder">
        <div class="title">
          <a href="{getMoreUrl(71)}" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">{cid2name(71)}</span><span class="tit_en">Kitchen</span></div>
        </div>
        <div class="box_con">
          <ul class="kitchen" style="padding-bottom:3px;">
            {mo:articlelist cid='71' row='10' return='data'}
            {foreach $data $k $v}
            <li>
              <a href="{$v['url']}"><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" title='{$v['title']}'/></a>
              <p><a href="{$v['url']}" title='{$v['title']}'>{$v['title']}</a></p>
            </li>
			 {/foreach}
			 {/mo:articlelist}
          </ul>
        </div>
      </div>
    </div>
      <div class="r w237">
      <div class="Greyborder Greyborder_bg1">
        <div class="r_tit">
          <a href="{getMoreUrl(72)}" class="right t_more">更多>></a>
          <span class="r_t_name icobg_01">{cid2name(72)}</span>
        </div>
        <div class="box_con">
          <ul class="r_goods">
		  {mo:articlelist cid='72' row='1' return='data'}
            {foreach $data $k $v}
            <li>
              <div class="bc_pic">
			  <a href="{$v['url']}" title="{$v['title']}"><img src="{UPLOAD_PATH}/{$v['thumb']['src']}" style='width:88px;height:88px'></a></div>
              <dl class="dl_goods">
                <dt><a href="{$v['url']}" class="ft12"><strong>{$v['title']}</strong></a></dt>
                <dd class="f6 pb5" style="line-height:20px;">{csubstr($v['description'],20)}</dd>
              </dl>
            </li>
		   {/foreach}
		   {/mo:articlelist}
          </ul>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24">
            {mo:articlelist from='1' cid='72' row='10' return='data'}
            {foreach $data $k $v}
            <dd><a href="{$v['url']}" class="bg_dot">{$v['title']}</a></dd>
			{/foreach}
			{/mo:articlelist}
          </dl>
        </div>
      </div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{include 'footer.html'}

