<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleL.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/js/banner.js"></script>
<script src="{JS_PATH}/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{JS_PATH}/js/advert.js"></script>
<script type="text/javascript">
	$(function(){
		$('#add').cycle({ 
				fx:'scrollLeft',
				pager:'#btn'
		});
	})
</script>
</head>
<body>
{include 'head.html'}
{include 'banner.html'}

<div class="wrap">
  <div class="w">
    <div class="l w245">
      {include 'category.html'}

      <div class="advertL">
        <div id="add"><a href="#"><img src="{IMG_PATH}/advert1.png" width="245" height="102"></a><a href="#"><img  src="{IMG_PATH}/advert2.png" width="245" height="101"></a></div>
        <div id="btn"></div>
      </div>
      <div class="bg_grayL"> <a href="#" class="moreL">更多>></a> <span class="h_grayL">北京娱论</span>
        <ul class="arrow_ulL">
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
		  <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li><a href="#">多几个崔永元 多几个正能量</a></li>
          <li class="last"><a href="#">多几个崔永元 多几个正能量</a></li>
        </ul>
      </div>
    </div>
    <div class="m w498">
      <div class="Greyborder mb10">
        <div class="title"> <a href="#" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">最新新闻</span><span class="tit_en">Hot news</span></div>
        </div>
        <div class="video_con"> <strong class="video_tit">不要在北京再看到“海”</strong>
          <div><img src="{IMG_PATH}/video.jpg" width="454" height="355"/></div>
          <p class="video_des">昨天那场雨百年一遇，对于现在北京的排水管网、泵站标准来说，的确承受不了
            排水系统涉及多方面因素，包括雨水收集、管道以及下游河道。</p>
          <div class="bort pt8 pd8">
            <div class="pic_list" id="pic_list"> <a href="#" class="pic_left">left</a> <a href="#" class="pic_right">right</a>
              <div class="pics">
                <table>
                  <tr>
                    <td><img src="{IMG_PATH}/pic.png"/></td>
                    <td><img src="{IMG_PATH}/pic.png"/></td>
                    <td><img src="{IMG_PATH}/pic.png"/></td>
                    <td><img src="{IMG_PATH}/pic.png"/></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Greyborder">
        <div class="title"> <a href="#" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">娱乐新闻</span><span class="tit_en">Entertainment news</span></div>
        </div>
        <div class="box_con">
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="{IMG_PATH}/mod_pic06.jpg" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="#" title="">崔永元请农民工吃饭--爱的盛宴</a></dt>
              <dd class="f6" style="line-height:20px;">北京"7-21"暴雨中150多名农民工在京港澳高速南岗洼路段救了上百名危在旦夕。7月30日晚，崔永元在北京丰台区南宫宾馆请参加7-21京港澳高速公路救援的农民工吃饭。<a href="#" class="greena">
                <详细>
                </a></dd>
            </dl>
          </div>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24 l bg_lineS">
            <dd><a href="#" class="bg_dot">名嘴PK运动员解说奥运"姚氏风格"受捧</a></dd>
            <dd><a href="#" class="bg_dot">央视批天价铁路宣传片拍摄成本仅需55万</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
          </dl>
          <dl class="bc_txt bc_txt24 l">
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">玩之鹫峰-萝芭地北尖-阳台山-大风口</a></dd>
            <dd><a href="#" class="bg_dot">到绥中的"东戴河"看大海</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="r w237">
      <div class="Greyborder Greyborder_bg1 mb10">
        <div class="r_tit"> <a href="#" class="right t_more">更多>></a> <span class="r_t_name icobg_01">今日关注</span> </div>
        <div class="box_con">
          <h3 class="h3_tit"><a href="#">"闯黄"可罚配套须前置</a></h3>
          <p style="margin:0 0 8px 3px;"><a href="#" class="f6">女子个人200米混合泳叶诗文再夺冠女子个人200米混合泳叶诗文再夺冠。</a></p>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24">
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">国羽第一女双涉嫌故意输球</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">国羽第一女双涉嫌故意输球</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
            <dd><a href="#" class="bg_dot">哈林50分，火箭擒湖人</a></dd>
            <dd><a href="#" class="bg_dot">国羽第一女双涉嫌故意输球</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
          </dl>
        </div>
      </div>
      <div class="Greyborder Greyborder_bg1 mb10">
        <div class="r_tit"> <a href="#" class="right t_more">更多>></a> <span class="r_t_name icobg_01">今日经典图片</span> </div>
        <div class="jdtp_w"> <a href="#"> <img src="{IMG_PATH}/tp_pic.jpg" alt="" width="197" height="131" /> <span class="jdtp_txt">哈林50分，火箭擒湖人</span> </a> </div>
      </div>
      <div class="Greyborder Greyborder_bg1">
        <div class="r_tit"> <a href="#" class="right t_more">更多>></a> <span class="r_t_name icobg_01">生活新闻</span> </div>
        <div class="box_con">
          <ul class="arrow_ulL" style="margin:0;">
            <li><a href="#">女子个人200米混合泳叶诗文再夺冠</a></li>
            <li><a href="#">国羽第一女双涉嫌故意输球</a></li>
            <li><a href="#">我国小长假公路免费方案已...</a></li>
            <li><a href="#">喊出你的国羽加油声 获DIY能量</a></li>
            <li><a href="#">举重69公斤林清峰摘男举本届...</a></li>
            <li><a href="#">女子个人200米混合泳叶诗文再...</a></li>
            <li><a href="#">女子个人200米混合泳叶诗文再...</a></li>
            <li class="last"><a href="#">国羽第一女双涉嫌故意输球</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{include 'footer.html'}
