<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleX.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleL.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{include 'head.html'}
{include 'banner.html'}

<div class="wrap">
  <div class="sideBar">
    {include 'category.html'}

    <div class="advertL"><a href="#"><img src="{IMG_PATH}/advert3.png" width="245" height="102" /></a></div>
    <div class="bg_grayL"> <a href="#" class="moreL">更多>></a> <span class="h_grayL">推荐物品</span>
      <ul class="arrow_ulL">
        <li><a href="#">低价转让野生海参2盒</a></li>
        <li><a href="#">梦露搞活动2000万回馈客户…</a></li>
        <li><a href="#">衣柜、床、电脑桌椅处理</a></li>
        <li><a href="#">一些全新的衣服闲置 -洗发用…</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">多几个崔永元 多几个正能量</a></li>
        <li><a href="#">梦露搞活动2000万回馈客户…</a></li>
        <li><a href="#">衣柜、床、电脑桌椅处理</a></li>
		<li><a href="#">衣柜、床、电脑桌椅处理</a></li>
        <li class="last"><a href="#">多几个崔永元 多几个正能量</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="Greyborder">
      <div class="title"> 
        <!--<a href="#" class="t_more right">更多&gt;&gt;</a>-->
        <div class="t_name"><span class="tit_green">政策法规</span><span class="tit_en">Local food</span></div>
      </div>
      <div class="mb10">
        <table cellpadding="0" cellspacing="0" class="tablist">
          <tr>
            <th width="60%">标题</th>
            <th width="20%">所属类别</th>
            <th width="20%">创建时间</th>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">别样的烧烤店，让人享受的美食之旅</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">京城最正宗特色烤全羊就在九十九顶毡房</a></td>
            <td width="20%">北京小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">正宗美味北京特色美食北京聚兴百合</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">北京德道道家秘传菜养生馆,春季养生套餐火热推广中</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr>
            <td width="60%" class="left"><a href="#">闻着臭喝着香的豆汁儿</a></td>
            <td width="20%">地方美食</td>
            <td width="20%">2112.03.07</td>
          </tr>
          <tr class="bggreen">
            <td width="60%" class="left"><a href="#">物美价廉的大众美食--灌肠</a></td>
            <td width="20%">特色小吃</td>
            <td width="20%">2112.03.07</td>
          </tr>
        </table>
      </div>
      <div class="pages" style="margin-right:35px;">
        <div class="page_detail"> <span>67条</span>  <span>10条/页</span>  <span class="cur_page">共<em>7</em>页</span> </div>
        <div class="page_jump"> 跳转至
          <input type="text" value="2">
          页 </div>
        <div class="page_go"> <a href="#">首页</a> <a href="#" class="decr">上一页</a> <a href="#">1</a><a href="#" class="focus">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a> <a href="#" class="decr">下一页</a> <a href="#">末页</a> </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{include 'footer.html'}

