<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link href="basc.css" rel="stylesheet" type="text/css"/>
<link href="styleG.css" rel="stylesheet" type="text/css"/>
<link href="styleX.css" rel="stylesheet" type="text/css"/>
<link href="styleL.css" rel="stylesheet" type="text/css"/>
</head>
<body> 
<div class="t">
  <div class="state">
    <div class="other">|<a href="#" class="sina">用新浪微博登录</a>|<a href="#" class="qq">用QQ账号登录</a></div>
    <span>铭万开源平台，欢迎拍砖！</span>
    <form>
      <label>用户名:</label>
      <input type="text" class="userID"/>
       
      <label>密码:</label>
      <input type="password" class="pwd"/>
      <input type="button" value="登录" class="grayBtn1"/>
        <a href="#" class="underline">忘记密码</a>  <a href="#" class="underline">注册</a>
    </form>
  </div>
</div>
<div class="n">
  <div class="logo_nav">
    <div class="logo"><img src="{IMG_PATH}/logo.png" /></div>
    <div class="nav">
      <ul>
        <li><a href="#" class="focus">首   页</a></li>
        <li><a href="#">吃喝玩乐</a></li>
        <li><a href="#">闲物交换</a></li>
        <li><a href="#">生活妙招</a></li>
        <li><a href="#">政策法规</a></li>
        <li><a href="#">北京新闻</a></li>
        <li><a href="#">网站留言</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner"><img src="{IMG_PATH}/banner.png" width="990" height="220" /></div>
<div class="searchBar">
  <form>
    <select class="select1">
      <option>不限类别</option>
      <option>爱先不先</option>
      <option>爱的</option>
    </select>
    <input type="text" class="text1" value="请输入关键字"/>
    <input type="button" value="搜 索" class="button1"/>
  </form>
</div>
<div class="wrap">
  <div class="w">
    <div class="l w245">
		<div class="bg_grL mb10">
			<span class="h_dotL">北京新闻</span>
			<ul class="js_list">
				<li>
					<strong class="level_1L"><span>地方法规</span></strong>
					<ul class="level2L">
						<li>
							<a href="#"><span class="level_moL level_moR">北京购车</span></a>
							<ul>
								<li><a href="#">购车</a></li>
								<li><a href="#">购车</a></li>
								<li><a href="#">购车</a></li>
							</ul>
						</li>
						<li><a href="#">北京购车</a></li>
						<li><a href="#">北京购车</a></li>
					</ul>
				</li>
				<li>
					<strong class="level_1L"><span>地方法规</span></strong>
					<ul class="level2L">
						<li>
							<a href="#"><span class="level_moL level_moR">北京购车</span></a>
							<ul>
								<li><a href="#">购车</a></li>
								<li><a href="#">购车</a></li>
								<li><a href="#">购车</a></li>
							</ul>
						</li>
						<li><a href="#">北京购车</a></li>
						<li><a href="#">北京购车</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="bg_grayL">
			<a href="#" class="moreL">更多>></a>
			<span class="h_grayL">热门文章</span>
			<ul class="arrow_ulL">
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
				<li class="last"><a href="#">[急救] 多几个崔永元 多几个正能量</a></li>
			</ul>
		</div>
	</div>
    <div class="right w744">
      <div class="m w498">
      <div class="Greyborder mb10" style="padding-bottom:8px;">
        <div class="title">
          <a href="#" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">健康</span><span class="tit_en">Health</span></div>
        </div>
        <div class="box_con">
          <div class="bc bc_h95">
            <div class="bc_pic" style="margin-right:8px;"><a href="#" title=""><img src="{IMG_PATH}/mod_pic06.jpg" width="134" height="95" /></a></div>
            <dl class="bc_txt">
              <dt><a href="#" title="">四类人不宜多吃鱼</a></dt>
              <dd class="f6" style="line-height:20px;">1.通风患者因为鱼类含有嘌呤类物质，而痛风则是由于体内的嘌呤类物质发生代谢紊乱而产生的疼痛；</dd>
              <dd class="f6" style="line-height:20px;">2.出血性疾病患者，如血小板减少，血友病、维生素E等<a href="#" class="greena"><全文></a></dd>
            </dl>
          </div>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24 l">
            <dd><a href="#" class="bg_dot">wifi热点是什么，是不是什么地方都有</a></dd>
            <dd><a href="#" class="bg_dot">吃烧烤喝啤酒好么？</a></dd>
            <dd><a href="#" class="bg_dot">如何正确选购食用油，各种食用油的营养</a></dd>
            <dd><a href="#" class="bg_dot">吃什么有助于补血，几种有助于补血...</a></dd>
          </dl>
          <dl class="bc_txt bc_txt24 right">
            <dd><a href="#" class="bg_dot">wifi热点是什么，是不是什么地方都有</a></dd>
            <dd><a href="#" class="bg_dot">吃烧烤喝啤酒好么？</a></dd>
            <dd><a href="#" class="bg_dot">如何正确选购食用油，各种食用油的营养</a></dd>
            <dd><a href="#" class="bg_dot">吃什么有助于补血，几种有助于补血...</a></dd>
          </dl>
        </div>
      </div>
    </div>
      <div class="r w237">
      <div class="Greyborder Greyborder_bg1 mb10">
        <div class="r_tit">
          <a href="#" class="right t_more">更多>></a>
          <span class="r_t_name icobg_01">最近更新</span>
        </div>
        <div class="box_con">
          <ul class="arrow_ulL" style="margin:0;">
            <li><a href="#">被毒蛇咬伤后怎么办？…</a></li>
            <li><a href="#">戈拿旺巴西烤肉(朝外…</a></li>
            <li><a href="#">叫板！比萨(双井店)</a></li>
            <li><a href="#">九头鹰酒家(立水桥店…</a></li>
            <li><a href="#">乐蛙蛙大钟寺店</a></li>
            <li><a href="#">汉拿山（潘家园店）</a></li>
            <li class="last"><a href="#">女子个人200米混合泳叶诗文再...</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="clearfix"></div>
      <div class="Greyborder mb10">
        <div class="box_con">
          <ul class="list_s">
            <li class="line">
              <div class="bc_pic bc_picb" style="margin-right:8px;"><a href="#" title=""><img src="{IMG_PATH}/mod_pic05.jpg" width="88" height="88"></a></div>
              <dl class="bc_txt bc_txt24">
                <dd><a href="#" class="bg_dot">巧用牙膏，若有小面积皮肤...</a></dd>
                <dd><a href="#" class="bg_dot">吃烧烤喝啤酒好么？</a></dd>
                <dd><a href="#" class="bg_dot">巧用牙膏，若有小面积皮肤...</a></dd>
                <dd><a href="#" class="bg_dot">巧用牙膏，若有小面积皮肤...</a></dd>
              </dl>
            </li>
            <li>
              <div class="bc_pic bc_picb" style="margin:0 8px;"><a href="#" title=""><img src="{IMG_PATH}/mod_pic05.jpg" width="88" height="88"></a></div>
              <dl class="bc_txt bc_txt24">
                <dd><a href="#" class="bg_dot">巧用牙膏，若有小面积皮肤...</a></dd>
                <dd><a href="#" class="bg_dot">吃烧烤喝啤酒好么？</a></dd>
                <dd><a href="#" class="bg_dot">巧用牙膏，若有小面积皮肤...</a></dd>
                <dd><a href="#" class="bg_dot">吃什么有助于补血，几种有助于补血...</a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
      <div class="m w498">
      <div class="Greyborder">
        <div class="title">
          <a href="#" class="t_more right">更多>></a>
          <div class="t_name"><span class="tit_green">厨房</span><span class="tit_en">Kitchen</span></div>
        </div>
        <div class="box_con">
          <ul class="kitchen" style="padding-bottom:3px;">
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
            <li>
              <a href="#"><img src="{IMG_PATH}/mod_pic05.jpg" /></a>
              <p><a href="#">提拉米苏</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="r w237">
      <div class="Greyborder Greyborder_bg1">
        <div class="r_tit">
          <a href="#" class="right t_more">更多>></a>
          <span class="r_t_name icobg_01">育儿常识</span>
        </div>
        <div class="box_con">
          <ul class="r_goods">
            <li>
              <div class="bc_pic"><a href="#" title=""><img src="{IMG_PATH}/mod_pic05.jpg"></a></div>
              <dl class="dl_goods">
                <dt><a href="#" class="ft12"><strong>如何鉴别果汁？</strong></a></dt>
                <dd class="f6 pb5" style="line-height:20px;">市面上果汁种类繁多，100%果汁无疑是其中营养价值最高的...</dd>
              </dl>
            </li>
          </ul>
          <div class="bg_line"></div>
          <dl class="bc_txt bc_txt24">
            <dd><a href="#" class="bg_dot">如何切洋葱不辣眼睛...</a></dd>
            <dd><a href="#" class="bg_dot">如何切洋葱不辣眼睛...</a></dd>
            <dd><a href="#" class="bg_dot">如何切洋葱不辣眼睛...</a></dd>
            <dd><a href="#" class="bg_dot">如何切洋葱不辣眼睛...</a></dd>
            <dd><a href="#" class="bg_dot">国羽第一女双涉嫌故意输球</a></dd>
            <dd><a href="#" class="bg_dot">我国小长假公路免费方案已报</a></dd>
          </dl>
        </div>
      </div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="aboutCrop">
  <div class="friendLink">
    <dl>
      <dt>友情链接：</dt>
      <dd><a href="#">北京中共</a><a href="#">新浪娱乐</a><a href="#">哥就是个传说</a><a href="#">铭万外企</a><a href="#">上海涉外事务所</a><a href="#">主流媒体都傻逼</a><a href="#">真话我想说但不让我说</a><a href="#">这个社会已经病态了</a><a href="#">我在这里啊我在这里啊</a><a href="#">我要涨工资啊</a><a href="#">我只是来学习滴只是来学习滴</a><a href="#">道明寺</a><a href="#">没有你的日子里</a><a href="#">盛开啊上开啊</a><a href="#">吃葡萄不</a><a href="#">哇哈哈哇哈哈</a><a href="#">我的大学在河北</a></dd>
    </dl>
    <div class="clearfix"></div>
  </div>
  <div class="adderss">
    <p>铭万全国统一客户服务热线：400-700-1818 客户服务邮箱：service@mainone.cn </p>
    <p class="copyright">铭万版权所有©2004-2011 京ICP证050659号互联网药品信息服务资格证书 证书编号：（京）-经营性-2010-0049 </p>
  </div>
</div>
<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/list.js"></script>
</body>
</html>
