<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$title}--></title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleG.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>

</head>

<body>
  <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">友情链接列表</a></dt>
            <dd><a href="<!--{$baseurl}-->/modules/link/add" class="last">添加友情链接</a></dd>
          </dl>
        </div>
        <form action="<!--{$baseurl}-->/modules/link/index" method='get' id="batch-form">
        <div class="pubTabelTot">
           <input type="hidden" id="page" name="page" value="<!--{$page}-->" />
           <input type="text" value="<!--{if $search.keyword neq ''}--><!--{$search.keyword}--><!--{else}-->请输入关键字<!--{/if}-->" class="Iw150 text-tips" tips="请输入关键字" name='keyword'>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <select class="Iw290" name="link_type" style="width:162px;" id='link_type'>
             <option value="">请选择类型</option>
             <option value="1" <!--{if $search.link_type eq 1}-->selected<!--{/if}-->>图片</option>
             <option value="2" <!--{if $search.link_type eq 2}-->selected<!--{/if}-->>文字</option>
            </select>
           <input type="submit" hidefocus="hide" value="搜 索" class="btn5">
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
              <div class="pubTabel">
              <table class="tabelTB" id="search-list">
                <tr>
                  <th width="10%">选择</th>
                  <th width="10%">排序</th>
                  <th width="25%">网站名称</th>
                  <th width="16%">链接类型</th>
                  <th width="19%">图片logo</th>
                  <th width="20%">操作</th>
                </tr>
                <!--{foreach item=item from = $list}-->
                <tr>
                  <td>
                  <input type="checkbox" name="id[]" value="<!--{$item.id}-->" />
                  </td>
                  <td>
                  <input type="text" class="Iw45" name="sort[]" value="<!--{$item.sort}-->">
                  </td>
                  <td title='<!--{$item.name}-->'><!--{$item.name|truncate_cn:10:'...':true}--></td>
                  <td><!--{if $item.link_type eq 1}-->图片<!--{else}-->文字<!--{/if}--></td>
                   <td><image src="<!--{if $item.logo eq ''}-->/admin/template/images/default/np_Xsmall.jpg<!--{else}-->/static/uploadfile/frind_link/<!--{$item.logo}--><!--{/if}-->" width='60' height="60"></td>
                  <td>
                   <a href="<!--{$baseurl}-->/modules/link/update/id/<!--{$item.id}-->/keyword/<!--{$search.keyword}-->/link_type/<!--{$search.link_type}-->/page/<!--{$page}-->">修改</a> |
                   <a href="#"  onclick="MoConfirm('<!--{$baseurl}-->/modules/link/delete/id/<!--{$item.id}-->/name/<!--{$item.name}-->/keyword/<!--{$search.keyword}-->/link_type/<!--{$search.link_type}-->/page/<!--{$page}-->','确认删除？')">删除</a>
                  </td>
                </tr>
                <!--{/foreach}-->
              </table>
            </div>
            <div class="pubOperate"><span class="btn5">
              <label>
              <input type="checkbox" class="Check-All-Toggle" container-id="search-list"/>
                                        全选/反选</label>
              </span> 
              <input type="button" class="btn5" value="更新排序" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/link/linkSort" empty-tips="请选择要进行排序的友情链接" is-selected="false" />
			  <input type="button" class="btn5" value="删除" class="Check-All-Toggle" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/modules/link/delete" empty-tips="请选择要删除的友情链接" confirm-tips="确认删除？"/>
            </div>
            <div class="pubTabelBot">
             <div class="pageGo"><!--{$pageStr}--></div>
            </div> 
             </form>          
           </div>
          </div>
    </body>
    </html>
