<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/1">什么是SEO</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/2">如何SEO</a></dd>
            <dt class="on"><a href="#" class="last">维护SEO</a></dt>
          </dl>
        </div>
        <div class="TabBoxC wz_content">
          <div>
            <h2>SEO的六个环节</h2>
            <dl>
                <dt>1、关键词分析（也叫关键词定位）</dt>
                <dd><p> 这是进行SEO最重要的一环，关键词分析包括：关键词关注量分析、竞争对手分析、关键词与网站相关性分析、关键词布置、关键词排名预测。<p></dd>
                <dt>2、网站架构分析</dt>
                <dd><p> 网站结构符合搜索引擎的爬虫喜好则有利于SEO。网站架构分析包括：剔除网站架构不良设计、实现树状目录结构、网站导航与链接优化。</p></dd>
                <dt>3、网站目录和页面优化</dt>
                <dd><p> SEO不止是让网站首页在搜索引擎有好的排名，更重要的是让网站的每个页面都带来流量。</p></dd>
                <dt>4、内容发布和链接布置</dt>
                <dd><p> 搜索引擎喜欢有规律的网站内容更新，所以合理安排网站内容发布日程是SEO的重要技巧之一。链接布置则把整个网站有机地串联起来，让搜索引擎明白每个网页的重要性和关键词，实施的参考是第一点的关键词布置。友情链接战役也是这个时候展开。</p></dd>
                <dt>5、与搜索引擎对话</dt>
                <dd><p>在搜索引擎看SEO的效果，通过site:你的域名，知道站点的收录和更新情况。更好的实现与搜索引擎对话，建议采用Google/Baidu网站管理员工具。</p></dd>
                <dt>6、网站流量分析</dt>
                <dd>
                    <p>网站流量分析从SEO结果上指导下一步的SEO策略，同时对网站的用户体验优化也有指导意义。流量分析工具，建议采用Google流量分析。</p>
                    <p><em>SEO是这六个环节循环进行的过程，只有不断的进行以上六个环节才能保证让你的站点在搜索引擎有良好的表现。</em></p>
                    <p><em>网站排名上去了，之后SEO的排名维护工作除了依赖于以上所讲的六个环节外，还有其他一些方面需要关注：</em></p>
                </dd>
                <dt>7、空间、vps、服务器需要稳定</dt>
                <dd><p>放弃你那廉价的空间吧，排名上去了就需要更快更快更稳定的服务器了，很多时候由于种种原因，服务器打不开或者延迟很高，那么蜘蛛也会非常的厌烦，甚至会造成不再收录您的网站。</p></dd>
                <dt>8、不要随意修改网站 </dt>
                <dd><p>SEO后期最忌讳的事情，就是对网站进行修改，网站每改一次，就离降权的悬崖更近一步。</p></dd>
                <dt>9、保持内容的更新</dt>
                <dd><p>网站在后期排名维护的时候，还是需要一如既往的添加内容，但是此时可以降低更新的数量，但是也不能降太多。</p></dd>
                <dt>10、外链更新要继续</dt>
                <dd><p> 同内容一样，后期排名维护，外链还是得增加，友链还是要交换，这个时期要适当降低数量，但是要稳定的降低。</p></dd>
            </dl>
            <p>--以上内容来自网络资源</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>