<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/1">什么是SEO</a></dd>
            <dt class="on"><a href="#">如何SEO</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/3" class="last">维护SEO</a></dd>
          </dl>
        </div>
        <div class="TabBoxC wz_content">
          <div>
            <p style="margin-top:10px;">    SEO分为三个主要领域，包括：结构、内容和链接。这些都是SEO的基本知识，也是SEO的核心内容，我们必须要了解。以下就是重点介绍seoer要了解的方面：</p>
            <h2>一、结构-网站是否能正常索引</h2>
            <p>一个网站首先要解决的是它能否让搜索引擎正常抓取，可以有优质的内容，但如果搜索引擎无法找到，也是徒劳无功，以下几个方法就有助于你的网站被顺利索引：</p>
            <dl>
                <dt>1、尽量避免Javascript和flash导航。</dt>
                <dd><p> 虽然JS和FLASH能把网站做的绚丽漂亮，但目前搜索引擎还是无法顺利的抓取其中的内容，所以我们要避免。<p></dd>
                <dt>2、目录层次不能太深。</dt>
                <dd><p>网站目录层次不宜太深，尽量保持在三层以内，尽可能接近根网址。</p></dd>
                <dt>3、避免网址中的参数字符。</dt>
                <dd><p> 也就是让网站尽量生成静态页面或伪静态，不要让网址带上“?id＝”这样的动态网址，这样搜索引擎不能有好的抓取，而且有可能会让蜘蛛进入死循环。</p></dd>
                <dt>4、使用合理的内部链接。</dt>
                <dd><p> 只要内容相关，尽量在页面加上其他页面的链接，不要仅依赖于导航，引导蜘蛛深入爬行网站所有页面。</p></dd>
                <dt>5、建立Sitemap。</dt>
                <dd><p> 确保你的网站有个HTML和XML格式的站点地图。</p></dd>
            </dl>
            <h2>二、内容-你的文章是否经过合理优化</h2>
            <p> 一旦你的网站结构做好了，下一步要做的就是网站内容的添加，关于内容的优化有以下几个方面：</p>
            <dl>
                <dt>1、不要将多个关键词放在同一页。</dt>
                <dd><p> 比如你有50个关键词需要优化，不能在两三个页面中做完，要把每个关键词分开，分别建立相应的内容，随着关键词的增加，要不断的增加新的页面。<p></dd>
                <dt>2、拒绝垃圾内容。</dt>
                <dd><p>不要做任何关键词的堆砌，比如TITLE、META、ALT等其他任何垃圾行为。</p></dd>
                <dt>3、标题中包含关键词。</dt>
                <dd><p>每份内容页中的标题要包含当前关键词，并合理使用H标签，告诉搜索引擎这个页面的这个关键词是最重要的。</p></dd>
                <dt>4、内容中包含关键词。</dt>
                <dd><p> 不仅仅依赖于TITLE和文章标题，内容中也应包含关键词，但不要太过了，合理分配，让文章自然。</p></dd>
            </dl>
            <h2>三、链接-从其他网站获得肯定</h2>
            <p>网站内部做好了，我们还要做的就是链接建设，使用不同的锚链接，通过优质的外部链接，可以增加网站的可信度，搜索引擎会认为网站应该排名好。以下就是几个链接建设的技巧：</p>
            <dl>
                <dt>1、使用各种外链手段。</dt>
                <dd><p> 获得外部链接的方法有很好，我们一个都不要放过，包括：目录、友情链接、文章、博客、社会化书签、论坛.....等等非常多。<p></dd>
                <dt>2、链接的广泛度。</dt>
                <dd><p> 要想获得良好稳定的排名，我们还要注意链接的广泛度，不能让外链的来源是同一个地方的，应该来自各种网站、各个领域。</p></dd>
                <dt>3、链接锚文本要包含关键词。</dt>
                <dd><p>很多初学者可能不知道，经常在链接文本上写自己公司名或是网站名，当然，如果这正是你想要有的排名，这没有错。但大部分是想让关键词组有排名，所以我们的链接文本中一定要使用关键词或是包含关键词的短语。</p></dd>
                <dt>4、锚文本的多样化。</dt>
                <dd><p>     不要所有外链都是使用同样的关键词组，这可能让搜索引擎当作SPAM，而惩罚你的网站，使用多个不同的锚文本，这样会让你的链接看起来是自然的。</p></dd>
                <dt>4、坚持不断。</dt>
                <dd><p>     不要以为上面这些工作做完了，你的工作就结束了。SEO是一个持续长期的过程，如果你将上面的工作做完了，请像死循环一样重复做下去。</p></dd>
            </dl>
            <p>虽然以上三点并非囊括所有的SEO的技术，但所有其他SEO技巧都是从此延伸的，这足以让你开始SEO的工作，同时我们还要不断学习。掌握了SEO的基础知识后，也可以做一些其他实验，以丰富自己的SEO经验。希望对你帮助。</p>
            <p>--以上内容来自网络资源</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>