<!--{include file="public/head_admin.html"}-->
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="#">什么是SEO</a></dt>
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/2">如何SEO</a></dd>
            <dd><a href="<!--{$baseurl}-->/extensions/seo/index/type/3" class="last">维护SEO</a></dd>
          </dl>
        </div>
        <div class="TabBoxC wz_content">
          <div class="">
            <h2>一、SEO基本介绍</h2>
            <p>Search Engine Optimization，简称SEO，又称为搜索引擎优化，是一种通过了解搜索引擎的运作规则来调整网站，以提高目的网站在有关搜索引擎内排名的方式。由于不少研究发现，搜索引擎的用户往往只会留意搜索结果最前面的几个条目，所以不少网站都希望通过各种形式来影响搜索引擎的排序，让自己的网站可以有优秀的搜索排名。当中尤以各种依靠广告维生的网站为甚。</p>
            <p>所谓“针对搜索引擎作优化的处理”，是指为了要让网站更容易被搜索引擎接受。搜索引擎会将网站彼此间的内容做一些相关性的数据比对，然后再由浏览器将这些内容以最快速且接近最完整的方式，呈现给搜索者。搜索引擎优化就是通过搜索引擎的规则进行优化，为用户打造更好的用户体验，最终的目的就是做好用户体验。</p>
            <p> 对于任何一个网站来说，要想在网站推广中取得成功，搜索引擎优化都是至为关键的一项任务。同时，随着搜索引擎不断变换它们的搜索排名算法规则，每次算法上的改变都会让一些排名很好的网站在一夜之间名落孙山，而失去排名的直接后果就是失去了网站固有的可观访问流量。所以每次搜索引擎算演法的改变都会在网站之中引起不小的骚动和焦虑。可以说，搜索引擎优化是一个愈来愈复杂的任务。</p>
            <p>SEO主要包含两方面：站外SEO和站内SEO。<p>
            <h2>二、站外SEO</h2>
            <p> 站外SEO，也可以说是脱离站点的搜索引擎技术，命名源自外部站点对网站在搜索引擎排名的影响，这些外部的因素是超出网站的控制的。最有用功能最强大的外部站点因素就是反向链接，即我们所说的外部链接。毫无疑问，外部链接对于一个站点被收录进搜索引擎结果页面起到了重要作用。</p>
            <h3>如何产生高质量的反向链接？</h3>
            <dl>
                <dt>1、高质量的内容</dt>
                <dd><p>产生高质量的外部链接最好的方法就是书写高质量的内容，你的文章能够让读者产生阅读的欲望而对文章进行转载。<p></dd>
                <dt>2、合作伙伴、链接交换</dt>
                <dd><p>与合作伙伴互相推荐链接。与行业网站、相关性网站进行链接交换。</p></dd>
                <dt>3、分类目录</dt>
                <dd><p>将网站提交到DMOZ目录、Yahoo目录和ODP目录一些专业目录网站。</p></dd>
                <dt>4、社会化书签</dt>
                <dd><p>将网站加入百度搜藏、雅虎收藏、Google书签、QQ书签等社会化书签。</p></dd>
                <dt>5、发布博客创建链接</dt>
                <dd><p>目前获取外部链接最有效的方式之一就是通过发布博客文章。</p></dd>
                <dt>6、论坛发帖或签名档</dt>
                <dd><p>在论坛中发布含有链接的原创帖或者编写签名档中插入网址。</p></dd>
                <dt>7、购买高价值链接</dt>
                <dd><p>使用此方法会有风险，被搜索引擎发现会被降权。</p></dd>
                <dt>8、与SEO业务合作伙伴进行SEM\SEO整体解决方案。</dt>
                <dt>9、社会化媒体</dt>
                <dd><p>可以在社会化媒体中加入链接，比如微博、社交网站等。</p></dd>
            </dl>
            <h2>三、站内SEO</h2>
            <dl>
                <dt>1、站内的链接结构</dt>
                <dd><p>尽量改变原来的图像链接和Flash链接，使用纯文本链接，并定义全局统一链接位置。</p></dd>
                <dt>2、TITLE的重新定位</dt>
                <dt>3、keywords的重新定位</dt>
                <dt>4、description的重新定位</dt>
                <dd><p>标题中需要包含有优化关键字的内容，同时网站中的多个页面标题不能雷同，起码要能显示“关键字、网站首页、段简单的含关键字的描述”类型。标题一旦确定就不要再做修改！</p></dd>
                <dt>5、关键字选取</dt>
                <dd>
                    <p>关键词分析工具的使用。Google关键词工具和百度指数是经常用到的。通过这些工具可以分析出关键词在一定时期的搜索量，参考价值很高，你可以根据你的网站的性质和类别来选择合适的关键词。</p>
                    <p>以浏览者的身份去考虑关键词。网站SEO的最终目的就是带来流量，如果选择的关键词全部是自己主观的创造，不符合浏览者的搜索思维，这样的关键词即使做上去了也没有任何意义。</p>
                    <p> 分析同行业竞争对手。先研究下竞争对手，看哪些是自己能够模仿超越的，哪些是应该避开竞争的，这样有利于今后网站关键词排名的上升。</p>
                    <p> 衍生长尾关键词。单靠一个关键词是不可能带来巨大流量的，我们要根据网站内容选择2~3个长尾关键词进行优化，虽然长尾关键词搜索量不是很大，但是当积聚到一定数量的时候，带来的流量也是相当可观的。</p>
                    <p>用统计软件来观察关键词。通过分析网站流量统计数据，可以得知浏览者是搜索什么关键词找到你的网页的。</p>
                    <p>通过搜索引擎联想工具来选择关键词。</p>
                </dd>
                <dt>6、网站结构调整</dt>
                <dd><p> 假设因为原有网站为形象页面，使用了较多的Flash和图像，这些网页元素不利于搜索引擎的收录，所以在该网页的下方加了三栏，分别是相关的公司简介、关键字产品新闻和公司的关键词产品列表，并对该三栏内容添加url。</p></dd>
                <dt>7、资源应用</dt>
                <dd><p>再谈资源应用。对网站结构大致调整好了以后，就可以利用一些资源扩展外部链接了。首先是可以开百度空间，空间域名就使用公司产品的关键字，同时进行公司原网站信息的转载，附带公司网址，让百度Robot在第一时间访问本站点。其中还有一个技巧：使用该空间帐户去随机访问百度空间内的其他用户，以获得回访，这样蜘蛛到达的效果会更好。提示：在百度空间、贴吧和知道发表信息的时候记得要附带链接信息，方便互访，提高访问量。</p></dd>
            </dl>
            <!--
            <div class="pubTabelBot">
              <div class="pageGo"><a href="#">上一页</a> <a href="#">下一页</a> </div>
            </div>
            -->
            <p>--以上内容来自网络资源</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>