<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<title>登录页</title>
<link href="{CSS_PATH}/basc.css" rel="stylesheet" type="text/css"/>
<link href="{CSS_PATH}/styleG.css" rel="stylesheet" type="text/css"/>
<script src="{JS_PATH}/date.js"></script>
<script src="{JS_PATH}/jquery-1.7.2.js"></script>
</head>
<body>
{include 'tophead.html'}
<div class="logo_search">
  <div class="logo"><a href="{HOST_NAME}" title="商业资讯网"><img src="{logo()}" /></a></div>
</div>
<div class="wrap">
  <div class="login">
    <div class="T">
      <h3>用户登录</h3>
    </div>
    <div class="C">
      <div class="pTabs">
        <div class="rightTabs">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2" align="center"><strong>还没有商业资讯网帐号？10秒钟马上注册</strong></td>
            </tr>
            <!--<tr>
              <th>用户名：</th>
              <td><input type="text" class="input206_28" /></td>
            </tr>
            <tr>
              <th>密码：</th>
              <td><input type="password" class="input206_28" /></td>
            </tr>
            <tr>
              <th>确认密码：</th>
              <td><input type="password" class="input206_28" /></td>
            </tr>
            <tr>
              <th>(可选填)邮箱：</th>
              <td><input type="text" class="input206_28" /></td>
            </tr>
            <tr>
              <th></th>
              <td><input type="checkbox" class="chbox"/>
                <label class="lebstyle">接受商业资讯网<a href="#">服务条款</a></label></td>
            </tr>
              </tr>-->
            
            <tr>
              <th></th>
              <td> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="button" class="grayBtn2" onclick="window.location.href='/user/User/regist/groupid/24'" value="立即注册"/></td>
            </tr>
          </table>
        <div style="display:none">
         <form action='/user/User/regist' method='post' id='registForm'>
            <input type="hidden" class="pwd"  name='dosubmit' value="1"/>
            <input type="hidden" class="groupid"  name='groupid' value="{$groupid}"/>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2" align="center"><strong>还没有商业资讯网帐号？10秒钟马上注册</strong></td>
            </tr>
           {foreach $form $key $v}
			{$v}
			{/foreach}
            {if $hasYzm}
		  <tr>
			<th>验 证 码：</th>
			<td><input type="text" name='code' id='code' class="txt" />
			  <img src="/static/js/securimage/yzm.php" id='yzm' width="100" height="30" class="yzm captcha"/>  <a href="#"  onclick='yzm.src="/static/js/securimage/yzm.php?"' class="msgLink captcha">看不清，换一张</a></td>
		  </tr>
		 {/if}
            <tr>
              <th></th>
              <td><!--<input type="checkbox"  id='clause' class="chbox" name='clause'/>-->
            <label class="lebstyle">已阅商业资讯网的<a href="{HOST_NAME}user/User/registerdeal/id/{$registerdeal}">登录协议</a></label></td>
            </tr>
              </tr>
            <tr>
              <th></th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="立即注册"  onclick="javascript:checkRegist();"  class="grayBtn2"/></td>
            </tr>
          </table>
           </form>
         </div>
        </div>
        <div class="leftTabs">
        <!--连接中的type用来判断是刷新当前页面还是跳转到用户中心1:代表刷新当前页面,2代表前往用户中心，默认为1-->
	<form action='/user/User/login/type/2' method='post' id='loginForm'>
		<input type="hidden" class="pwd"  name='dosubmit' value="1"/>
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <th>账号：</th>
              <td><input type="text" class="input298_34"  id='username' value='{$GLOBALS["cookieUsername"]}' name='username'/></td>
            </tr>
            <tr>
              <th>密码：</th>
              <td><input type="password" class="input298_34"  id='password' name='password'/></td>
            </tr>
            <tr>
              <th></th>
              <td>
              <p>
              <input type="checkbox" name='cookieUsername' value='1' class="chbox"/>
              <label>记住用户名（公共场所请勿勾选）</label>
            </p>
            <p style="display:none">
              <input type="checkbox" id='clause' name='clause' checked="checked" />
              <label>已阅读商业资讯网的用户条款</label>
            </p></td>
            </tr>
                {if $hasYzm}
              <tr>
                <th>验 证 码：</th>
                <td><input type="text" name='code' id='code' class="txt" />
                  <img src="/static/js/securimage/yzm.php" id='yzm' width="100" height="30" class="yzm captcha"/>  <a href="#"  onclick='yzm.src="/static/js/securimage/yzm.php?"' class="msgLink captcha">看不清，换一张</a></td>
              </tr>
             {/if}
            <tr>
              <th></th>
              <td align="center"><input type="button" value="立即登录" onclick="javascript:checkLogin();"  class="orgBtn"/></td>
            </tr>
          </table>
          </form>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
<script>
/*captcha 属性更新验证码及表单认证*/
$(document).ready(function() {  
	$('.captcha').click(function(){
		$('.captcha').attr('src','/static/js/securimage/yzm.php?' + Math.random());
		return false;
	});
});

function checkLogin()
{
	if($('#code').val()=='')
	{
	  alert("验证码不能为空");
	}
	else if(!$('#username').val())
	{
		alert('请输入用户名');
	}
	else if(!$('#password').val())
	{
		alert('请输入密码');
		
	}
	/*根据情况判断是否阅读*/
	else if(!$('#clause').attr('checked'))
	{
		alert('是否阅读用户条款');
	}
	else
	{
		$('#loginForm').submit();
	}
}
</script>
{include 'footer.html'}
