<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>添加推荐信息</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="<!--{$jspath}-->/My97DatePicker/WdatePicker.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:void(0);">推荐位管理</a></dt>
            <dd><a href="javascript:void(0);" id="chose" onclick="chose_position();" class="last">选择推荐信息</a></dd>
          </dl>
        </div>
        <div class="height16"></div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
            <form method="POST" action="" id="batch-form"/>
              <table class="tabelTB" id="search-list">
                <tr>
                  <th width="10%">选择</th>
                  <th width="10%">排序</th>
                  <th width="28%">标题</th>
                  <th width="18%">所属栏目</th>
                  <th width="18%">编辑时间</th>
                  <th>操作</th>
                </tr>
                <!--{foreach from=$info item=list}-->
                <tr>
                  <td><input type="checkbox" id="ids" name="ids[]" value="<!--{$list.id}-->"/></td>
                  <td><input type="text" class="Iw45" name="sortby[<!--{$list.id}-->]" value="<!--{$list.sortby}-->"/></td>
                  <!--{if $list.model_id != 2}-->
                  <td><a href="<!--{$hostname}-->content/Content/index/id/<!--{$list.ag_id}-->" target="_blank"><!--{$list.headline}--></a></td>
                  <!--{else}-->
                  <td><a href="<!--{$hostname}-->goods/Goods/info/id/<!--{$list.ag_id}-->" target="_blank"><!--{$list.headline}--></a></td>
                  <!--{/if}-->
                  <td><!--{$list.catname}--></td>
                  <td><!--{$list.alter_time|date_format:'%Y-%m-%d'}--></td>                
                  <td><a href="<!--{$baseurl}-->/content/position/positioninfoedit/id/<!--{$list.id}-->/pid/<!--{$list.pos_id}-->/cid/<!--{$list.cat_id}-->">修改</a> | <a href="javascript:void(0);"onclick="MoConfirm('<!--{$baseurl}-->/content/position/deletepositioninfo/id/<!--{$list.id}-->/pid/<!--{$list.pos_id}-->/cid/<!--{$list.cat_id}-->')">删除</a></td>
                </tr>
                <!--{/foreach}-->
              </table>
              </form>
            </div>
            <div class="pubOperate"><span class="btn5" style="width:80px;"><label><input type="checkbox" class="Check-All-Toggle" container-id="search-list" /> 全选/反选</label></span>
              <input type="button" class="btn5" value="更新排序" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/content/position/updateOrder/pid/<!--{$posid}-->/cid/<!--{$catid}-->" empty-tips="请选择要更新的信息" is-selected="false"/>
             <input type="button" class="btn5" value="删除" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/content/position/deleteAllInfo/pid/<!--{$posid}-->/cid/<!--{$catid}-->" empty-tips="请选择要删除的记录" confirm-tips="确定要删除吗？"/>
            </div>
            <div class="pubTabelBot">
              <div class="pageGo"><!--{$pageStr}--></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
    <input type="hidden" id="posid" value="<!--{$posid}-->"/>
    <input type="hidden" id="catid" value="<!--{$catid}-->"/>
</body>
</html>
<script type="text/javascript">
<!--
function chose_position()
{
    var posid = document.getElementById('posid').value;
    var catid = document.getElementById('catid').value;
	window.top.art.dialog.open('<!--{$baseurl}-->/content/position/chosePositionInfo/id/'+posid+'/catid/'+catid,{
            title:'获取推荐信息',
            id:'position',
            width:'700px',
            height:'450px',
            lock:true,
            ok:function(){

                var arr = new Array();
                var str = '';
                var win = art.dialog.open.origin;			//来源页面
                var iframe = this.iframe.contentWindow;
                var checked_ids = $(iframe.document).find('#search_list input:checkbox:checked');
                $.each(checked_ids,function(i,n){
                    arr.push($(n).val());
                })
                var str = arr.join(',');
                //alert(str);

                window.top.art.dialog.alert('添加成功！');
                iframe.document.getElementById('myForm').submit();
                //window.top.art.dialog({id:'position'}).close();
                var dialog = window.top.art.dialog({id:'position'});
                setTimeout(function(){dialog.close();},500);
                setTimeout(function(){location.reload();},600);
                return false;
            },
            cancel:function(){
                window.top.art.dialog({id:'position'}).close();
            }
        });
}

//-->
</script>
