<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>广告模块-商品分类</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleX.css" rel="stylesheet" type="text/css"/>
<link href="<!--{$csspath}-->/styleL.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>

<!--  artdialog插件  -->
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script src="<!--{$jspath}-->/admin.js"></script>




<style type="text/css">
	.tabelTBL .level1{border-bottom-style:dashed;border-bottom-color:#CCC;border-bottom-width:1px;}
</style>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="javascript:;">栏目列表</a></dt>
            <dd><a href="<!--{$baseurl}-->/content/column/add" class="last">添加栏目</a></dd>
			<!--{if in_array('103',$mypermissionid) || ($roleid == 1)}-->
			<dd><a href="<!--{$baseurl}-->/content/column/batch" class="last">批量增加栏目</a></dd>
			<!--{else}-->
			<dd><a href="javascript:alert('对不起，您没有该权限')" class="last">批量增加栏目</a></dd>
			<!--{/if}-->
			<dd class="add"><a href="javascript:;" onclick="updateColumnCache()">更新栏目缓存</a></dd>
			<dd class="add"><a href="<!--{$baseurl}-->/content/issue/column">发布栏目页</a></dd>
          </dl>
        </div>
        <div class="TabBoxC">
          <div>
            <div class="pubTabel">
			<form method="post" action="javascript:;" id="batch-form" enctype="multipart/form-data">
              <table class="tabelTB tableTB_Xtal mt10" id="search-list">
                <tr style="border-bottom:1px solid #CCD9E4;"><!--  表头  -->
                  <th width="5%">选择</th>
                  <th width="8%">ID</th>
                  <th width="31%">栏目名称</th>
                  <th width="11%">模型</th>
                  <th width="9%">排序</th>
                  <th width="7%">信息数量</th>
                  <th width="29%">操作</th>
                </tr>
				<!--{foreach from=$cat_tree item=l}-->
				<tr class="<!--{$l.class}-->" style="display:<!--{$l.show_hide}-->" child_count="<!--{$l.child_count}-->">
					<td><input type="checkbox" name="column[]" value="<!--{$l.id}-->" /></td>
					<td><!--{$l.id}--></td>
					<td class="tal"><div class="<!--{$l.flag}-->" style="margin-left:<!--{$l.margin_left}-->px"><!--{$l.catname}--></div></td>
					<td>
						<!--{foreach from=$model item=m}-->
						<!--{if $m.id eq $l.model}--><!--{$m.name|truncate_cn:8:"...":true}--><!--{/if}-->
						<!--{/foreach}-->
					</td>
					<td><input type="text" value="<!--{$l.ordernum}-->" name="ordernum[<!--{$l.id}-->]" class="Iw45" style="text-align:center;"></td>
					<td><!--{$l.cont_num}--></td>
					<td><a href="<!--{$smarty.const.HOST_NAME}-->index.php/category/Category/index/cid/<!--{$l.id}-->" title="<!--{$l.catname}-->" target="_blank">预览</a> | <a href="<!--{$smarty.const.HOST_NAME}-->admin/<!--{if $l.model eq 2}-->modules/goods/index/categroy<!--{else}-->content/Content/index/categoryid<!--{/if}-->/<!--{$l.id}-->">内容</a> | <a href="<!--{$baseurl}-->/content/column/add/catid/<!--{$l.id}-->">添加子分类</a> | <a href="<!--{$baseurl}-->/content/column/edit/catid/<!--{$l.id}-->">修改</a> | <a href="javascript:;" onclick="deleteColumn('<!--{$baseurl}-->/content/column/del/catid/<!--{$l.id}-->',<!--{$l.cont_num}-->)">删除</a> | <a href="javascript:;" onclick="moveToCatgory(<!--{$l.id}-->)">移动</a></td>
				</tr>
				<!--{/foreach}-->
              </table>
			</form>
            </div>
            <div class="pubTabelBot pubTabelBot_X" style="text-align:left;">
			
				<span class="btn5" style="width:80px;"><label>
					<input type="checkbox" class="Check-All-Toggle" container-id="search-list" style="position: relative; top: 3px; width: 15px;"/>全选/反选
				</label></span>
              <input type="button" class="btn5" value="更新排序" onclick="batchOperate(this)" form-id="batch-form" container-id="search-list"  form-action="<!--{$baseurl}-->/content/column/updateOrder" empty-tips="请选择要进行排序的记录！" is-selected="false" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>

<div class="notif" id="move_block" style="display:none;">
	<div class="pubTabel">
		<table class="tabelTB tabelTB_X">
			<tr>
				<td style="padding-left:10px;">栏目：</td>
				<td><select class="Iw290" id="catrgory" style="width:302px;">
				<option value="0">顶级栏目</option>
				<!--{foreach from=$cat_temp item=l}-->
				<option value="<!--{$l.id}-->"><!--{$l.catname}--></option>
				<!--{/foreach}-->
				</select>&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">	
	function moveToCatgory (id)
	{
        var hasper = <!--{$hasper}-->;
        if(!hasper)
        {
          alert("对不起,你没有操作权限");
        } else {
            art.dialog.open('<!--{$baseurl}-->/content/column/moveto/cid/'+id, 
            {
                id: 'move_dialog',
                fixed: true,
                width:400,
                title:'移动分类',
                height:'auto'
            });
        }
	}

	//返回父页面
	function backParent ()
	{
		window.parent.$("#rightMain").attr('src','<!--{$baseurl}-->/webset/remind/tpl');
	}

	$(function()
	{
		//收起，折叠效果
		$("#search-list tr:gt(0)").find('td:eq(2)').bind('click',function()
		{
			var tr = $(this).parent('tr');//被点击的TR
			var c_index = tr.index();//被点击TR的索引号
			var c_child = parseInt(tr.attr('child_count'));//TR的子集个数
			if(c_child == '0') return;
			var div = $(this).find('div');//折叠符所在元素
			var s_class = div.attr('class');//折叠符所在元素last class 
			var n_class = (s_class == 'open') ? 'clos' : 'open';//折叠符所在元素new class 
			div.removeClass(s_class).addClass(n_class);//切换样式

			if (n_class == 'open')
				tr.attr('bgcolor','#FFF7F2');
			else
				tr.attr('bgcolor','#F7F7F7');

			for (var i=1;i<= c_child;i++)
			{
				var _tr = $("#search-list tr:eq("+(c_index+i)+")");
				var _div = _tr.find('td:eq(2)').find('div');
				var _s_class = _div.attr('class');
				if (n_class == 'open')
					_tr.show();
				else
					_tr.hide();
				if (_s_class != 'no')
					_div.removeClass().addClass(n_class);
			}
		});
	});

function deleteColumn (url,num)
{
	var tip = (num == '0') ? '你确定删除吗？' : '删除的栏目下有内容，请先删除栏目下的内容再删除栏目';
	var throughBox = art.dialog.through;
	throughBox({content: tip,icon:'question',lock:true,fixed:true},function()
	{
		if(num == '0')
			window.location.href=url;
		else
			return true;
	},
	function()
	{
		//art.dialog.tips('你取消了操作');
	});
}

function updateColumnCache ()
{
	$.post('<!--{$baseurl}-->/content/column/updatecache',{},function()
	{
		art.dialog.alert('更新栏目缓存成功');
	});
}

/*function moveToCatgory (id)
{
	//弹出移动到对话框
	var move = art.dialog.through(
	{
		content: document.getElementById('move_block'),//对话框内容来源
		     id: 'move_block',
		  title: '移动到栏目',
		 button: 
			[
				{
					name: '确定',
					callback: function () 
					{
						var top = art.dialog.top;// 引用顶层页面window对象
						var pid = top.document.getElementById('catrgory').value;

						//给出数据请求提示
						var t1 = art.dialog.through({content:'正在请求数据，请稍后...',icon:'question',lock:true,fixed:true},function()
						{
							return true;
						});
						//请求后台
						$.post('<!--{$baseurl}-->/content/column/moveto',{'id':id,'pid':pid},function(d)
						{
							t1.close();//关闭提示框
							move.close();
							if(d == 'success')
								location.reload();
							else if(d == 'fail')
							    art.dialog.tips('移动失败，不能选择本身和本身的子集作为父集');
							else 
								art.dialog.tips(d);
							return true;
						});
						return false;
					},
					focus: true
				},
				{
					name: '取消',
					callback: function () 
					{
						return true;
					}
				}
			]
	});
}*/
</script>
