<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>发布设置</title>
<link href="<!--{$csspath}-->/basc.css" rel="stylesheet" type="text/css"/>
<script src="<!--{$jspath}-->/jquery-1.7.2.js"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/jquery.artDialog.source.js?skin=blue"></script>
<script src="<!--{$jspath}-->/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script src="<!--{$jspath}-->/My97DatePicker/WdatePicker.js"></script>
<script src="<!--{$jspath}-->/admin.js"></script>
</head>
<body>
    <div class="pubBox">
      <div class="pubtabBox">
        <div class="TabBoxT">
          <dl class="navTab">
            <dt class="on"><a href="<!--{$baseurl}-->/content/issue/createindex">发布首页</a></dt>
            <dt class="on"><a href="<!--{$baseurl}-->/content/issue/column">发布栏目页</a></dt>
            <dt class="on"><a href="<!--{$baseurl}-->/content/issue/content">发布内容页</a></dt>
          </dl>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>
<script type="text/javascript">
<!--
    
//-->
</script>
