@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, dl, dt, dd, form, article, aside, embed, table, td, th, input, button, legend, fieldlset, blockquote, textarea, label, strong, img, cite { margin: 0; padding: 0; outline: none; }
body { font-family:"微软雅黑"; font-size: 12px; line-height: 1;  margin: 0 auto; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: 100;}
table { border-collapse: collapse; }
ul, li , ol, li{ list-style: none; }
img{ border: none; vertical-align:top;}
em, cite, address,i { font-style: normal; font-weight: normal; }
a { text-decoration:none; outline: none;}
input { outline:none; border:none; background-color:transparent; display: block;}
input::-ms-clear { display:none; }
textarea { outline:none; resize:none; ;overflow:auto;border:none;background: transparent;}
/* 清浮动 */
.clearfix:after,
.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
/**********************/
.login_top{ width: 100%; height: 100%; background: #ffffff; margin: 0 auto;}
.login_cont{ width: 1200px; height: 100px; margin: 0 auto;}
.login_cont a{ display: block;float: left;}
.login_cont span{ font-size: 24px; color: #333; display: block;  height: 100px; margin: 0 0 0 20px; line-height: 100px; float: left; width: 100px;}
.login_cont a.logo{ width: 143px; height: 100px;}
.login_cont a.return_sy{ font-size: 14px; width: 65px; height: 100px; float: right; line-height: 100px; color:#666;}
.login{ width: 100%; height: 600px; background: url(../images/login_04.jpg) no-repeat top center; position: relative;}
/**************/
.login_r{ width: 338px; height: 398px; border: 1px solid #eeeeee; background: #fff; position: absolute; top:50%; left: 50%; margin: -200px 0 0 -170px;}
.login_r h3{ width: 338px; height: 65px; line-height: 60px; padding:5px 0 0; text-align: center; color: #333; font-size: 24px; font-weight: 100;}
.inp_text{ width:300px; float: left;position: relative; margin: 0 0 24px 20px;}
.inp_text span{ display: block; position: absolute; left: 0; top: 0; height: 45px; width: 38px;}
.inp_text input{width:246px; color: #333; height: 42px; line-height: 42px; border: 1px solid #dddddd; padding: 0 10px 0 40px;}
.user_name{/* margin: 0 0 20px 20px;*/}
.pass_word{ margin:0 0 24px 20px;}
.inp_text span i{ display: block; width: 20px; height: 20px; margin: 12px 0 0 9px;}
.inp_text label{ position: absolute; bottom:-24px;left: 0; color: #FF0000;height:24px; line-height: 24px; float: left; width: 100%;}
.code label{ position: absolute; bottom:-24px;left: 0;}
.user_name span i{background:url(../images/icont.png) no-repeat -23px -86px;}
.pass_word span i{background:url(../images/icont.png) no-repeat -23px -113px;}
.error_tips{ width: 300px; height: 24px; line-height: 24px; color: #f00; float: left; margin: 0 0 0 20px; text-align: right;}
.remember{width:300px; height: 20px; float: left; margin:0 0 0 20px;}
.remember span{ display: block; color: #666; cursor: pointer;}
.remember span a{ color: #666;}
.rem_user_n input{ vertical-align: -2px; display: inline-block; margin: 0 5px 0 0;}

.rem_user_n i{ display:block; width: 12px; height: 12px; margin: 0 5px 0 0; background:url(../images/icont.png) no-repeat -5px -142px;vertical-align: middle; float: left;}
.must_login{ font-size: 16px; width: 300px; height: 48px; border: none; background:url(../images/icont.png) no-repeat -200px 0 ; color: #fff; line-height: 48px; margin: 20px 0 0 20px; float: left;}
.therr_dl{ height: 60px; float: left; margin:20px 0 0;text-align: center; width:338px;}
.therr_dl a{ display:inline-block; width: 60px; height: 60px; margin: 0 15px;}
.therr_dl a.qq_dl{ background:url(../images/icont.png) no-repeat 0 -164px;}
.therr_dl a.wb_dl{ background:url(../images/icont.png) no-repeat 0 -226px;}
.therr_dl a.wx_dl{ background:url(../images/icont.png) no-repeat 0 -288px;}
/*****************/
.inp_three{ margin: 0 0 20px 20px;}
.inp_three input{ padding: 0 10px; width:278px;}
.register{ height:auto;margin-top: -225px; padding: 0 0 30px;}
.code{ margin:  0 0 24px 19px; position: relative;}
.code .code_text{ width: 138px; padding: 0 10px; float: left;}
.code .code_but{ width: 108px; height: 44px; line-height: 44px; background: #f5f5f5; float: left; text-align: center; padding: 0; margin: 0 0 0 10px; border-radius:5px; font-size: 14px; color: #666;}
.code a{ display: block; line-height: 44px; float: left; color: #666;}
.code img{ width: 80px; height: 44px; float: left; margin: 0 10px;}
.iphone-but{ display: none; width: 134px; height: 44px; line-height: 44px; background: #f5f5f5; float: left; text-align: center; padding: 0; margin: 0 0 0 10px; border-radius:5px; font-size: 14px; color: #666; position: absolute; right: 0; top: 0;}
.code .iphone-but a{ text-align: center; width: 134px; height: 44px; color: #666;}
/***********************************/
.success{ width: 100%; height: 530px; background: #f7f7f7; margin: 0 auto;}
.su_box{ width:1198px; height:448px; position: relative; top: 30px; margin: 0 auto; background: #fff; border: 1px solid #ebebeb;}
.su_box p{ width: 100%; float: left; text-align: center;}
.su_box .icon_tp{ height: 46px; margin: 140px 0 0;}
.su_box .icon_tp span{ display: inline-block;}
.su_box .tips_w{ height: 24px; line-height: 24px; color: #333; font-size: 16px; padding: 20px 0 30px;}
.su_box .an_tips a{ display:inline-block; width: 98px; height: 38px; text-align: center; line-height: 38px; border: 1px solid #dddddd; background: #f0f0f0; color: #333; margin: 0 5px; border-radius:5px ;}
/******************/
/**set_box**********************/
.set_box{ width: 100%; height: 530px; background: #f7f7f7; margin: 0 auto;}
.set_cont{ width:1198px; height:448px; position: relative; top: 30px; margin: 0 auto; background: #fff; border: 1px solid #ebebeb;}
.three_step{ width: 680px; height: 60px; margin: 60px auto 0;}
.three_step li{ float: left;}
.three_step li span{ display: block; float: left; height: 60px; text-align: center;}
.three_step li span i{ display:inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;background:url(../images/yq2_05.png) no-repeat;color: #666666}
.three_step li span b{ margin: 10px 0 0; font-weight: 100; font-size: 14px; color: #666666; text-align: center; width:60px; display: block;}
.three_step li em{ margin: 10px 0 0; display: block; float: left; width: 250px; height: 4px; overflow: hidden; background: #e2e2e2}
.three_step li.active span i{ background: url(../images/yq2_03.png) no-repeat; color: #fff;}
.three_step li.active span b{ color: #01D590;}
.three_step li.active em{ background: #01D590;}
/**************************************/
.find_mm{ width: 340px; height: 210px; margin: 60px auto 0;}
.find_mm label{ width: 340px; height: 70px; float: left;}
.find_mm label span{ float: left;font-size: 14px; color: #333; width: 100px; text-align: right; display: block; line-height:38px;}
.find_mm label span b{ color: #F52E37;}
.find_mm label input{ width: 238px; height: 38px; line-height: 38px; border: 1px solid #e6e6e6; float: left;}
.find_mm label p{ color: #f52e37; padding: 0 0 0 100px; width: 240px; float: left; height: 24px; line-height: 24px;}
.find_mm label input.code_t{ width: 128px;}
.hove_code{ display: block; width: 98px; height: 38px; border: 1px solid #dddddd; background: #f0f0f0; float: left; color: #333; text-align: center; line-height: 38px; margin: 0 0 0 10px;border-radius:3px;}
.verify{ width: 240px; height: 40px; margin: 15px 0 0 100px; float: left; color: #fff; font-size: 14px; background: #01D590; border-radius:2px;}
.su_box2{ width: 340px; height: 210px; border: none; margin: 20px auto 0;}
.su_box2 .icon_tp{ margin: 0;}






.footer{ width: 100%; height: 210px; background: #ffffff; margin: 0 auto;}
.footer p{ width: 1200px; height: 80px; line-height: 80px; margin: 0 auto; text-align: center; color:#666;}










