{php $phone_visit_type = isAppVisit();}
{if false === $phone_visit_type}
  <!--footer begin-->
  <div class="footer">
    <div class="bom_bg">
      <span class="bom_bgL"></span>
      <span class="bom_bgC"></span>
      <span class="bom_bgR"></span>
    </div>
    <div class="foot">
      <p>铭万版权所有&copy;2004-2013 京ICP证050659号</p>
      <p>铭万全国统一客户服务热线：400-700-1818</p>
      <p>客户服务邮箱：service@mainone.cn</p>
    </div>
  </div>
  <!--footer end-->
  <div style='text-align:center'>
    手机版 | <a href='{URL_HOST}index/index/changeEdition'>电脑版</a>
  </div>
{/if}
  <script type="text/javascript" src="{JS_PATH}/mainslide2.js"></script>
  <script type="text/javascript" src="{JS_PATH}/common.js"></script>
</body>
</html>
