<!--文章、商品搜索，列表-->

{include 'header.html'}
<!--loading样式 begin-->
<style type="text/css">
.more_loader_spinner{width:20px; height:20px; margin:10px auto; background: url(loader.gif) no-repeat;}
</style>
<!--loading样式 end-->
<!--加载更多 beign-->
<script type="text/javascript">
var mid = "{$mid}";
var keywords = "{$keywords}";
var cid = "{$cid}";
</script>
<script type="text/javascript" src="{JS_PATH}/jquery.more.js"></script>
<script type="text/javascript">
$(function(){
	$('#more').more({
        'address' : "{URL_HOST}mobile/index/searchResult",
        'amount' : "{if $mid == 2}{$base_set['product_list_pagesize']}{else}{$base_set['article_list_pagesize']}{/if}",
        'template' : '.single_item',
        'trigger' : '.loading',
        'no_data' : '.empty',
        'before' : '#before',
        'title_count' :   '10',             //标题字数,0表示不限制
        'brief_count' :   '60'             //简介字数,0表示不限制
    })
});
</script>
<!--加载更多 end-->
<!--搜索域 begin-->
<div class="search_wrap">
<!--子栏目 begin-->
{if $hid != 0}
    {mo:category cid="$hid" order="ordernum" type="child" return="data"}
    {if $data}
      <div class="search_box">
          <div class="search_txt">
             {foreach $data $key $value}
                {if $key != 0}&nbsp;&nbsp;|&nbsp;&nbsp;{/if}
                {if $value['columnattr'] <= 2}
                    <a {if $value['id'] == $cid}class='red'{/if} href="{URL_HOST}mobile/index/search/mid/{$value['model']}/cid/{$value['id']}">{$value["catname"]}</a>
                {/if}
                {if $value['columnattr'] == 3}
                    <a href="{$value['filepath']}">{$value["catname"]}</a>
                {/if}
                {if $value['columnattr'] == 4}
                    <a href="{URL_HOST}mobile/index/category/cid/{$value['id']}">{$value["catname"]}</a>
                {/if}
             {/foreach}
          </div>
      </div>
   {/if}
   {/mo:category}
{/if}
<!--子栏目 end-->
<!--搜索框 begin-->
  <div style="padding:10px 15px; border-bottom:#d9e8f5 solid 1px;">
    <div class="searchbar">
      {foreach $search_set $key $val}
        <a href="javascript:void(0)" class="{if $val['id'] == 1}search_btnR{else}search_btnB{/if} searchbtn" mid="{$val['id']}" style="margin-right:{if $key == 0}-57{else}-120{/if}px;">{$val['title']}</a><!--searchbtn-->
      {/foreach}
      <div class="search_con">
        <span class="search_ico"></span>
        <div>
            <form id='search_form' action="{URL_HOST}mobile/index/search" method='post'><!--search_form-->
                <input type="text" name='keywords' value="{if $keywords != '|'}{$keywords}{/if}" class="input01" placeholder="请输入搜索关键词"/>
                <input id='search_mid' name='mid' value="{$mid}" type="hidden" value=''/><!--search_mid-->
            </form>
        </div>
      </div>
    </div>
  </div>
  <!--搜索框 end-->
</div>
<!--搜索域 end-->
  
<div class="content">
    <div class="ulList03">
      <ul id="more"><!--more-->
        <li class="single_item"><!--single_item-->
            {if $mid == 2}
              <!--商品 begin-->
              {if in_array(1, $product_list_show)}
                  <a href="#" class="listImg url"><!--url-->
                    <img class='src' src="" width="{$base_set['product_picture_width']}" height="{$base_set['product_picture_height']}"/>
                  </a>
              {/if}
              <dl class="dlList01">
                <dt>
                    {if in_array(2, $product_list_show)}
                        <em class="brandid"></em><!--brandid-->
                    {/if}
                    <a href="#" class="url"><!--url-->
                        <span class="goodsname"></span><!--goodsname-->
                    </a>
                </dt>
                <dd class="ddP">
                    {if in_array(4, $product_list_show)}
                        <span class="right hits"></span><!--hits-->
                    {/if}
                    {if in_array(3, $product_list_show)}
                        <span style="display:inline-block;">价格：<em style="color:#333;" class='shopprice'></em><!--shopprice-->
                    {/if}
                    </span>
                </dd>
                {if in_array(5, $product_list_show)}
                    <dd class='brief'></dd><!--brief-->
                {/if}
              </dl>
              <!--商品 end-->
            {else}
              <!--文章 begin-->
              {if in_array(1, $arctile_list_show)}
                  <a href="#" class="listImg listImg90 url"><!--url-->
                    <img class='src' src="" width="{$base_set['article_picture_width']}" height="{$base_set['article_picture_height']}"/><!--src-->
                  </a>
              {/if}
              <dl class="dlList01">
                  <dt>
                    <a href="#" class='url title'></a><!--url title-->
                  </dt>
                  <dd class="ddP">
                    {if in_array(3, $arctile_list_show)}
                        <span class="hits right"></span><!--hits-->
                    {/if}
                    
                    {if in_array(2, $arctile_list_show)}
                        <em style="color:#777; display:inline-block;" class='created'></em><!--created-->
                    {/if}
                  </dd>
                  {if in_array(4, $arctile_list_show)}
                    <dd class="description"></dd><!--description-->
                  {/if}
              </dl>
              <!--文章 end-->
            {/if}
        </li>
        <li id='before' style='display:none'></li><!--before-->
      </ul>
      <div class='empty' style="display:none;"><!--empty-->
        <p style="padding:50px 0 70px; text-align:center; font-size:18px; line-height:28px;">暂时没有信息，请见谅！</p>
      </div>
    </div>
    <div class="mar_b10 showAll">
        <a href="javascript:void(0)" class="loading">加载更多</a>
    </div>
    {include 'interact.html'}
</div>
{include 'footer.html'}
<script type='text/javascript'>
$('.searchbtn').bind('click', function () {
    var mid = $(this).attr('mid');
    $('#search_mid').val(mid);
    $('#search_form').submit();
});
</script>